<template>
  <div>
    <!--begin::Content header-->
    <div
      v-if="!authenticated"
      class="position-absolute top-0 right-0 text-right mt-5 mb-0 mb-lg-0 flex-column-auto justify-content-center py-0 px-10"
    >
      <div>
        <span class="font-weight-bold font-size-3 text-dark-60"> Are you a <b>Phiscal</b> account holder? </span>
        <router-link class="font-weight-bold font-size-3 ml-2" :to="{ name: 'login' }"> Sign In! </router-link>
      </div>
      <div>
        <span class="font-weight-bold font-size-3 text-dark-60"> Lack One? </span>
        <router-link class="font-weight-bold font-size-3 ml-2" :to="{ name: 'register' }"> Sign Up! </router-link>
      </div>
    </div>
    <!--end::Content header-->

    <!--begin::Contacting-->
    <div class="login-form login-signin">
      <div class="text-center mb-10 mb-lg-20">
        <h3 class="font-size-h1">Contact Us</h3>
        <p class="text-muted font-weight-semi-bold">Fill in the enquiries form below, leaving ways for us to get back to you.</p>
      </div>
    </div>
    <!--end::Contacting-->

    <!--begin::Form-->
    <b-form class="form" @submit.stop.prevent="onSubmit">
      <div role="alert" v-bind:class="{ show: errors.length }" class="alert fade alert-danger rounded-0">
        <div class="alert-text" v-for="(error, i) in errors" :key="i">
          {{ error }}
        </div>
      </div>
      <b-container class="px-0" fluid>
        <b-row>
          <b-col sm="12" md="6" class="px-0">
            <b-form-group id="firstname-input-group" label="First Name" label-for="firstname-input">
              <b-form-input
                class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                id="firstname-input"
                name="firstname-input"
                v-model="$v.form.firstname.$model"
                :state="gui.validateState('firstname')"
                aria-describedby="firstname-feedback"
                :readonly="authenticated"
                placeholder="Kary"
                @input="gui.delayTouch($v.form.firstname)"
              />

              <b-form-invalid-feedback id="firstname-feedback">
                <span v-if="!$v.form.firstname.required">Fist Name is required.</span>
                <span v-if="!$v.form.firstname.minLength">Fist Names are at least 3 characters.</span>
                <span v-if="!$v.form.firstname.maxLength">Fist Names are at max 20 characters.</span>
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col sm="12" md="6" class="px-0">
            <b-form-group id="lastname-input-group" label="Last Name" label-for="lastname-input">
              <b-form-input
                class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                id="lastname-input"
                name="lastname-input"
                v-model="$v.form.lastname.$model"
                :state="gui.validateState('lastname')"
                aria-describedby="lastname-feedback"
                placeholder="Mullis"
                :readonly="authenticated"
                @input="gui.delayTouch($v.form.lastname)"
              />

              <b-form-invalid-feedback id="lastname-feedback">
                <span v-if="!$v.form.lastname.required">Last Name is required.</span>
                <span v-if="!$v.form.lastname.minLength">Last Names are at least 3 characters.</span>
                <span v-if="!$v.form.lastname.maxLength">Last Names are at max 20 characters.</span>
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>
      </b-container>

      <b-container class="px-0" fluid>
        <b-row>
          <b-col sm="12" md="6" class="px-0">
            <b-form-group id="phone-input-group" label="Phone" label-for="phone-input">
              <b-form-input
                v-if="authenticated"
                class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                v-model="$v.form.phone.$model"
                :state="gui.validateState('phone')"
                :readonly="authenticated"
              ></b-form-input>
              <VuePhoneNumberInput
                id="phone-input"
                v-if="!authenticated"
                class="form-control bg-secondary h-auto py-0 px-0 rounded-0"
                :border-radius="0"
                v-model="$v.form.phone.$model"
                @update="phoneInput"
              />
            </b-form-group>
          </b-col>
          <b-col sm="12" md="6" class="px-0">
            <b-form-group id="email-input-group" label="Email Address" label-for="email-input">
              <b-form-input
                class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                id="email-input"
                name="email-input"
                v-model="$v.form.email.$model"
                :state="gui.validateState('email')"
                aria-describedby="email-feedback"
                placeholder="karymullis@pcr.org"
                :readonly="authenticated"
                @input="gui.delayTouch($v.form.email)"
              />

              <b-form-invalid-feedback id="email-feedback">
                <span v-if="!$v.form.email.required">Email account is Required.</span>
                <span v-if="!$v.form.email.email">Provided a valid Email Address.</span>
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>
      </b-container>

      <b-container class="px-0" fluid>
        <b-row>
          <b-col sm="12" class="px-0">
            <b-form-group id="subject-input-group" label="Subject" label-for="subject-input">
              <b-form-input
                class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                id="subject-input"
                name="subject-input"
                v-model="$v.form.subject.$model"
                :state="gui.validateState('subject')"
                aria-describedby="subject-feedback"
                placeholder="Inquiry Subject Matter"
                @input="gui.delayTouch($v.form.subject)"
              />

              <b-form-invalid-feedback id="subject-feedback">
                <span v-if="!$v.form.subject.required">Please supply inquiry Subject</span>
                <span v-if="!$v.form.subject.minLength">Should be at least 5 characters.</span>
                <span v-if="!$v.form.subject.maxLength">Fist Names are at most 90 characters.</span>
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>
      </b-container>

      <b-container class="px-0" fluid>
        <b-row>
          <b-col sm="12" class="px-0">
            <b-form-group id="content-input-group" label="Inquiry" label-for="content-input">
              <b-form-textarea
                class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                id="content-input"
                name="content-input"
                v-model="$v.form.content.$model"
                :state="gui.validateState('content')"
                aria-describedby="content-feedback"
                placeholder="Type your Inquiry here"
                @input="gui.delayTouch($v.form.content)"
              />

              <b-form-invalid-feedback id="content-feedback">
                <span v-if="!$v.form.content.required">Please provide your Inquiry</span>
                <span v-if="!$v.form.content.minWords">Should be at least 8 words.</span>
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>
      </b-container>

      <!--begin::Action-->
      <div class="form-group d-flex flex-wrap flex-center">
        <b-button
          type="submit"
          :disabled="pageBusy"
          :class="{ 'spinner spinner-light spinner-right': pageBusy }"
          class="btn btn-dark font-weight-bold px-9 py-2 my-2 font-size-3 mx-4"
          squared
        >
          Submit
        </b-button>
        <b-button
          :disabled="pageBusy"
          v-on:click="$router.push('/')"
          class="btn btn-light-dark font-weight-bold px-9 py-2 my-2 font-size-3 mx-4"
          squared
          >Cancel</b-button
        >
      </div>
      <!--end::Action-->
    </b-form>
    <!--end::Form-->
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

import { validationMixin } from 'vuelidate';
import { email, required, minLength, maxLength } from 'vuelidate/lib/validators';

import VuePhoneNumberInput from 'vue-phone-number-input';
import 'vue-phone-number-input/dist/vue-phone-number-input.css';

import Gui from '@/assets/js/logic/template';

import { MAKE_INQUIRY } from '@/core/store/generic.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'ContactUs',
  components: {
    VuePhoneNumberInput
  },
  computed: {
    ...mapGetters('session', ['authenticated', 'currentUser', 'pageBusy'])
  },
  data: function () {
    return {
      gui: new Gui(this),
      form: {
        firstname: null,
        lastname: null,
        phone: null,
        email: null,
        subject: null,
        content: null
      },
      phone: '',
      errors: []
    };
  },
  mounted: async function () {
    if (this.authenticated) {
      this.form.firstname = this.currentUser.firstname;
      this.form.lastname = this.currentUser.lastname;
      this.form.email = this.currentUser.email;
      this.form.phone = this.phone = this.currentUser.phone;
    }
  },
  validations: {
    form: {
      firstname: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(20)
      },
      lastname: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(20)
      },
      phone: {},
      email: {
        required,
        email
      },
      subject: {
        required,
        minLength: minLength(5),
        maxLength: maxLength(90)
      },
      content: {
        required,
        minWords: function (text) {
          if (!required(text)) return true;
          return text.split(' ').length > 6;
        }
      }
    }
  },
  methods: {
    ...mapActions('generic', [MAKE_INQUIRY]),
    ...mapMutations('session', [SET_BUSY]),
    phoneInput: function (e) {
      if (e.isValid) {
        this.form.phone = this.phone = e.formatInternational;
      }
    },
    onSubmit: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      this[SET_BUSY](true);

      let input = this.form;
      let feedback = `Thank you for your inquiry. By notification, we'll get back to you shortly.`;

      if (!this.authenticated) {
        input.phone = this.phone;
        feedback = `Thank you for your inquiry. Using your mailbox at ${this.form.email}, we'll get back to you shortly.`;
      }

      // send register request
      await this[MAKE_INQUIRY](input)
        .then(() => {
          this.$emit('showStatus', 'Query Sent!', feedback);
          this.form = {
            firstname: null,
            lastname: null,
            phone: null,
            email: null,
            subject: null,
            content: null
          };
        })
        .catch(({ errors }) => {
          this.errors = errors;
        });

      this[SET_BUSY](false);
    }
  }
};
</script>

<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
</style>
