<template>
  <div>
    <!--begin::Content header-->
    <div class="position-absolute top-0 right-0 text-right mt-5 mb-0 mb-lg-0 flex-column-auto justify-content-center py-0 px-10">
      <div>
        <span class="font-weight-bold font-size-3 text-dark-60"> Don't have an account yet? </span>
        <router-link class="font-weight-bold font-size-3 ml-2" :to="{ name: 'register' }"> Sign Up! </router-link>
      </div>
      <div>
        <span class="font-weight-bold font-size-3 text-dark-60"> Remembered Password? </span>
        <router-link class="font-weight-bold font-size-3 ml-2" :to="{ name: 'login' }"> Login! </router-link>
      </div>
    </div>
    <!--end::Content header-->

    <!--begin::Reset-->
    <div class="login-form login-signin">
      <div class="text-center mb-0 mb-lg-5">
        <h3 class="font-size-h1">Password Reset</h3>
        <p class="text-muted font-weight-semi-bold">Supply your email address to receive an email with link to <b>Reset</b> Password</p>
      </div>

      <!--begin::Form-->
      <b-form class="form" @submit.stop.prevent="onSubmit">
        <div role="alert" v-bind:class="{ show: errors.length }" class="alert fade alert-danger rounded-0">
          <div class="alert-text" v-for="(error, i) in errors" :key="i">
            {{ error }}
          </div>
        </div>

        <b-form-group id="email-input-group" label="Email Address" label-for="email-input">
          <b-form-input
            class="form-control form-control-solid h-auto py-3 px-4"
            type="email"
            id="email-input"
            name="email-input"
            placeholder="username@domain.tld"
            @input="gui.delayTouch($v.form.email)"
            v-model="$v.form.email.$model"
            :state="gui.validateState('email')"
            aria-describedby="email-input-feedback"
          ></b-form-input>

          <b-form-invalid-feedback id="email-input-feedback">
            <span v-if="!$v.form.email.required">Please supply your login email account.</span>
            <span v-if="!$v.form.email.email">Provided a valid Email Address.</span>
            <span v-if="!$v.form.email.accoundFound">Account with such email address wasn't found.</span>
          </b-form-invalid-feedback>
        </b-form-group>

        <!--begin::Action-->
        <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
          <b-button
            type="submit"
            :disabled="busy"
            :class="{ 'spinner spinner-light spinner-right': busy }"
            class="btn btn-dark font-weight-bold px-9 py-2 my-2 font-size-4"
            squared
            >Send Request</b-button
          >
        </div>
        <!--end::Action-->
      </b-form>
      <!--end::Form-->
    </div>
    <!--end::Eeset-->
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { validationMixin } from 'vuelidate';
import { email, required } from 'vuelidate/lib/validators';

import Gui from '@/assets/js/logic/template';

import { FORGOT_LOGIN } from '@/core/store/user/session.module';
import { CHECK } from '@/core/store/user/index.module';

export default {
  mixins: [validationMixin],
  name: 'Forgot',
  computed: {
    ...mapGetters('session', ['authenticated'])
  },
  data: function () {
    return {
      gui: new Gui(this),
      form: {
        email: ''
      },
      busy: false,
      errors: []
    };
  },
  mounted: function () {
    if (this.authenticated) {
      this.$router.push({ name: 'monitor' });
    }
  },
  validations: {
    form: {
      email: {
        required,
        email,
        accoundFound: async function (value) {
          if (!required(value)) return true;
          if (!email(value)) return true;
          const { payload } = await this[CHECK]({ target: 'email', text: value }).catch(({ errors }) => {
            this.errors = errors;
          });
          return payload !== false;
        }
      }
    }
  },
  methods: {
    ...mapActions('session', [FORGOT_LOGIN]),
    ...mapActions('user', [CHECK]),
    onSubmit: async function () {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      this.busy = true;

      // send reset request
      await this[FORGOT_LOGIN](this.form)
        .then(({ payload }) => {
          this.form.email = null;
          const info =
            "If you can't find this email by your inbox, please check for it in the spam/junk mail.<br/>" +
            "Gmail might have this email catalogued by the 'Promotions' tab.";
          this.$emit('showStatus', 'Process Completed!', `<p>${payload}</p><p>${info}</p>`);
        })
        .catch(({ errors }) => {
          this.errors = errors;
          // set spinner to submit button
        });
      this.busy = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
</style>
