<template>
  <div>
    <!--begin::Content header-->
    <div class="position-absolute top-0 right-0 text-right mt-5 mb-0 mb-lg-0 flex-column-auto justify-content-center py-0 px-10">
      <div>
        <span class="font-weight-bold font-size-3 text-dark-60"> Don't have an account yet? </span>
        <router-link class="font-weight-bold font-size-3 ml-2" :to="{ name: 'register' }"> Sign Up! </router-link>
      </div>
      <div>
        <span class="font-weight-bold font-size-3 text-dark-60"> Forgot Password? </span>
        <router-link class="font-weight-bold font-size-3 ml-2" :to="{ name: 'forgot' }"> Perform Reset! </router-link>
      </div>
    </div>
    <!--end::Content header-->

    <!--begin::Signin-->
    <div class="login-form login-signin">
      <div class="text-center mb-10 mb-lg-20">
        <h3 class="font-size-h1">Sign In</h3>
        <p class="text-muted font-weight-semi-bold">User your Phiscal account to access Modules associated your subscription</p>
      </div>

      <!--begin::Form-->
      <b-form class="form" @submit.stop.prevent="onSubmit">
        <div role="alert" v-bind:class="{ show: errors.length }" class="alert fade alert-danger rounded-0">
          <div class="alert-text" v-for="(error, i) in errors" :key="i">
            {{ error }}
          </div>
        </div>

        <b-form-group id="email-input-group" label="Email Address" label-for="email-input">
          <b-form-input
            class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
            type="email"
            id="email-input"
            name="email-input"
            placeholder="username@domain.tld"
            @input="gui.delayTouch($v.form.email)"
            v-model="$v.form.email.$model"
            :state="gui.validateState('email')"
            aria-describedby="email-input-feedback"
          ></b-form-input>

          <b-form-invalid-feedback id="email-input-feedback">
            <span v-if="!$v.form.email.email">Invalid Email Address.</span>
            <span v-if="!$v.form.email.required">Please supply your login Email Account.</span>
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group id="password-input-group" label="Password" label-for="password-input">
          <b-form-input
            class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
            type="password"
            id="password-input"
            name="password-input"
            placeholder="supersecretphrase"
            @input="gui.delayTouch($v.form.password)"
            v-model="$v.form.password.$model"
            :state="gui.validateState('password')"
            aria-describedby="password-input-feedback"
          ></b-form-input>

          <b-form-invalid-feedback id="password-input-feedback"> Password is required. </b-form-invalid-feedback>
        </b-form-group>

        <!--begin::Action-->
        <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
          <b-form-checkbox
            name="remember-input"
            size="lg"
            class="text-dark-60 text-hover-primary my-3 mr-2 cursor-pointer"
            v-model="$v.form.remember.$model"
            switch
            ><b class="cursor-pointer">Remember Me</b>
          </b-form-checkbox>
          <b-button
            type="submit"
            :disabled="pageBusy"
            :class="{ 'spinner spinner-light spinner-right': pageBusy }"
            class="btn btn-dark font-weight-bold px-9 py-2 my-2 font-size-4"
            squared
            >Sign In</b-button
          >
        </div>
        <!--end::Action-->
      </b-form>
      <!--end::Form-->
    </div>
    <!--end::Signin-->
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

import { validationMixin } from 'vuelidate';
import { email, minLength, required } from 'vuelidate/lib/validators';

import Gui from '@/assets/js/logic/template';

import { ADD_BODY_CLASSNAME, REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { AUTH, SET_BUSY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'Login',
  computed: {
    ...mapGetters('session', ['authenticated', 'pageBusy'])
  },
  data: function () {
    return {
      gui: new Gui(this),
      form: {
        email: '',
        password: '',
        remember: false
      },
      errors: []
    };
  },
  mounted: function () {
    if (this.authenticated) {
      this.$router.push({ name: 'monitor' });
    }
    this.errors = this.$route.params.errors || [];
  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        minLength: minLength(3)
      },
      remember: {}
    }
  },
  methods: {
    ...mapActions('session', [AUTH]),
    ...mapMutations('session', [SET_BUSY]),
    onSubmit: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      this[SET_BUSY](true);

      // send login request
      await this.$store.dispatch(ADD_BODY_CLASSNAME, 'page-loading');
      await this[AUTH](this.form)
        .then(() => {
          this.$router.push({ name: 'monitor' }).catch(this.gui.toast);
        })
        .catch(({ errors }) => {
          this.errors = errors;
          this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
        });
      this[SET_BUSY](false);
    }
  }
};
</script>

<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
</style>
