<template>
  <div>
    <!--begin::Content header-->
    <div class="position-absolute top-0 right-0 text-right mt-5 mb-15 mb-lg-0 flex-column-auto justify-content-center py-5 px-10">
      <span class="font-weight-bold font-size-3 text-dark-60"> Already have an account? </span>
      <router-link class="font-weight-bold font-size-3 ml-2" :to="{ name: 'login' }"> Sign In! </router-link>
    </div>
    <!--end::Content header-->

    <!--begin::Signup-->
    <div class="login-form login-signin">
      <div class="text-center mb-10">
        <h3 class="font-size-h1">Sign Up</h3>
        <p class="text-muted font-weight-semi-bold">Fill up the registration form below to claim yourself a <b>Phiscal</b> account</p>
      </div>

      <!--begin::Form-->
      <b-form class="form" @submit.stop.prevent="onSubmit">
        <div role="alert" v-bind:class="{ show: errors.length }" class="alert fade alert-danger">
          <div class="alert-text" v-for="(error, i) in errors" :key="i">
            {{ error }}
          </div>
        </div>

        <b-container class="px-0" fluid>
          <b-row>
            <b-col sm="12" md="4" class="px-0">
              <b-form-group
                id="firstname-input-group"
                label-class="required"
                label="First Name"
                label-for="firstname-input"
                description="Given Name"
              >
                <b-form-input
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  id="firstname-input"
                  v-model="$v.form.firstname.$model"
                  :state="validateState($v.form.firstname)"
                  aria-describedby="firstname-feedback"
                  placeholder="Please key-in First Name here"
                  @input="gui.delayTouch($v.form.firstname)"
                ></b-form-input>

                <b-form-invalid-feedback id="firstname-feedback">
                  <span v-if="!$v.form.firstname.required">First Name is required.</span>
                  <span v-if="!$v.form.firstname.minLength">First Names are at least 2 characters.</span>
                  <span v-if="!$v.form.firstname.maxLength">First Names are at max 20 characters.</span>
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>

            <b-col sm="12" md="4" class="px-0">
              <b-form-group
                id="lastname-input-group"
                label-class="required"
                label="Last Name"
                label-for="lastname-input"
                description="Family Name"
              >
                <b-form-input
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  id="lastname-input"
                  v-model="$v.form.lastname.$model"
                  :state="validateState($v.form.lastname)"
                  aria-describedby="lastname-feedback"
                  placeholder="Please key-in Last Name here"
                  @input="gui.delayTouch($v.form.lastname)"
                ></b-form-input>

                <b-form-invalid-feedback id="lastname-feedback">
                  <span v-if="!$v.form.lastname.required">Last Name is required.</span>
                  <span v-if="!$v.form.lastname.minLength">Last Names are at least 2 characters.</span>
                  <span v-if="!$v.form.lastname.maxLength">Last Names are at max 20 characters.</span>
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>

            <b-col sm="12" md="4" class="px-0">
              <b-form-group
                id="nationality-input-group"
                label-class="required"
                label="Nationality"
                label-for="nationality-select"
                description="Country of Origin"
              >
                <b-form-select
                  v-model="$v.form.nationality.$model"
                  :state="validateState($v.form.nationality)"
                  id="nationality-select"
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  :options="countries"
                  aria-describedby="nationality-feedback"
                >
                </b-form-select>

                <b-form-invalid-feedback id="nationality-feedback">
                  <span v-if="!$v.form.nationality.required">Nationality is required.</span>
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>

        <b-container class="px-0" fluid>
          <b-row>
            <b-col sm="12" md="6" class="px-0">
              <b-form-group
                id="idnumber-input-group"
                :label-class="{ required: form.nationality === 'ZA' }"
                label="ID Number"
                label-for="idnumber-input"
                description="Some countries call it the Social Security Number"
              >
                <b-form-input
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  id="idnumber-input"
                  v-model="$v.form.idnumber.$model"
                  :state="validateState($v.form.idnumber)"
                  aria-describedby="idnumber-feedback"
                  placeholder="Please don't use spaces"
                  @input="gui.delayTouch($v.form.idnumber)"
                ></b-form-input>

                <b-form-invalid-feedback id="idnumber-feedback">
                  <span v-if="!$v.form.idnumber.required">ID Number is Required.</span>
                  <span v-if="!$v.form.idnumber.rsaId">Provided invalid ID Number.</span>
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col sm="12" md="6" class="px-0">
              <b-form-group
                id="email-input-group"
                label-class="required"
                label="Email Address"
                label-for="email-input"
                description="For outside Phiscal Communication"
              >
                <b-form-input
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  id="email-input"
                  v-model="$v.form.email.$model"
                  :state="validateState($v.form.email)"
                  aria-describedby="email-feedback"
                  placeholder="Please key-in your Email Address here"
                  @input="gui.delayTouch($v.form.email)"
                ></b-form-input>

                <b-form-invalid-feedback id="email-feedback">
                  <span v-if="!$v.form.email.required">Email account is Required.</span>
                  <span v-if="!$v.form.email.email">Provided a valid Email Address.</span>
                  <span v-if="!$v.form.email.unique">Email Address matched in Database.</span>
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>

        <b-container class="px-0" fluid>
          <b-row>
            <b-col sm="12" md="6" class="px-0">
              <b-form-group
                id="passwd-input-group-0"
                label-class="required"
                label="Strong Password"
                label-for="passwd-input-0"
                description="Creating New Password"
              >
                <b-form-input
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  type="password"
                  id="passwd-input-0"
                  v-model="$v.form.password.$model"
                  :state="validateState($v.form.password)"
                  aria-describedby="passwd-0-feedback"
                  placeholder="Please key-in new Password here"
                  @input="gui.delayTouch($v.form.password)"
                />
                <b-form-invalid-feedback id="passwd-0-feedback">
                  <span v-if="!$v.form.password.required">Strong Password required.</span>
                  <span v-if="!$v.form.password.minLength">Use at minimum 8 characters.</span>
                  <span v-if="!$v.form.password.summary">
                    <span v-if="!$v.form.password.lowercase"><u>Lowercases</u>, </span>
                    <span v-if="!$v.form.password.uppercase"><u>Uppercases</u>, </span>
                    <span v-if="!$v.form.password.symbol"><u>Symbols</u>, </span>
                    <span v-if="!$v.form.password.digit"><u>Digits</u>, </span>
                    also required.
                  </span>
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col sm="12" md="6" class="px-0">
              <b-form-group
                id="passwd-input-group-1"
                label-class="required"
                label="Strong Password"
                label-for="passwd-input-1"
                description="Confirming New Password"
              >
                <b-form-input
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  type="password"
                  id="passwd-input-1"
                  v-model="$v.repasswd.$model"
                  :state="validateState($v.repasswd)"
                  aria-describedby="passwd-1-feedback"
                  placeholder="Please retype new Password here"
                  @input="gui.delayTouch($v.repasswd)"
                />
                <b-form-invalid-feedback id="passwd-1-feedback"> Passwords need to Match. </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>

        <b-form-group id="tnc-input-group" class="text-center">
          <b-form-checkbox id="tnc-input" v-model="$v.tnc.$model" name="tnc-input" :state="validateState($v.tnc)">
            I accept the <router-link :to="{ name: 'tnc' }" target="_blank">terms of service</router-link>
          </b-form-checkbox>
          <div ref="tnc_error" class="input-error" v-if="!$v.tnc.accepted">Please read and accept Terms of Services.</div>
        </b-form-group>

        <!--begin::Action-->
        <div class="form-group d-flex flex-wrap flex-center">
          <b-button
            type="submit"
            :disabled="pageBusy"
            :class="{ 'spinner spinner-light spinner-right': pageBusy }"
            class="btn btn-dark font-weight-bold px-9 py-2 my-2 font-size-3 mx-4"
            squared
          >
            Submit
          </b-button>
          <b-button v-on:click="$router.push('/')" class="btn btn-light-dark font-weight-bold px-9 py-2 my-2 font-size-3 mx-4" squared
            >Cancel</b-button
          >
        </div>
        <!--end::Action-->
      </b-form>
      <!--end::Form-->
    </div>
    <!--end::Signup-->
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

import { validationMixin } from 'vuelidate';
import { email, required, requiredIf, minLength, maxLength } from 'vuelidate/lib/validators';

const validSouthAfricanId = require('valid-south-african-id');
const { passwordStrength } = require('check-password-strength');

import Gui from '@/assets/js/logic/template';

import { NATIONS } from '@/core/store/generic.module';
import { SIGNUP, SET_BUSY } from '@/core/store/user/session.module';
import { CHECK } from '@/core/store/user/index.module';

export default {
  mixins: [validationMixin],
  name: 'register',
  data: function () {
    return {
      gui: new Gui(this),
      form: {
        firstname: null,
        lastname: null,
        nationality: null,
        idnumber: null,
        email: null,
        password: null
      },
      repasswd: '',
      tnc: false,
      countries: [],
      busy: false,
      errors: []
    };
  },
  mounted: async function () {
    this.countries = await this[NATIONS]('array').catch(this.gui.toast);
    this.countries.push({ text: '-- Select Country --', value: null });
    if (this.authenticated) {
      this.$router.push({ name: 'monitor' });
    }
  },
  validations: {
    form: {
      firstname: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(20)
      },
      lastname: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(20)
      },
      nationality: {
        required
      },
      idnumber: {
        required: requiredIf(function () {
          return this.form.nationality === 'ZA';
        }),
        rsaId: function (value) {
          if (this.form.nationality !== 'ZA') return true;
          if (!required(value)) return true;
          return validSouthAfricanId(value);
        }
      },
      email: {
        required,
        email,
        unique: async function (value) {
          if (!required(value)) return true;
          if (!email(value)) return true;
          const { payload } = await this[CHECK]({ target: 'email', text: value }).catch(({ errors }) => {
            this.errors = errors;
          });
          return payload === false;
        }
      },
      password: {
        required,
        minLength: minLength(8),
        summary: function (value) {
          if (typeof value === 'string' && value.length < 8) return true;
          return passwordStrength(value).id > 1;
        },
        lowercase: function (value) {
          if (typeof value === 'string' && value.length < 8) return true;
          return passwordStrength(value).contains.includes('lowercase');
        },
        uppercase: function (value) {
          if (typeof value === 'string' && value.length < 8) return true;
          return passwordStrength(value).contains.includes('uppercase');
        },
        symbol: function (value) {
          if (typeof value === 'string' && value.length < 8) return true;
          return passwordStrength(value).contains.includes('symbol');
        },
        digit: function (value) {
          if (typeof value === 'string' && value.length < 8) return true;
          return passwordStrength(value).contains.includes('number');
        }
      }
    },
    repasswd: {
      required,
      retype: function (value) {
        if (!required(value)) return true;
        return value === this.$v.form.password.$model;
      }
    },
    tnc: {
      accepted: function (value) {
        return value;
      }
    }
  },
  methods: {
    ...mapActions('generic', [NATIONS]),
    ...mapActions('session', [SIGNUP]),
    ...mapActions('user', [CHECK]),
    ...mapMutations('session', [SET_BUSY]),
    validateState: function (input) {
      const { $dirty, $error } = input;
      return $dirty ? !$error : null;
    },
    onSubmit: async function () {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }

      // send register request
      this[SET_BUSY](true);
      await this[SIGNUP](this.form)
        .then(() => this.$router.push({ name: 'signedup', params: { email: this.form.email } }))
        .catch(({ errors }) => {
          this.errors = errors;
        });
      this[SET_BUSY](false);
    }
  },
  computed: {
    ...mapGetters('session', ['authenticated'])
  }
};
</script>

<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
.input-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  color: #f64e60;
  font-weight: 400;
}
</style>
