<template>
  <section id="about-me">
    <div class="py-2"></div>

    <v-container class="text-center">
      <h2 class="display-1 font-weight-bold mb-3 h2">ABOUT PRODUCT</h2>

      <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
        Phiscal uses independent pieces (called <b><u>modules</u></b
        >) to facilitate business rules for different industries, doing it from a single Business Information System. Industries range from
        Salons, Car Washes, Retailers, Restaurants, etc. Phiscal simplifies complex tasks, having <b>modules</b> allowing businesses to
        automate the procurement process, inventory management, supply chain, invoicing, accounting, etc.
      </v-responsive>

      <v-btn color="grey" @click="$vuetify.goTo('#modules')" outlined large>
        <span class="grey--text text--darken-1 font-weight-bold"> Sample Modules </span>
      </v-btn>

      <v-responsive class="mx-auto mb-4" width="56">
        <v-divider class="mb-1"></v-divider>
        <v-divider></v-divider>
      </v-responsive>

      <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
        Phiscal also provides <u>Executive Management Systems</u> to facilitate decision making, by means of data <b>mining tools</b>.
      </v-responsive>

      <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#features')">
        <v-icon class="bounce-y">mdi-chevron-double-down</v-icon>
      </v-btn>
    </v-container>

    <div class="py-6"></div>
  </section>
</template>
<script>
export default {
  name: 'About'
};
</script>
<style>
.bounce-y {
  animation: bounce-y 1s ease infinite;
  position: relative;
}
@keyframes bounce-y {
  from {
    bottom: -5px;
  }
  50% {
    bottom: 5px;
  }
  to {
    bottom: -5px;
  }
}
</style>

<style scoped>
@font-face {
  font-family: 'Starlight';
  src: url('../../../../assets/font/starlight/Starlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.h2 {
  font-family: 'Starlight' !important;
}
</style>
