<template>
  <section id="features" class="grey lighten-3">
    <div class="py-2"></div>

    <v-container class="text-center">
      <h2 class="display-1 font-weight-bold mb-3">PRODUCT FEATURES</h2>

      <v-responsive class="mx-auto mb-2" width="56">
        <v-divider class="mb-1"></v-divider>

        <v-divider></v-divider>
      </v-responsive>

      <v-row>
        <v-col v-for="({ icon, title, text }, i) in features" :key="i" cols="12" md="4">
          <v-card class="py-6 px-4" color="grey lighten-5" flat>
            <v-theme-provider dark>
              <div>
                <v-avatar color="#444" size="88">
                  <v-icon large v-text="icon"></v-icon>
                </v-avatar>
              </div>
            </v-theme-provider>

            <v-card-title class="justify-center font-weight-black text-uppercase" v-text="title"></v-card-title>

            <v-card-text class="subtitle-1" v-text="text"> </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#modules')">
        <v-icon class="bounce-y">mdi-chevron-double-down</v-icon>
      </v-btn>
    </v-container>

    <div class="py-6"></div>
  </section>
</template>
<script>
export default {
  name: 'Features',
  data() {
    return {
      features: [
        {
          icon: 'mdi-update',
          title: 'Real-Time Mornitoring',
          text:
            'Get useful business data in real-time, from just a click of a button, from any point in time. Your Phiscal subscription allows you to tap into your business operations seamlessly from remote areas, fostering instant decision making.'
        },
        {
          icon: 'mdi-account-group-outline',
          title: 'Online Collaboration',
          text: 'Fosters for groups collaboration, by means of conferencing and team management suites, with 24/7 online access.'
        },
        {
          icon: 'mdi-account-cash',
          title: 'Specialised Billing',
          text:
            'The Phiscal Moduler system is tailored towards billing users specifically on the associated features, and nothing else. Simply put; an account is billed only the Modules associated with it.'
        }
      ]
    };
  }
};
</script>
