<template>
  <section id="giveitatry">
    <v-parallax
      :height="$vuetify.breakpoint.smAndDown ? 700 : 500"
      src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
    >
      <v-container fill-height>
        <v-row class="mx-auto">
          <v-col cols="12" md="12">
            <div class="text-center">
              <div class="display-3 font-weight-black mb-4 h1">Give It A Try</div>

              <div class="title font-weight-regular">Use form below to register for a Phiscal account</div>
              <div class="title font-weight-regular">Upon signup, you'll then be sent a verification email to activate account.</div>
              <div class="title font-weight-regular">
                Log into your mailbox and locate the Phiscal email to complete signup, and start using product.
              </div>
            </div>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-btn color="white" class="align-self-end" fab outlined @click="$vuetify.goTo('#register')">
            <v-icon class="bounce-y">mdi-chevron-double-down</v-icon>
          </v-btn>
        </v-row>
      </v-container>
    </v-parallax>
  </section>
</template>
<script>
export default {
  name: 'GiveItaTry'
};
</script>
<style scoped>
.h1 {
  font-size: 48px !important;
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: 64px !important;
  }
}
</style>
