<template>
  <section id="hero">
    <v-row no-gutters>
      <v-img :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'" src="img/bg/motion-in-gotham-skyline.jpeg">
        <v-theme-provider dark>
          <v-container fill-height>
            <v-row align="center" class="white--text mx-auto" justify="center">
              <v-col class="white--text text-center" cols="12" tag="h1">
                <span :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']" class="font-weight-light h2"> WELCOME TO </span>

                <br />

                <span :class="[$vuetify.breakpoint.smAndDown ? 'display-3' : 'display-4']" class="h1"> phiscal </span>
              </v-col>

              <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#about-me')">
                <v-icon class="bounce-y">mdi-chevron-double-down</v-icon>
              </v-btn>
            </v-row>
          </v-container>
        </v-theme-provider>
      </v-img>
    </v-row>
  </section>
</template>
<script>
export default {
  name: 'Hero'
};
</script>
<style scoped>
@font-face {
  font-family: 'Vermin';
  src: url('../../../../assets/font/vermin-vibes-redux/vermin_vibes_redux.eot?') format('eot'),
    url('../../../../assets/font/vermin-vibes-redux/vermin_vibes_redux.woff') format('woff'),
    url('../../../../assets/font/vermin-vibes-redux/vermin_vibes_redux.ttf') format('truetype'),
    url('../../../../assets/font/vermin-vibes-redux/vermin_vibes_redux.svg#Vermin-Vibes-Redux') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TinyFont';
  src: url('../../../../assets/font/tiny-font/TinyFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.h1,
.h2 {
  font-family: 'TinyFont' !important;
}
.h1 {
  font-size: 64px !important;
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: 128px !important;
  }
}
</style>
