<template>
  <div v-scroll="onScroll">
    <v-btn class="teleport" fab dark color="secondary" :class="{ 'd-none': !isVisible }" @click="$vuetify.goTo('#hero')">
      <v-icon x-large>mdi-chevron-up</v-icon>
    </v-btn>
    <Hero />
    <About />
    <Features />
    <Modules />
    <GiveItaTry v-if="!authenticated" />
    <Signup v-if="!authenticated" />
    <v-dialog transition="dialog-top-transition" v-model="dialog" max-width="600">
      <template v-slot:default>
        <v-card>
          <v-toolbar color="dark" dark>The Phiscal Team</v-toolbar>
          <v-card-text class="py-0">
            <div class="text-h5 pt-6" v-html="message" />
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn text @click="dialog = false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters } from 'vuex';
import Hero from './Hero.vue';
import About from './About.vue';
import Features from './Features.vue';
import Modules from './Modules.vue';
import GiveItaTry from './GiveItaTry.vue';
import Signup from './Signup.vue';

export default {
  name: 'Home',
  data() {
    return { isVisible: false, message: null, dialog: false };
  },
  computed: {
    ...mapGetters('session', ['authenticated'])
  },
  components: { Hero, About, Features, Modules, GiveItaTry, Signup },
  mounted: function () {
    let message = this.$route.params.message || false;
    if (typeof message === 'string') {
      this.dialog = true;
      this.message = message;
    }
  },
  methods: {
    onScroll: function ({ target }) {
      this.isVisible = target.documentElement.scrollTop > 250;
    }
  }
};
</script>

<style scoped>
.teleport {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 4;
}
</style>
