<template>
  <section id="modules">
    <div class="py-2"></div>

    <v-container>
      <h2 class="display-1 font-weight-bold mb-3 text-uppercase text-center">Flagship Modules</h2>

      <v-responsive class="mx-auto mb-2" width="56">
        <v-divider class="mb-1"></v-divider>

        <v-divider></v-divider>
      </v-responsive>

      <v-row>
        <v-col v-for="({ src, synopsis, title, backstory, depth }, i) in articles" :key="i" cols="12" md="4">
          <v-img :src="require(`@/assets/img/product/${src}`)" class="mb-4" height="275" max-width="100%"></v-img>

          <h3 class="font-weight-black mb-4 text-uppercase" v-text="title"></h3>

          <div class="title font-weight-light mb-5" v-text="synopsis"></div>

          <v-dialog transition="dialog-top-transition" max-width="856">
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" class="ml-n4 font-weight-black" text> Continue Reading </v-btn>
            </template>
            <template v-slot:default="dialog">
              <v-card class="mx-auto" tile outlined>
                <v-list-item three-line>
                  <v-list-item-content>
                    <div class="overline mb-4">{{ title }}</div>
                    <v-list-item-title class="headline mb-1"> Brief History </v-list-item-title>
                    <v-list-item-subtitle>{{ backstory }}</v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-avatar tile size="64" color="grey">
                    <v-img :src="require(`@/assets/img/product/${src}`)"></v-img>
                  </v-list-item-avatar>
                </v-list-item>

                <v-card-title class="headline"> Product </v-card-title>
                <v-card-text>
                  {{ depth }}
                </v-card-text>

                <v-card-actions>
                  <v-btn style="margin-left: auto" @click="dialog.value = false" outlined rounded text> Close </v-btn>
                </v-card-actions>
              </v-card>
            </template>
          </v-dialog>
        </v-col>
      </v-row>
      <v-row justify="center" v-if="!authenticated">
        <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#giveitatry')">
          <v-icon class="bounce-y">mdi-chevron-double-down</v-icon>
        </v-btn>
      </v-row>
    </v-container>

    <div class="py-6"></div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Modules',
  computed: {
    ...mapGetters('session', ['authenticated'])
  },
  data() {
    return {
      articles: [
        {
          src: 'homing.jpg',
          title: 'Homing',
          synopsis:
            'A comprehensive tool for the accommodation industry to manage and list respective properties to the public, for both - rental and sales.',
          backstory:
            'Began as a School of ICT university project back in 2017, but with a specification of a real-world product, Homing has evolved into something that even escapes imagination easily, interms of scope.',
          depth:
            'For Estate Agencies, Homing is a great tool to keep tabs on agents. For Estate Agents and individual Owners, Homing is a great tool to keep tabs on properties. For the Accommodation industry, Homing is great tool to keep tabs on rooms and tenants. For the general public, Homing is how you find accommodation in the 21st century.'
        },
        {
          src: 'spazilla.jpg',
          title: 'SpaZilla',
          synopsis:
            'A system that brings the car wash to you, not the other way round. Just request the Zilla from the nearest base to your doorstep, via the mobile or web app.',
          backstory:
            'Began as a business model idea in the intellectual capacity of one Lord Carrington, who looked at challenge posed by a predicament he was facing at that moment, with his car wash business.',
          depth:
            'SpaZilla gives mobility to otherwise rigid car wash businesses. With a request of an app, automobile owners can now request to have their vehicles washed from any of the covered areas. This application gives business owners of this industry a wider reach, and a bit of convenience for the vehicle owners.'
        },
        {
          src: 'netpain.jpg',
          title: 'NetPain',
          synopsis:
            'An application indulged with the virtues of handling the most painful segment of any business, watching cashflow exit the enterprise; the Phiscal payroll system.',
          backstory:
            'Began as an assessment given by the head of a programming firm in Port Elizabeth, to calibrate the competence of a potential employee. However, it turned out that the candidate took the project more seriously than initially observed.',
          depth:
            'This application, by its very definition, deals with the exit side of the spectrum in the cash flow. This process is one that most businesses rather not have, but important none the less, hence delegating such pain to an application designed for it.'
        }
      ]
    };
  }
};
</script>
