<template>
  <v-sheet id="register" color="#333333" dark tag="section" tile>
    <div class="py-2"></div>

    <v-container>
      <h2 class="display-1 font-weight-bold mb-3 text-uppercase text-center">Register</h2>

      <v-responsive class="mx-auto mb-2" width="56">
        <v-divider class="mb-1"></v-divider>

        <v-divider></v-divider>
      </v-responsive>

      <v-theme-provider dark>
        <form @submit.prevent="onSubmit">
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="form.firstname"
                :error-messages="fnameErrors"
                flat
                label="First Name"
                solo
                required
                @input="gui.delayTouch($v.form.firstname)"
                @blur="$v.form.firstname.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                v-model="form.lastname"
                :error-messages="lnameErrors"
                flat
                label="Last Name"
                solo
                required
                @input="gui.delayTouch($v.form.lastname)"
                @blur="$v.form.lastname.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="4">
              <v-select v-model="form.nationality" :items="countries" label="Nationality" flat solo />
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field
                v-model="form.idnumber"
                :error-messages="idnoErrors"
                flat
                label="ID Number"
                solo
                @input="gui.delayTouch($v.form.idnumber)"
                @blur="$v.form.idnumber.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field
                type="email"
                v-model="form.email"
                :error-messages="emailErrors"
                flat
                label="Email Address"
                solo
                required
                @input="gui.delayTouch($v.form.email)"
                @blur="$v.form.email.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                type="password"
                v-model="form.password"
                :error-messages="passwd0Errors"
                counter
                flat
                label="Create Password"
                solo
                required
                @input="gui.delayTouch($v.form.password)"
                @blur="$v.form.password.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                type="password"
                v-model="repasswd"
                :error-messages="passwd1Errors"
                counter
                flat
                label="Retype Password"
                solo
                required
                @input="gui.delayTouch($v.repasswd)"
                @blur="$v.repasswd.$touch()"
              ></v-text-field>
            </v-col>

            <v-col class="mx-auto py-0 mr-0 pr-0" cols="auto">
              <v-checkbox v-model="tnc" :error-messages="tncError" label="Accept " required @change="$v.tnc.$touch()"></v-checkbox>
            </v-col>

            <v-col class="mx-auto py-0 ml-0 pl-0" cols="auto">
              <v-btn to="/tnc" target="_blank" class="mt-4" plain text>Terms of Service</v-btn>
            </v-col>

            <v-col class="py-0" cols="12"></v-col>

            <v-col class="mx-auto py-0" cols="auto">
              <v-btn color="black" :loading="loading" x-large @click="onSubmit">
                <v-icon class="pr-5">mdi-badge-account-horizontal</v-icon> Submit
              </v-btn>
              <v-snackbar v-model="snack.active" :multi-line="snack.multiLine" color="deep-purple accent-4">
                <div class="text" v-for="(error, i) in errors" :key="i">
                  {{ error }}
                </div>

                <template v-slot:action="{ attrs }">
                  <v-btn text v-bind="attrs" @click="snack.active = false"> Close </v-btn>
                </template>
              </v-snackbar>
            </v-col>
          </v-row>
        </form>
      </v-theme-provider>
    </v-container>

    <div class="py-12"></div>
  </v-sheet>
</template>
<script>
import { mapActions } from 'vuex';
import { validationMixin } from 'vuelidate';
import { email, required, requiredIf, minLength, maxLength } from 'vuelidate/lib/validators';

const validSouthAfricanId = require('valid-south-african-id');
const { passwordStrength } = require('check-password-strength');

import Gui from '@/assets/js/logic/template';

import { NATIONS } from '@/core/store/generic.module';
import { SIGNUP } from '@/core/store/user/session.module';
import { CHECK } from '@/core/store/user/index.module';

export default {
  mixins: [validationMixin],
  name: 'Signup',
  data: function () {
    return {
      gui: new Gui(this),
      loading: false,
      snack: {
        multiLine: true,
        active: false
      },
      form: {
        firstname: null,
        lastname: null,
        email: null,
        nationality: null,
        idnumber: null,
        password: null
      },
      repasswd: null,
      tnc: false,
      countries: [],
      errors: []
    };
  },
  mounted: async function () {
    this.countries = await this[NATIONS]('array').catch((errors) => {
      this.errors = errors;
    });
  },
  validations: {
    form: {
      firstname: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(20)
      },
      lastname: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(20)
      },
      idnumber: {
        required: requiredIf(function () {
          return this.form.nationality === 'ZA';
        }),
        rsaId: function (value) {
          if (this.form.nationality !== 'ZA') return true;
          if (!required(value)) return true;
          return validSouthAfricanId(value);
        }
      },
      email: {
        required,
        email,
        uniqueEmail: async function (value) {
          if (!required(value)) return true;
          if (!email(value)) return true;
          const { payload } = await this[CHECK]({ target: 'email', text: value }).catch(({ errors }) => {
            this.errors = errors;
          });
          return payload === false;
        }
      },
      password: {
        required,
        minLength: minLength(8),
        summary: function (value) {
          if (typeof value === 'string' && value.length < 8) return true;
          return passwordStrength(value).id > 1;
        },
        lowercase: function (value) {
          if (typeof value === 'string' && value.length < 8) return true;
          return passwordStrength(value).contains.includes('lowercase');
        },
        uppercase: function (value) {
          if (typeof value === 'string' && value.length < 8) return true;
          return passwordStrength(value).contains.includes('uppercase');
        },
        symbol: function (value) {
          if (typeof value === 'string' && value.length < 8) return true;
          return passwordStrength(value).contains.includes('symbol');
        },
        digit: function (value) {
          if (typeof value === 'string' && value.length < 8) return true;
          return passwordStrength(value).contains.includes('number');
        }
      }
    },
    repasswd: {
      required,
      retype: function (value) {
        if (value === '') return true;
        return value === this.$v.form.password.$model;
      }
    },
    tnc: {
      accepted: function (value) {
        return value;
      }
    }
  },
  methods: {
    ...mapActions('generic', [NATIONS]),
    ...mapActions('user', [CHECK]),
    ...mapActions('session', [SIGNUP]),
    onSubmit: async function () {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      this.errors = [];
      this.loading = true;
      await this[SIGNUP](this.form)
        .then(() => this.$router.push({ name: 'signedup', params: { email: this.form.email } }))
        .catch(({ errors }) => {
          this.snack.active = true;
          this.errors = errors;
        });
      this.loading = false;
    }
  },
  computed: {
    fnameErrors: function () {
      const errors = [];
      if (!this.$v.form.firstname.$dirty) return errors;
      !this.$v.form.firstname.maxLength && errors.push('Name must be at most 20 characters long');
      !this.$v.form.firstname.minLength && errors.push('Name must be at least 3 characters short');
      !this.$v.form.firstname.required && errors.push('First Name is required.');
      return errors;
    },
    lnameErrors: function () {
      const errors = [];
      if (!this.$v.form.lastname.$dirty) return errors;
      !this.$v.form.lastname.maxLength && errors.push('Name must be at most 20 characters long');
      !this.$v.form.lastname.minLength && errors.push('Name must be at least 3 characters short');
      !this.$v.form.lastname.required && errors.push('Last Name is required.');
      return errors;
    },
    idnoErrors: function () {
      const errors = [];
      if (!this.$v.form.idnumber.$dirty) return errors;
      !this.$v.form.idnumber.rsaId && errors.push('Invalid RSA ID Number');
      !this.$v.form.idnumber.required && errors.push('ID Number is required.');
      return errors;
    },
    emailErrors: function () {
      const errors = [];
      if (!this.$v.form.email.$dirty) return errors;
      !this.$v.form.email.uniqueEmail && errors.push('Email Address matched in Database');
      !this.$v.form.email.email && errors.push('Invalid Email Address');
      !this.$v.form.email.required && errors.push('Email Account is required.');
      return errors;
    },
    passwd0Errors: function () {
      const errors = [];
      if (!this.$v.form.password.$dirty) return errors;
      !this.$v.form.password.digit && errors.push('Digits required');
      !this.$v.form.password.symbol && errors.push('Symbols required');
      !this.$v.form.password.uppercase && errors.push('Uppercases required');
      !this.$v.form.password.lowercase && errors.push('Lowercases required');
      !this.$v.form.password.minLength && errors.push('Password must be at least 8 characters short');
      !this.$v.form.password.required && errors.push('Please create strong Password.');
      return errors;
    },
    passwd1Errors: function () {
      const errors = [];
      if (!this.$v.repasswd.$dirty) return errors;
      !this.$v.repasswd.retype && errors.push("Passwords don't match");
      !this.$v.repasswd.required && errors.push('Please re-type Password.');
      return errors;
    },
    tncError: function () {
      const errors = [];
      if (!this.$v.tnc.$dirty) return errors;
      !this.$v.tnc.accepted && errors.push('Please READ and accept Terms of Service.');

      return errors;
    }
  }
};
</script>
