<template>
  <b-overlay :show="pageBusy" variant="white" spinner-type="grow" rounded="sm">
    <!--begin::Notice-->
    <b-alert v-for="(error, i) in errors" :key="i" show variant="danger" dismissible class="rounded-0">{{ error }}</b-alert>
    <b-alert :show="currentTenant !== false && currentTenant.type === 'U'" fade variant="white" class="rounded-0">
      <b-row>
        <b-col xl="8">
          <p>This section does not have use cases for the structure where the individual is the business (Freelance Agents).</p>
        </b-col>
        <b-col xl="4" class="text-right">
          <b-button v-if="currentUser.tenants.length > 1" variant="info" class="m-1" squared @click="$emit('tenantSwitch', true, 'admin')">
            Switch to Organization
          </b-button>
        </b-col>
      </b-row>
      <hr />
      <p>
        <span class="label label-inline label-pill label-info label-rounded mr-2"> INFO: </span>
        Administration includes managing information about the organization's <code>Branches</code> and <code>Employees</code>, which is
        relevant only on medium to large businesses.
      </p>
    </b-alert>
    <b-alert :show="currentRank.name === 'Employee'" fade variant="white" class="rounded-0">
      <p>This section is reversed for the organization's System Administrators.</p>
      <hr />
      <p>
        <span class="label label-inline label-pill label-info label-rounded mr-2"> INFO: </span>
        As an Employee, you shouldn't be here in the first place.
      </p>
    </b-alert>
    <!--end::Notice-->

    <b-card v-if="currentUser.tenants.length === 0" class="rounded-0" bg-variant="dark" text-variant="white" title="No Organization Found">
      <b-card-text> You don't seem to be administering any Organization at present. </b-card-text>
      <b-button @click="$emit('registerOrg', true, 'admin')" variant="outline-white" squared>Sign Up Organization</b-button>
    </b-card>

    <b-card
      v-if="currentUser.tenants.length > 0 && currentTenant === false"
      class="rounded-0"
      bg-variant="dark"
      text-variant="white"
      title="No Organization Selected"
    >
      <b-card-text> You don't seem to signed into an Organization at present. </b-card-text>
      <b-button @click="$emit('tenantSwitch', true, 'admin')" variant="outline-white" squared>Switch to Business</b-button>
    </b-card>

    <!--begin::Workspace-->
    <div v-if="currentRank.name === 'Administrator'">
      <b-card no-body>
        <b-tabs content-class="mt-3 rounded-0" card fill>
          <b-tab title="Branches" class="p-0" active>
            <Branches ref="branches" :nations="countries" />
          </b-tab>
          <b-tab title="Employees" class="p-0">
            <Employees ref="staff" :nations="countries" @report="report" />
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
    <!--end::Workspace-->

    <!--begin::Status Report Modal-->
    <b-modal ref="status-modal" size="lg" class="rounded-0" hide-footer>
      <b-card :title="message.title" img-src="img/logo/Illustrato.jpg" img-alt="Illustrato" img-top tag="article">
        <b-card-text v-html="message.text" />
        <b-button class="mt-3" variant="dark" block squared @click="$refs['status-modal'].hide()">Okay Thanks</b-button>
      </b-card>
    </b-modal>
    <!--end::Status Report Modal-->
  </b-overlay>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import { getCache } from '@/core/service/storage';
import Gui from '@/assets/js/logic/template';

import { NATIONS } from '@/core/store/generic.module';
import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { DATA_ORG } from '@/core/store/org/index.module';

import Branches from '@/view/page/dash/admin/Branches.vue';
import Employees from '@/view/page/dash/admin/Employees.vue';

export default {
  name: 'Admin',
  components: { Branches, Employees },
  computed: {
    ...mapGetters(['layoutConfig']),
    ...mapGetters('session', ['currentUser', 'currentTenant', 'currentRank', 'pageBusy']),

    config: function () {
      return this.layoutConfig();
    }
  },
  data: function () {
    return {
      tabIndex: 0,
      gui: new Gui(this),
      countries: {},
      message: { title: null, text: null },
      errors: []
    };
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Administration' }]);

    if (this.currentRank.name === 'Administrator') {
      this.countries = await this[NATIONS]().catch(this.gui.toast);
      await this[DATA_ORG]().catch(this.gui.toast);
    }

    if (this.currentTenant === false && this.currentUser.tenants.length === 0) {
      if (!getCache('module')) {
        this.$router.push({ name: 'modules' });
        return;
      }
      this.$router.push({ name: 'structure' });
    }

    this.$nextTick().then(() => {
      const hljs = this.$el.querySelectorAll('.hljs');
      hljs.forEach((hl) => {
        hl.classList.remove('hljs');
        hl.classList.add(`language-${hl.classList[1]}`);
      });
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    ...mapActions('generic', [NATIONS]),
    ...mapActions('org', [DATA_ORG]),
    report: function (title, text) {
      this.message.title = title;
      this.message.text = text;
      this.$refs['status-modal'].show();
    }
  }
};
</script>
