<template>
  <div>
    <!--begin::Dashboard-->
    <b-alert v-for="(error, i) in errors" :key="i" show dismissible variant="danger">{{ error }}</b-alert>
    <div class="row">
      <div class="col-12">
        <Feed :title="feed.title" :message="feed.message" />
      </div>
    </div>
    <!--end::Dashboard-->
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';

import Gui from '@/assets/js/logic/template';
import { getCache } from '@/core/service/storage';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { VERIFY } from '@/core/store/user/session.module';

import Feed from '@/view/content/widget/Feed.vue';

export default {
  name: 'Monitor',
  components: { Feed },
  computed: {
    ...mapGetters('session', ['currentTenant', 'currentUser'])
  },
  data: function () {
    return { gui: new Gui(this), feed: { title: null, message: null }, errors: [] };
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Monitor' }]);
    if (this.currentTenant === false) {
      switch (this.currentUser.tenants.length) {
        case 0:
          this.feed.title = 'No Business Subscribed';
          this.feed.message = 'Subscription currently has no activity.';
          break;
        case 1:
          await this[VERIFY]()
            .then(() => {
              this.feed.title = 'No Activity';
              this.feed.message = "There's currently no statistics to present.";
            })
            .catch(this.gui.toast);
          break;
        default:
          this.feed.title = 'No Business Selected';
          this.feed.message = "There's currently no statistics to present.";
          break;
      }
    } else {
      this.feed.title = 'No Activity';
      this.feed.message = "There's currently no statistics to present.";
    }
    this.errors = this.$route.params.errors || [];

    this.$nextTick().then(() => {
      if (this.currentTenant === false && this.currentUser.tenants.length === 0) {
        if (!getCache('module')) {
          this.$router.push({ name: 'modules' });
          return;
        }
        this.$router.push({ name: 'structure' });
      }
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    ...mapActions('session', [VERIFY])
  }
};
</script>
