<template>
  <section>
    <div class="py-4" />
    <div id="loader" v-if="loading">
      <div>
        <v-progress-linear indeterminate color="blue-grey"></v-progress-linear>
        <br />
        <v-progress-linear indeterminate color="blue-grey"></v-progress-linear>
        <br />
        <v-progress-linear indeterminate color="blue-grey"></v-progress-linear>
        <br />
        <v-progress-linear indeterminate color="blue-grey"></v-progress-linear>
      </div>
      <v-container style="height: 200px">
        <v-row class="fill-height" align-content="center" justify="center">
          <v-col class="subtitle-1 text-center" style="font-size: 28px !important; color: #666" cols="12"> loading... </v-col>
        </v-row>
      </v-container>
    </div>
    <v-container v-if="errors.length > 0">
      <v-alert prominent type="error">
        <v-row align="center">
          <v-col class="grow">
            <div v-for="(error, i) in errors" :key="i">
              {{ error }}
            </div>
          </v-col>
          <v-col class="shrink d-none d-sm-flex">
            <v-btn tile @click="reloadPage">Try Again</v-btn>
            <v-btn tile to="/forgot">Reset Password</v-btn>
          </v-col>
        </v-row>
      </v-alert>
      <div class="shrink d-flex d-sm-none">
        <v-btn to="/forgot" class="mx-auto" dark>Reset Password</v-btn>
      </div>
    </v-container>
  </section>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

import { EMAIL_UPDATE, LOGOUT, SET_AUTH, FREEPASS, VERIFY_EMAIL } from '@/core/store/user/session.module';
import { SET_PASSWD_RESET } from '@/core/store/user/index.module';
export default {
  name: 'Redirect',
  data: function () {
    return {
      loading: true,
      errors: []
    };
  },
  computed: {
    ...mapGetters('session', ['authenticated'])
  },
  mounted: async function () {
    const { action, target, token } = this.$route.params;
    const request = { a: 'activate', t: 'decline', r: 'revoke' };
    switch (action) {
      case 'a':
      case 'r':
      case 't':
        await this[VERIFY_EMAIL]({ target: request[action], uId: target, token: token })
          .then(() => {
            if (action === 'r') this.$router.push({ name: 'home', params: { message: 'Your Sign Up has now been <b>Reversed</b>.' } });
            else this.$router.push({ name: 'monitor' });
          })
          .catch(({ errors }) => {
            this.errors = errors;
          });
        break;
      case 'e':
        await this[EMAIL_UPDATE]({ uId: target, token: token })
          .then(() => {
            this.$router.push({ name: 'monitor' });
          })
          .catch(({ errors }) => {
            this.errors = errors;
          });
        break;
      case 'p':
        if (this.authenticated) {
          this[LOGOUT]();
        }
        await this[FREEPASS]({ uId: target, token: token })
          .then(() => {
            this[SET_PASSWD_RESET](true);
            this.$router.push({ name: 'AccountPassword' });
          })
          .catch(({ errors }) => {
            this.errors = errors;
          });
        break;
      case 'd':
        this[SET_AUTH](token);
        this.$router.push({ name: target });
        break;
    }
    this.loading = false;
  },
  methods: {
    ...mapActions('session', [VERIFY_EMAIL, EMAIL_UPDATE, LOGOUT, FREEPASS]),
    ...mapMutations('session', [SET_AUTH]),
    ...mapMutations('user', [SET_PASSWD_RESET]),
    reloadPage: function () {
      window.location.reload();
    }
  }
};
</script>
