<template>
  <section>
    <v-row justify="center" no-gutters>
      <v-img :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'" src="img/bg/waves.png">
        <v-alert text dense prominent color="blue-grey" type="success" class="mt-4 ml-2 mr-2 ml-md-8 mr-md-8" elevation="2">
          <div :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']" class="font-weight-light h1">Sign up Successful</div>
          <p>
            A verification email has been sent to address <b>{{ email }}</b
            >.<br />
            If you misspelled your <b>email address</b> by accident, please <v-btn text color="#a44" @click="revert">click here</v-btn> to
            undo signup and start over.
          </p>
          Please log into your mailbox, and locate the verification email delivered from Phiscal, to activate account and continue with
          process.<br />
          If you can't find the verification mail in your inbox, please check your spam/junk mail.<br />
          Gmail might catalogue this mail under the "Promotions" tab.
        </v-alert>
        <v-snackbar v-model="snack.active" :multi-line="snack.multiLine" color="red darken-2">
          <div class="text" v-for="(error, i) in errors" :key="i">
            {{ error }}
          </div>

          <template v-slot:action="{ attrs }">
            <v-btn text v-bind="attrs" @click="snack.active = false"> Close </v-btn>
          </template>
        </v-snackbar>
      </v-img>
    </v-row>
  </section>
</template>
<script>
import { mapActions } from 'vuex';
import { RM_USER } from '@/core/store/user/session.module';

export default {
  name: 'Signedup',
  data: function () {
    return {
      email: null,
      snack: {
        multiLine: true,
        active: false
      },
      errors: []
    };
  },
  mounted: function () {
    this.email = this.$route.params.email;
    if (typeof this.email !== 'string' || this.email.trim().length < 1) {
      this.$router.push('/');
    }
  },
  methods: {
    ...mapActions('session', [RM_USER]),
    revert: async function () {
      await this[RM_USER](email)
        .then(() => {
          this.$router.push('/register');
        })
        .catch((errors) => {
          this.errors = errors;
          this.snack.active = true;
        });
    }
  }
};
</script>
<style scoped>
.h1 {
  font-size: 28px !important;
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: 52px !important;
  }
}
</style>
