<template>
  <v-container v-scroll="onScroll">
    <v-btn class="teleport" fab dark color="secondary" :class="{ 'd-none': !backTop }" @click="$vuetify.goTo('#tnc-content')">
      <v-icon class="bounce-y" x-large>mdi-chevron-up</v-icon>
    </v-btn>
    <v-card class="mx-auto" max-width="1280">
      <v-img class="white--text align-end" height="200px" src="img/bg/motion-in-gotham-skyline.jpeg">
        <v-card-title>The <b class="px-2">Phiscal</b> Terms of Service</v-card-title>
      </v-img>
      <v-card-subtitle> The Acts referred to in this Document is legislation from the South African government </v-card-subtitle>
      <v-card-text id="tnc-content" v-html="content" class="text--primary" />
    </v-card>
    <v-snackbar v-model="snack.active" :multi-line="snack.multiLine" color="deep-purple accent-4">
      <div class="text" v-for="(error, i) in errors" :key="i">
        {{ error }}
      </div>

      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snack.active = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';
import { TNC } from '@/core/store/generic.module';
var showdown = require('showdown');

export default {
  name: 'TnC',
  data: function () {
    return {
      content: '',
      errors: [],
      snack: {
        multiLine: true,
        active: false
      },
      backTop: false
    };
  },
  mounted: async function () {
    const { payload } = await this[TNC]().catch((errors) => {
      this.errors = errors;
      this.snack.active = true;
      this.loading = false;
    });
    var md = new showdown.Converter();
    this.content = md.makeHtml(payload);
  },
  methods: {
    ...mapActions('generic', [TNC]),
    onScroll: function ({ target }) {
      this.backTop = target.documentElement.scrollTop > 768;
    }
  }
};
</script>
<style>
#tnc-content h1 {
  margin-bottom: 24px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 16px;
}
#tnc-content h1,
#tnc-content h2 {
  margin-top: 24px;
}
#tnc-content p {
  margin-left: 24px;
}
#tnc-content em {
  line-height: 36px;
}
.teleport {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 4;
}
.bounce-y {
  animation: bounce-y 1s ease infinite;
  position: relative;
}
@keyframes bounce-y {
  from {
    bottom: -5px;
  }
  50% {
    bottom: 5px;
  }
  to {
    bottom: -5px;
  }
}
</style>
