<template>
  <!-- begin:: Footer -->
  <div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
    <div class="d-flex align-items-center justify-content-between" v-bind:class="{ 'container-fluid': widthFluid, container: !widthFluid }">
      <div class="text-dark">
        <div class="d-none d-sm-block">
          <span v-if="currentTenant.website === null" class="text-dark-75">
            {{ currentTenant === false ? '' : `${currentTenant.trademark}` }}
          </span>
          <a v-if="currentTenant.website !== null" :href="currentTenant.website" class="text-dark-75 text-hover-primary" target="_blank">
            {{ currentTenant === false ? '' : `${currentTenant.trademark}` }}
          </a>
          <span class="text-muted font-weight-bold mr-2"> {{ new Date().getFullYear() }} &nbsp;&copy;</span>Phiscal
        </div>
      </div>
      <div class="nav nav-dark">
        <router-link to="/" target="_blank" class="nav-link pr-3 pl-0">About</router-link>
        <router-link to="/tnc" target="_blank" class="nav-link px-3">Terms</router-link>
        <router-link to="/contactus" class="nav-link pl-3 pr-0">Contact Us</router-link>
      </div>
    </div>
  </div>
  <!-- end:: Footer -->
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'KTFooter',
  computed: {
    ...mapGetters(['layoutConfig']),
    ...mapGetters('session', ['currentTenant']),

    /**
     * Check if footer container is fluid
     */
    widthFluid() {
      return this.layoutConfig('footer.width') === 'fluid';
    }
  }
};
</script>
