<template>
  <div class="d-flex flex-column flex-root" v-if="authenticated">
    <b-alert
      :show="currentUser.password"
      class="position-fixed fixed-bottom m-0 rounded-0"
      style="z-index: 2000"
      variant="danger"
      dismissible
    >
      Your User Account is not
      <router-link :to="{ name: 'AccountPassword' }" class="text-white text-underline font-weight-bolder">Password Protected</router-link>!
    </b-alert>

    <!-- begin:: Header Mobile -->
    <KTHeaderMobile />
    <!-- end:: Header Mobile -->

    <Loader v-if="loaderEnabled" v-bind:logo="loaderLogo" />

    <!-- begin::Body -->
    <div class="d-flex flex-row flex-column-fluid page">
      <!-- begin:: Aside Left -->
      <KTAside v-if="asideEnabled" />
      <!-- end:: Aside Left -->

      <div id="kt_wrapper" class="d-flex flex-column flex-row-fluid wrapper">
        <!-- begin:: Header -->
        <KTHeader />
        <!-- end:: Header -->

        <!-- begin:: Content -->
        <div id="kt_content" class="content d-flex flex-column flex-column-fluid">
          <!-- begin:: Content Head -->
          <KTSubheader
            v-if="subheaderDisplay"
            v-bind:breadcrumbs="breadcrumbs"
            v-bind:title="pageTitle"
            @registerOrg="regOrgForm"
            @tenantSwitch="tenantSwitch"
          />
          <!-- end:: Content Head -->

          <!-- begin:: Content Body -->
          <div class="d-flex flex-column-fluid">
            <div :class="{ 'container-fluid': contentFluid, container: !contentFluid }">
              <transition name="slide">
                <router-view ref="page" @registerOrg="regOrgForm" @tenantSwitch="tenantSwitch" />
              </transition>
            </div>
          </div>
          <!-- end:: Content Body -->
        </div>
        <!-- end:: Content -->

        <!-- begin:: footer -->
        <KTFooter />
        <!-- end:: footer -->
      </div>

      <NewOrg ref="modalNewOrg" @tenantSwitch="tenantSwitch" />
      <TenantSwitch ref="modalSwitch" />
    </div>
    <!-- end::Body -->
    <KTStickyToolbar v-if="toolbarDisplay" />
    <KTScrollTop />

    <!--begin::Status Report Modal-->
    <b-modal :visible="getMessage.visible" class="rounded-0" hide-footer>
      <b-card :title="getMessage.title" img-src="img/logo/Illustrato.jpg" img-alt="Illustrato" img-top tag="article">
        <b-card-text v-html="getMessage.content" />
        <b-button class="mt-3" variant="dark" block squared @click="setMessage(null)">Okay Thanks</b-button>
      </b-card>
    </b-modal>
    <!--end::Status Report Modal-->
  </div>
</template>

<style lang="scss">
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~socicon/css/socicon.css';
@import '~line-awesome/dist/line-awesome/css/line-awesome.css';
@import '../../../assets/plugin/flaticon/flaticon.css';
@import '../../../assets/plugin/flaticon2/flaticon.css';
@import '../../../assets/plugin/keenthemes-icons/font/ki.css';

// Main demo style scss
@import '@/assets/sass/style.vue';
</style>

<script>
import { mapGetters, mapMutations } from 'vuex';

import HtmlClass from '@/core/service/htmlclass';
import { ADD_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { SET_MESSAGE } from '@/core/store/user/session.module';

import KTAside from '@/view/layout/dash/aside/Main.vue';
import KTHeader from '@/view/layout/dash/header/Main.vue';
import KTHeaderMobile from '@/view/layout/dash/header/Mobile.vue';
import KTSubheader from '@/view/layout/dash/header/Subheader.vue';
import KTFooter from '@/view/layout/dash/Footer.vue';
import KTStickyToolbar from '@/view/layout/dash/extra/StickyToolbar.vue';
import KTScrollTop from '@/view/layout/dash/extra/ScrollTop';

import Loader from '@/view/content/Loader.vue';
import NewOrg from '@/view/content/modal/NewOrg.vue';
import TenantSwitch from '@/view/content/modal/TenantSwitch.vue';

export default {
  name: 'Dash',
  components: {
    KTAside,
    KTHeader,
    KTHeaderMobile,
    KTFooter,
    KTSubheader,
    KTStickyToolbar,
    KTScrollTop,
    Loader,
    NewOrg,
    TenantSwitch
  },
  beforeMount: function () {
    // show page loading
    this.$store.dispatch(ADD_BODY_CLASSNAME, 'page-loading');

    // initialize html element classes
    HtmlClass.init(this.layoutConfig());
  },
  mounted: function () {
    // check if current user is authenticated
    if (!this.authenticated) {
      this.$router.push({ name: 'login' });
    }
  },
  computed: {
    ...mapGetters('session', ['authenticated', 'currentUser', 'getMessage']),
    ...mapGetters(['breadcrumbs', 'layoutConfig', 'pageTitle']),
    /*
     * Check if the left aside menu is enabled
     * @returns {boolean}
     */
    asideEnabled: function () {
      return !!this.layoutConfig('aside.self.display');
    },

    /*
     * Check if container width is fluid
     * @returns {boolean}
     */
    contentFluid: function () {
      return this.layoutConfig('content.width') === 'fluid';
    },

    /*
     * Set the right toolbar display
     * @returns {boolean}
     */
    toolbarDisplay: function () {
      // return !!this.layoutConfig("toolbar.display");
      return false;
    },

    /*
     * Check if the page loader is enabled
     * @returns {boolean}
     */
    loaderEnabled: function () {
      return !/false/.test(this.layoutConfig('loader.type'));
    },

    /*
     * Set the subheader display
     * @returns {boolean}
     */
    subheaderDisplay: function () {
      return !!this.layoutConfig('subheader.display');
    },

    /*
     * Page loader logo image using require() function
     * @returns {string}
     */
    loaderLogo: function () {
      return process.env.BASE_URL + this.layoutConfig('loader.logo');
    }
  },
  methods: {
    ...mapMutations('session', [SET_MESSAGE]),
    regOrgForm: function (active = true) {
      this.$refs.modalNewOrg.show(active);
    },
    tenantSwitch: function (active = true) {
      this.$refs.modalSwitch.show(active);
    }
  }
};
</script>
<style>
.modal .modal-header .close {
  font-size: 2rem !important;
}
.required::after {
  content: '*';
  position: relative;
  font-size: 24px;
  color: #f1416c;
  padding-left: 0.25rem;
  font-weight: 700;
  line-height: 14px;
}
.text-underline {
  text-decoration: underline;
}
</style>
