<template>
  <div class="d-flex flex-column flex-root">
    <div
      class="d-flex flex-row-fluid flex-column bgi-size-cover bgi-position-center bgi-no-repeat p-10 p-sm-30"
      :style="{
        backgroundImage: `url(${backgroundImage})`
      }"
    >
      <!-- begin:: Content -->
      <h1 class="font-size-sm-100 font-weight-boldest text-dark-75 mt-15" style="font-size: 150px">404</h1>
      <p class="font-size-h3 font-weight-light">OOPS! Something went wrong here</p>
      <!-- end:: Content -->
    </div>
  </div>
</template>

<style lang="scss">
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~socicon/css/socicon.css';
@import '~line-awesome/dist/line-awesome/css/line-awesome.css';
/* @import '@/assets/plugin/flaticon/flaticon.css'; */
/* @import '@/assets/plugin/flaticon2/flaticon.css'; */
/* @import '@/assets/plugin/keenthemes-icons/font/ki.css'; */

// Main demo style scss
@import '@/assets/sass/style.vue';
</style>


<script>
export default {
  name: 'Error-1',
  mounted: function () {},
  computed: {
    backgroundImage: function () {
      return process.env.BASE_URL + 'img/error/bg1.jpg';
    }
  }
};
</script>
