<template>
  <ul class="menu-nav">
    <router-link to="/dash" v-slot="{ href, navigate, isActive, isExactActive }" custom>
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[isActive && 'menu-item-active', isExactActive && 'menu-item-active']"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon2-heart-rate-monitor" />
          <span class="menu-text">Monitor</span>
        </a>
      </li>
    </router-link>

    <router-link v-if="adminDisplay" to="/admin" v-slot="{ href, navigate, isActive, isExactActive }" custom>
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[isActive && 'menu-item-active', isExactActive && 'menu-item-active']"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon2-checking" />
          <span class="menu-text">Administration</span>
        </a>
      </li>
    </router-link>

    <li class="menu-section">
      <h4 class="menu-text">Modules</h4>
      <i class="menu-icon flaticon-more-v2" />
    </li>

    <li
      aria-haspopup="true"
      data-menu-toggle="hover"
      class="menu-item menu-item-submenu"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/vue-bootstrap') }"
    >
      <a href="#" class="menu-link menu-toggle">
        <i class="menu-icon flaticon2-menu-2" />
        <span class="menu-text">Active {{ activeModuleCount }}</span>
        <i class="menu-arrow" />
      </a>
      <div class="menu-submenu">
        <span class="menu-arrow" />
        <ul class="menu-subnav">
          <li aria-haspopup="true" class="menu-item menu-item-parent">
            <span class="menu-link">
              <span class="menu-text">Active {{ activeModuleCount }}</span>
            </span>
          </li>

          <router-link v-for="(item, i) of activeModules" :key="i" :to="item.href" v-slot="{ isActive, isExactActive }" custom>
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[isActive && 'menu-item-active', isExactActive && 'menu-item-active']"
            >
              <a :href="item.href" class="menu-link">
                <span class="menu-text">{{ item.name }}</span>
              </a>
            </li>
          </router-link>
        </ul>
      </div>
    </li>

    <li
      aria-haspopup="true"
      data-menu-toggle="hover"
      class="menu-item menu-item-submenu"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('vuetify') }"
    >
      <a href="#" class="menu-link menu-toggle">
        <i class="menu-icon flaticon2-delete" />
        <span class="menu-text">Idling {{ idlingModuleCount }}</span>
        <i class="menu-arrow" />
      </a>
      <div class="menu-submenu" style="display: none; overflow: hidden">
        <span class="menu-arrow"></span>
        <ul class="menu-subnav">
          <li aria-haspopup="true" class="menu-item menu-item-parent">
            <span class="menu-link">
              <span class="menu-text">Idling {{ idlingModuleCount }}</span>
            </span>
          </li>

          <router-link v-for="(item, i) of idlingModules" :key="i" :to="item.href" v-slot="{ isActive, isExactActive }" custom>
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[isActive && 'menu-item-active', isExactActive && 'menu-item-active']"
            >
              <a :href="item.href" class="menu-link">
                <span class="menu-text">{{ item.name }}</span>
              </a>
            </li>
          </router-link>
        </ul>
      </div>
    </li>

    <li class="menu-section">
      <h4 class="menu-text">External</h4>
      <i class="menu-icon flaticon-more-v2"></i>
    </li>

    <li
      aria-haspopup="true"
      data-menu-toggle="hover"
      class="menu-item menu-item-submenu"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/error/error') }"
    >
      <a href="#" class="menu-link menu-toggle">
        <i class="menu-icon flaticon2-list-2" />
        <span class="menu-text">Requests</span>
        <i class="menu-arrow" />
      </a>
      <div class="menu-submenu">
        <span class="menu-arrow"></span>
        <ul class="menu-subnav">
          <li aria-haspopup="true" class="menu-item menu-item-parent">
            <span class="menu-link">
              <span class="menu-text">Requests</span>
            </span>
          </li>

          <router-link to="#" v-slot="{ href, navigate, isActive, isExactActive }" custom>
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[isActive && 'menu-item-active', isExactActive && 'menu-item-active']"
            >
              <a :href="href" class="menu-link" @click="navigate">
                <span class="menu-text">-- None --</span>
              </a>
            </li>
          </router-link>
        </ul>
      </div>
    </li>

    <li
      aria-haspopup="true"
      data-menu-toggle="hover"
      class="menu-item menu-item-submenu"
      v-bind:class="{ 'menu-item-open': hasActiveChildren('/wizard/wizard') }"
    >
      <a href="#" class="menu-link menu-toggle">
        <i class="menu-icon flaticon2-world" />
        <span class="menu-text">Illustrato</span>
        <i class="menu-arrow" />
      </a>
      <div class="menu-submenu">
        <span class="menu-arrow"></span>
        <ul class="menu-subnav">
          <li aria-haspopup="true" class="menu-item menu-item-parent">
            <span class="menu-link">
              <span class="menu-text">Illustrato</span>
            </span>
          </li>

          <router-link to="#" v-slot="{ isActive, isExactActive }" custom>
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[isActive && 'menu-item-active', isExactActive && 'menu-item-active']"
            >
              <a href="https://www.illustrato.org" class="menu-link" target="_blank">
                <i class="menu-bullet menu-bullet-dot" />
                <span class="menu-text">IT Solutions</span>
              </a>
            </li>
          </router-link>

          <router-link to="#" v-slot="{ href, navigate, isActive, isExactActive }" custom>
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[isActive && 'menu-item-active', isExactActive && 'menu-item-active']"
            >
              <a :href="href" class="menu-link" @click="navigate">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Partnership</span>
              </a>
            </li>
          </router-link>

          <router-link to="#" v-slot="{ href, navigate, isActive, isExactActive }" custom>
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[isActive && 'menu-item-active', isExactActive && 'menu-item-active']"
            >
              <a :href="href" class="menu-link" @click="navigate">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Invest</span>
              </a>
            </li>
          </router-link>

          <router-link to="#" v-slot="{ href, navigate, isActive, isExactActive }" custom>
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[isActive && 'menu-item-active', isExactActive && 'menu-item-active']"
            >
              <a :href="href" class="menu-link" @click="navigate">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Inquiries</span>
              </a>
            </li>
          </router-link>
        </ul>
      </div>
    </li>
  </ul>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import Gui from '@/assets/js/logic/template';
import { getItem } from '@/core/service/storage';
import { LS_MODULE } from '@/core/store/tenant/app.module';

export default {
  name: 'KTMenu',
  data: function () {
    return {
      gui: new Gui(this)
    };
  },
  computed: {
    ...mapGetters(['layoutConfig']),
    ...mapGetters('app', ['getModules']),

    /*
     * Set the Administration display
     * @returns {boolean}
     */
    adminDisplay: function () {
      return !!this.layoutConfig('aside.items.admin');
    },

    /*
     * Return List of Active Modules
     * @returns {array}
     */
    activeModules: function () {
      if (this.getModules.active.length === 0) {
        return [{ name: '-- None --', href: '#', count: false }];
      }
      return this.getModules.active.map(({ name, webclient }) => {
        return { name: name, href: `${webclient}/#/redirect/home/${getItem('JWT')}`, count: true };
      });
    },

    /*
     * Return List of Idling Modules
     * @returns {array}
     */
    idlingModules: function () {
      if (this.getModules.idling.length === 0) {
        return [{ name: '-- None --', href: '#', count: false }];
      }
      return this.getModules.idling.map(({ name, webclient }) => {
        return { name: name, href: `${webclient}/#/redirect/home/${getItem('JWT')}`, count: true };
      });
    },

    /*
     * Count Active Modules
     * @returns {string}
     */
    activeModuleCount: function () {
      const count = this.getModules.active.length;
      return count > 0 ? `(${count})` : null;
    },

    /*
     * Count Idling Modules
     * @returns {string}
     */
    idlingModuleCount: function () {
      const count = this.getModules.idling.length;
      return count > 0 ? `(${count})` : null;
    }
  },
  mounted: async function () {
    await this[LS_MODULE]('active').catch(this.gui.toast);
    await this[LS_MODULE]('idling').catch(this.gui.toast);
  },
  methods: {
    ...mapActions('app', [LS_MODULE]),
    hasActiveChildren: function (match) {
      return this.$route['path'].indexOf(match) !== -1;
    }
  }
};
</script>
