<template>
  <div>
    <div class="d-flex flex-column pt-12 bgi-size-cover bgi-no-repeat" :style="{ backgroundImage: `url(${backgroundImage})` }">
      <h4 class="d-flex flex-center">
        <span class="text-white">Notifications</span>
        <span v-if="notifications.unread > 0" class="btn btn-text btn-info btn-sm font-weight-bold btn-font-md ml-2 rounded-0">
          {{ notifications.unread }} new
        </span>
      </h4>

      <ul
        class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-line-transparent-white nav-tabs-line-active-border-success mt-3 px-8"
        role="tablist"
      >
        <li class="nav-item">
          <a v-on:click="setActiveTab" data-tab="0" class="nav-link active" data-toggle="tab" href="#" role="tab"> Alerts </a>
        </li>
        <li class="nav-item">
          <a v-on:click="setActiveTab" data-tab="1" class="nav-link" data-toggle="tab" href="#" role="tab"> Events </a>
        </li>
        <li class="nav-item">
          <a v-on:click="setActiveTab" data-tab="2" class="nav-link" data-toggle="tab" href="#" role="tab"> Logs </a>
        </li>
      </ul>
    </div>

    <b-tabs class="hide-tabs" v-model="tabIndex">
      <b-tab active>
        <div v-if="notifications.alert.length < 1" class="d-flex flex-center text-center text-muted min-h-200px">
          All caught up!<br />No new notifications.
        </div>
        <perfect-scrollbar v-if="list1.length > 0" class="scroll pr-7 mr-n7" style="max-height: 40vh; position: relative">
          <template v-for="(item, i) in list1">
            <!--begin::Item-->
            <div class="d-flex align-items-center mb-6" v-bind:key="i">
              <!--begin::Symbol-->
              <div class="symbol symbol-40 mr-5" v-bind:class="`symbol-light-${item.color}`">
                <span class="symbol-label">
                  <span class="svg-icon svg-icon-lg" v-bind:class="`svg-icon-${item.color}`">
                    <!--begin::Svg Icon-->
                    <inline-svg :src="item.svg" />
                    <!--end::Svg Icon-->
                  </span>
                </span>
              </div>
              <!--end::Symbol-->
              <!--begin::Text-->
              <div class="d-flex flex-column font-weight-bold">
                <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">
                  {{ item.title }}
                </a>
                <span class="text-muted">
                  {{ item.desc }}
                </span>
              </div>
              <!--end::Text-->
            </div>
            <!--end::Item-->
          </template>
        </perfect-scrollbar>
      </b-tab>

      <b-tab>
        <div v-if="notifications.event.length < 1" class="d-flex flex-center text-center text-muted min-h-200px">
          All caught up!<br />No new notifications.
        </div>
        <perfect-scrollbar
          v-if="notifications.event.length > 0"
          class="navi navi-hover scroll my-4"
          style="max-height: 40vh; position: relative"
        >
          <template v-for="(item, i) in notifications.event">
            <a class="navi-item" :class="{ 'bg-secondary': !item.read }" v-bind:key="i">
              <div class="navi-link">
                <div class="navi-icon mr-2">
                  <i v-bind:class="item.icon" />
                </div>
                <div class="navi-text">
                  <div class="font-weight-bold" :class="{ 'text-info': !item.read }">
                    {{ item.message }}
                  </div>
                  <div :class="{ 'text-dark font-weight-bold': !item.read, 'text-muted': item.read }">
                    {{ item.time }} <b-badge v-if="!item.read" variant="dark" class="rounded-0">New</b-badge>
                  </div>
                </div>
              </div>
            </a>
          </template>
        </perfect-scrollbar>
      </b-tab>

      <b-tab>
        <div v-if="notifications.log.length < 1" class="d-flex flex-center text-center text-muted min-h-200px">
          All caught up!<br />No new notifications.
        </div>
        <perfect-scrollbar
          v-if="notifications.log.length > 0"
          class="navi navi-hover scroll my-4"
          style="max-height: 40vh; position: relative"
        >
          <template v-for="(item, i) in notifications.log">
            <a class="navi-item" :class="{ 'bg-secondary': !item.read }" v-bind:key="i">
              <div class="navi-link">
                <div class="navi-icon mr-2">
                  <i v-bind:class="item.icon" />
                </div>
                <div class="navi-text">
                  <div class="font-weight-bold" :class="{ 'text-primary': !item.read }">
                    {{ item.message }}
                  </div>
                  <div :class="{ 'text-dark font-weight-bold': !item.read, 'text-muted': item.read }">
                    {{ item.time }} <b-badge v-if="!item.read" variant="dark" class="rounded-0">New</b-badge>
                  </div>
                </div>
              </div>
            </a>
          </template>
        </perfect-scrollbar>
      </b-tab>
    </b-tabs>
  </div>
</template>

<style lang="scss">
/* hide default vue-bootstrap tab links */
.hide-tabs > div:not(.tab-content) {
  display: none;
}
</style>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'KTDropdownNotification',
  data: function () {
    return {
      tabIndex: 0,
      list1: [],
      list2: [],
      unread: 0
    };
  },
  methods: {
    setActiveTab: function (event) {
      const tab = event.target.closest('[role="tablist"]');
      const links = tab.querySelectorAll('.nav-link');
      // remove active tab links
      for (let i = 0; i < links.length; i++) {
        links[i].classList.remove('active');
      }

      // set clicked tab index to bootstrap tab
      this.tabIndex = parseInt(event.target.getAttribute('data-tab'));

      // set current active tab
      event.target.classList.add('active');
    }
  },
  computed: {
    ...mapGetters('session', ['notifications']),
    backgroundImage: function () {
      return process.env.BASE_URL + 'img/misc/bg-1.jpg';
    }
  }
};
</script>
