<template>
  <b-form class="form" @reset.stop.prevent="cancel" @submit.stop.prevent="save">
    <h4 class="mb-10 font-weight-bold text-dark">Setup your Account Information</h4>
    <b-row>
      <b-col xl="6">
        <b-form-group label="Username" label-for="username-input" description="Please choose a unique Username.">
          <b-form-input
            id="username-input"
            type="text"
            class="form-control form-control-solid form-control-lg rounded-0 text-center"
            placeholder="Username"
            aria-describedby="username-feedback"
            v-model="$v.form.username.$model"
            :state="gui.validateState('username')"
            @input="gui.delayTouch($v.form.username)"
            @change="setUsername"
            @blur="$v.form.username.$touch()"
          />
          <b-form-invalid-feedback id="username-feedback">
            <span v-if="!$v.form.username.minLength">Usernames are at least 2 characters.</span>
            <span v-if="!$v.form.username.maxLength">Usernames are at max 20 characters.</span>
            <span v-if="!$v.form.username.validate">Not a Valid Username.</span>
            <span v-if="!$v.form.username.unique">Found Matching Username in Database.</span>
          </b-form-invalid-feedback>
        </b-form-group>
        <div class="form-group">
          <label class="required">Email Address</label>
          <input
            type="email"
            required
            class="form-control form-control-solid form-control-lg rounded-0 text-center"
            :class="{
              'is-invalid': $v.form.email.$dirty && $v.form.email.$invalid,
              'is-valid': $v.form.email.$dirty && !$v.form.email.$invalid
            }"
            v-model="$v.form.email.$model"
            :state="gui.validateState('email')"
            placeholder="stefanlanka@microbiology.org"
            @input="gui.delayTouch($v.form.email)"
            @change="setEmail($v.form.email.$model)"
            @blur="$v.form.email.$touch()"
          />
          <span class="form-text text-muted">Please enter employee's Email Address.</span>
          <span class="form-text text-danger" v-if="$v.form.email.$dirty && !$v.form.email.required">Email Address is Required.</span>
          <span class="form-text text-danger" v-if="$v.form.email.$dirty && !$v.form.email.email">Provided a valid Email Address.</span>
          <span class="form-text text-danger" v-if="$v.form.email.$dirty && !$v.form.email.unique">Email Address matched in Database.</span>
        </div>
        <b-form-group label="Phone Number" label-for="phone-input" description="Please enter your Phone Number.">
          <b-button v-if="!teleIn" block squared variant="secondary" @click="teleIn = true">{{ phone }}</b-button>
          <VuePhoneNumberInput
            v-if="teleIn"
            id="phone-input"
            class="form-control bg-secondary h-auto py-0 px-0 rounded-0"
            :clearable="true"
            :border-radius="0"
            v-model="phone"
            @update="phoneInput"
            @phone-number-blur="teleIn = false"
          />
        </b-form-group>
      </b-col>
      <b-col xl="6">
        <div class="form-group">
          <label>Photograph</label>
          <div>
            <div id="kt_profile_avatar" class="image-input image-input-outline">
              <div class="image-input-wrapper" :style="{ backgroundImage: `url(${getAvatar})` }" :class="{ grayscale: true }" />
              <label
                class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                data-action="change"
                data-toggle="tooltip"
                data-original-title="Change Photograph"
                title="Change Photograph"
              >
                <i class="fa fa-pen icon-sm text-muted"></i
                ><input type="file" name="profile_avatar" accept="image/*" @change="img.set" /><input
                  type="hidden"
                  name="profile_avatar_change"
                />
              </label>
              <span
                :data-action="pic.ext === null ? 'cancel' : 'remove'"
                data-toggle="tooltip"
                title="Remove Photograph"
                class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                @click="rmPhoto"
                ><i class="ki ki-bold-close icon-xs text-muted"></i
              ></span>
            </div>
            <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
          </div>
          <b-alert
            :show="alertCountDown"
            dismissible
            fade
            variant="success"
            @dismissed="alertCountDown = 0"
            @dismiss-count-down="
              (arg) => {
                alertCountDown = arg;
              }
            "
          >
            <p class="px-0"><b>Reload</b> page if your Photograph didn't update</p>
            <b-progress variant="success" :max="10" :value="alertCountDown" height="4px"></b-progress>
          </b-alert>
        </div>
      </b-col>
    </b-row>
    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-between border-top pt-10">
      <div class="mr-2" />
      <div>
        <b-button :disabled="pageBusy" variant="dark" type="submit" class="font-weight-bold text-uppercase px-9 py-4 rounded-0">
          Save
        </b-button>
      </div>
    </div>
    <!--end: Wizard Actions -->
    <b-modal
      v-model="cropper.active"
      title="Select Photograph"
      :no-close-on-backdrop="true"
      header-bg-variant="secondary"
      header-text-variant="dark"
      body-bg-variant="light"
      body-text-variant="dark"
      footer-bg-variant="secondary"
      footer-text-variant="dark"
      size="lg"
      header-class="py-0"
      body-class="p-0"
      footer-class="p-0"
    >
      <template #modal-header>
        <b-container fluid>
          <b-row>
            <b-col cols="4" md="5">
              <b-button disabled block class="text-left cursor-default">Photograph</b-button>
            </b-col>
            <b-col cols="4" md="2">
              <b-button variant="danger" squared block v-b-tooltip title="Reset" @click.prevent="img.reset"
                ><i aria-hidden="true" class="fa fa-arrows-alt"></i
              ></b-button>
            </b-col>
            <b-col cols="2" md="4"> </b-col>
            <b-col cols="2" md="1">
              <b-button block v-b-tooltip title="Cancel" @click.prevent="cropper.active = false"
                ><i aria-hidden="true" class="fa fa-times"></i
              ></b-button>
            </b-col>
          </b-row>
        </b-container>
      </template>
      <section class="cropper-area">
        <div class="img-cropper">
          <vue-cropper
            ref="cropper"
            :view-mode="2"
            :aspect-ratio="1"
            :src="cropper.src"
            :min-container-width="320"
            :min-canvas-width="320"
            :min-crop-box-width="240"
            alt="Source Image"
          />
        </div>
      </section>

      <template #modal-footer>
        <b-container fluid>
          <b-row>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Move Left" @click.prevent="img.move(-10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-left"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Down" @click.prevent="img.move(0, 10)"
                  ><i aria-hidden="true" class="fa fa-caret-down"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Up" @click.prevent="img.move(0, -10)"
                  ><i aria-hidden="true" class="fa fa-caret-up"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Right" @click.prevent="img.move(10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-right"></i
                ></b-button>
              </b-button-group>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipX" block v-b-tooltip title="Flip Horizontally" @click.prevent="img.flipX"
                ><i aria-hidden="true" class="fa fa-arrows-alt-h"></i
              ></b-button>
            </b-col>
            <b-col cols="8" md="2">
              <b-button variant="success" block v-b-tooltip title="Crop Image" @click.prevent="cropImage"
                ><i aria-hidden="true" class="fa fa-crop"></i
              ></b-button>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipY" block v-b-tooltip title="Flip Vertically" @click.prevent="img.flipY"
                ><i aria-hidden="true" class="fa fa-arrows-alt-v"></i
              ></b-button>
            </b-col>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Rotate 90 Degrees Left" @click.prevent="img.rotate(-90)"
                  ><i aria-hidden="true" class="fa fa-reply"></i
                ></b-button>
                <b-button v-b-tooltip title="Zoom Out" @click.prevent="img.zoom(-0.2)"
                  ><i aria-hidden="true" class="fa fa-search-minus"></i
                ></b-button>
                <b-button v-b-tooltip title="Zoom In" @click.prevent="img.zoom(0.2)"
                  ><i aria-hidden="true" class="fa fa-search-plus"></i
                ></b-button>
                <b-button v-b-tooltip title="Rotate 90 Degrees Right" @click.prevent="img.rotate(90)"
                  ><i aria-hidden="true" class="fa fa-share"></i
                ></b-button>
              </b-button-group>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-modal>
    <b-modal id="modal-email-change" hide-header hide-footer>
      <template #modal-title> Success Story </template>
      <div class="d-block text-center">
        <h3>
          A verification email has been sent to <b>{{ form.email }}</b>
        </h3>
        <p>Please log into your mailbox to verify the new Email Adrress, and have it updated on your Phiscal account.</p>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('modal-email-change')">Okay</b-button>
    </b-modal>
  </b-form>
</template>
<script>
import { mapMutations, mapActions, mapGetters } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required, email, minLength, maxLength } from 'vuelidate/lib/validators';

import VuePhoneNumberInput from 'vue-phone-number-input';
import 'vue-phone-number-input/dist/vue-phone-number-input.css';

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

import Crop from '@/assets/js/logic/crop';
import Gui from '@/assets/js/logic/template';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { SET_AVATAR } from '@/core/store/user/session.module';
import { CHECK, DATA_USER, SET_DATA, SET_UNAME, SET_EMAIL, SET_PHONE, CRUD_AVATAR, UPDATE_USER } from '@/core/store/user/index.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'Account',
  components: {
    VuePhoneNumberInput,
    VueCropper
  },
  computed: {
    ...mapGetters('session', ['getAvatar', 'pageBusy']),
    ...mapGetters('user', ['emailUpdate'])
  },
  data: function () {
    return {
      img: new Crop(this),
      gui: new Gui(this),
      teleIn: false,
      phone: '::',
      form: { username: null, email: null, phone: null },
      old: { username: null, email: null, phone: null },
      pic: { base64: null, ext: null },
      cropper: { active: false, src: null, type: null, landscape: true },
      alertCountDown: 0
    };
  },
  validations: {
    form: {
      username: {
        minLength: minLength(2),
        maxLength: maxLength(20),
        validate: function (value) {
          if (!required(value)) return true;
          const match = value.match(/^[a-zA-Z][a-zA-Z0-9]+$/);
          return match !== null;
        },
        unique: async function (value) {
          if (!required(value)) return true;
          const match = value.match(/^[a-zA-Z][a-zA-Z0-9]+$/);
          if (match === null) return true;
          if (value.trim() === this.old.username) return true;
          const { payload } = await this[CHECK]({ target: 'username', text: value }).catch(this.gui.toast);
          return payload === false;
        }
      },
      email: {
        required,
        email,
        unique: async function (value) {
          if (!required(value)) return true;
          if (!email(value)) return true;
          if (value.trim() === this.old.email) return true;
          const { payload } = await this[CHECK]({ target: 'email', text: value }).catch(this.gui.toast);
          return payload === false;
        }
      },
      phone: {}
    }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Profile' }, { title: 'Account Information' }]);

    // Initialize form wizard
    const wizard = new KTWizard('profile-screen');
    wizard.goTo(3);

    // Page Load event
    await this[DATA_USER]().then(this.updateReady).catch(this.gui.toast);

    this.$nextTick().then(() => {
      this[SET_DATA]({});
      this[SET_BUSY](false);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    ...mapActions('user', [CRUD_AVATAR, CHECK, DATA_USER, UPDATE_USER]),
    ...mapMutations('session', [SET_AVATAR, SET_BUSY]),
    ...mapMutations('user', [SET_DATA, SET_UNAME, SET_EMAIL, SET_PHONE]),
    phoneInput: function (e) {
      if (e.isValid) {
        this[SET_PHONE](e.formatInternational);
        this.phone = e.formatNational;
      } else {
        this.phone = 'Phone Number';
        this[SET_PHONE](null);
      }
    },
    rmPhoto: async function () {
      await this[CRUD_AVATAR]({ picture: this.pic })
        .then(() => {
          this[SET_AVATAR](null);
          this.img.rm();
        })
        .catch(this.gui.toast);
    },
    cropImage: async function () {
      // get image data for post processing, e.g. upload or setting image src
      this.img.crop({ width: 360, height: 360 }, true);

      await this[CRUD_AVATAR]({ picture: this.pic })
        .then(() => {
          this[SET_AVATAR](this.pic.ext);
          this.cropper.active = false;
          this.alertCountDown = 10;
        })
        .catch(this.gui.toast);
    },
    updateReady: function ({ payload: { username, email, phone, avatar } }) {
      this.old.username = this.form.username = username;
      this.old.email = this.form.email = email;
      this.old.phone = this.form.phone = phone;
      this.pic.ext = avatar;
      this.phone = phone || 'Phone Number';
    },
    save: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this[SET_BUSY](true);

      await this[UPDATE_USER]()
        .then(({ payload }) => {
          // set spinner to submit button
          this.gui.statusReport(payload);
          this.$v.form.$reset();
          this[SET_DATA]({});
          if (this.emailUpdate) this.$bvModal.show('modal-email-change');
        })
        .catch(this.gui.toast);

      this[SET_BUSY](false);
    }
  }
};
</script>
<style scoped>
.grayscale {
  filter: grayscale(100%);
}
.cursor-default {
  cursor: default !important;
}
.image-input .image-input-wrapper {
  width: 240px !important;
  height: 240px !important;
}
</style>
