<template>
  <b-form class="form" @reset.stop.prevent="cancel" @submit.stop.prevent="save">
    <h4 class="mb-10 font-weight-bold text-dark">Capture your Current Residential Address</h4>
    <b-row>
      <b-col xl="12">
        <div class="form-group">
          <div id="geoinput" />
          <span class="form-text text-muted">Please enter your Address Here.</span>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="6">
        <b-form-group label="Street Address" label-for="addressline1-input" description="Forward Geocode Result">
          <b-form-input
            id="addressline1-input"
            type="text"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="Address Line 1"
            v-model="$v.form.addressline1.$model"
            :state="gui.validateState('addressline1')"
            readonly
          />
          <b-form-invalid-feedback :state="gui.validateState('addressline1')"> Address Line 1 Required. </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <b-col xl="6">
        <b-form-group label="Suburb/Apartment Number" label-for="addressline2-input" description="Forward Geocode Result">
          <b-form-input
            id="addressline2-input"
            type="text"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="Address Line 2"
            v-model="$v.form.addressline2.$model"
            :state="gui.validateState('addressline2')"
            readonly
          />
          <b-form-invalid-feedback :state="gui.validateState('addressline2')"> Address Line 2 Required. </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="4">
        <b-form-group label="City" label-for="city-input" description="Forward Geocode Result">
          <b-form-input
            id="city-input"
            type="text"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="City"
            v-model="$v.form.city.$model"
            :state="gui.validateState('city')"
            readonly
          />
          <b-form-invalid-feedback :state="gui.validateState('city')"> Address City Required. </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <b-col xl="4">
        <b-form-group label="Region" label-for="region-input" description="Forward Geocode Result">
          <b-form-input
            id="region-input"
            type="text"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="Region"
            v-model="$v.form.region.$model"
            :state="gui.validateState('region')"
            readonly
          />
          <b-form-invalid-feedback :state="gui.validateState('region')"> Address Region Required. </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <b-col xl="4">
        <b-form-group label="Country" label-for="city-input" description="Forward Geocode Result">
          <b-form-input
            id="country-input"
            type="text"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="Country"
            v-model="countries[$v.form.country.$model]"
            :state="gui.validateState('country')"
            readonly
          />
          <b-form-invalid-feedback :state="gui.validateState('country')"> Address Country Required. </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
    </b-row>
    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-between border-top pt-10">
      <div class="mr-2" />
      <div>
        <b-button :disabled="pageBusy" variant="dark" type="submit" class="font-weight-bold text-uppercase px-9 py-4 rounded-0">
          Save
        </b-button>
      </div>
    </div>
    <!--end: Wizard Actions -->
  </b-form>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';
import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';
import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

import Geo from '@/assets/js/logic/geo';
import Gui from '@/assets/js/logic/template';

import { NATIONS } from '@/core/store/generic.module';
import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import {
  DATA_USER,
  SET_DATA,
  SET_ADDR1,
  SET_ADDR2,
  SET_CITY,
  SET_GPS,
  SET_REGION,
  SET_COUNTRY,
  UPDATE_USER
} from '@/core/store/user/index.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'Address',
  computed: {
    ...mapGetters('session', ['pageBusy'])
  },
  data: function () {
    return {
      gui: new Gui(this),
      geocoder: new MapboxGeocoder({
        accessToken: process.env.VUE_APP_MAPBOX_KEY,
        placeholder: 'Street Address, Suburb, City, Country',
        types: 'address, place',
        proximity: [23.9137106762068, -28.3782721906973]
      }),
      geo: new Geo(this),
      countries: [],
      form: { addressline1: null, addressline2: null, city: null, region: null, country: null, gps: null }
    };
  },
  validations: {
    form: {
      addressline1: { required },
      addressline2: {},
      city: {},
      region: {},
      country: { required }
    }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Profile' }, { title: 'Physical Address' }]);

    // Initialize form wizard
    const wizard = new KTWizard('profile-screen');
    wizard.goTo(2);

    this.countries = await this[NATIONS]().catch(this.gui.toast);
    this.geocoder.addTo('#geoinput');
    this.geo.decorate('form-control form-control-solid form-control-lg rounded-0', 'address-input');
    this.geocoder.on('result', this.geo.mutate);

    // Page Load event
    await this[DATA_USER]().then(this.updateReady).catch(this.gui.toast);

    this.$nextTick().then(() => {
      this[SET_DATA]({});
      this[SET_BUSY](false);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    ...mapActions('generic', [NATIONS]),
    ...mapActions('user', [DATA_USER, UPDATE_USER]),
    ...mapMutations('session', [SET_BUSY]),
    ...mapMutations('user', [SET_DATA, SET_ADDR1, SET_ADDR2, SET_CITY, SET_GPS, SET_REGION, SET_COUNTRY]),
    updateReady: function ({ payload: { addressline1, addressline2, city, region, country } }) {
      this.form.addressline1 = addressline1;
      this.form.addressline2 = addressline2;
      this.form.city = city;
      this.form.region = region;
      this.form.country = country;
    },
    save: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this[SET_BUSY](true);

      await this[UPDATE_USER]()
        .then(({ payload }) => {
          // set spinner to submit button
          this.gui.statusReport(payload);
          this.$v.form.$reset();
          this[SET_DATA]({});
        })
        .catch(this.gui.toast);

      this[SET_BUSY](false);
    }
  }
};
</script>
