<template>
  <b-form class="form" @reset.stop.prevent="cancel" @submit.stop.prevent="save">
    <h4 class="mb-10 font-weight-bold text-dark">Only Relevant if you Operate without a Formal Business setup</h4>
    <b-row>
      <b-col xl="6">
        <b-form-group
          id="alias-input-group"
          label-class="required"
          label="Nick/Business Name"
          label-for="alias-input"
          description="What Name do your Customers know you by?"
        >
          <b-form-input
            class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
            id="alias-input"
            v-model="$v.form.alias.$model"
            :state="gui.validateState('alias')"
            aria-describedby="alias-feedback"
            placeholder="Is there a name your customers know you by?"
            @input="gui.delayTouch($v.form.alias)"
            @change="setAlias"
          />

          <b-form-invalid-feedback id="alias-feedback">
            <span v-if="!$v.form.alias.required">An Alias is required.</span>
            <span v-if="!$v.form.alias.maxLength">Use at max 20 characters.</span>
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <b-col xl="6">
        <b-form-group
          label="Payment Gateway Provider"
          label-for="select-provider"
          description="What provider processes payments to your business?"
        >
          <b-form-select
            id="select-provider"
            class="form-control form-control-solid form-control-lg rounded-0"
            aria-describedby="type-feedback"
            v-model="$v.form.provider_id.$model"
            :options="providers"
            :state="gui.validateState('provider_id')"
            @change="setGateway"
          />
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="6">
        <b-form-group
          label="Client ID"
          :label-class="{ required: form.provider_id === 'PF' || form.provider_id === 'PP' }"
          label-for="client-input"
          description="Referred to as a 'Merchant' ID by some Providers."
        >
          <b-form-input
            id="client-input"
            type="text"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="Provider Supplied"
            aria-describedby="client-feedback"
            v-model="$v.form.client_id.$model"
            :state="gui.validateState('client_id')"
            @input="gui.delayTouch($v.form.client_id)"
            @change="setClient"
          />
          <b-form-invalid-feedback id="key-feedback">
            <span v-if="!$v.form.client_id.required">Field is Required.</span>
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <b-col xl="6">
        <b-form-group
          label="Access Key"
          label-for="key-input"
          :label-class="{ required: form.provider_id !== null }"
          description="Referred to as an Access 'Token' by some Providers."
        >
          <b-form-input
            id="key-input"
            type="text"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="API Key"
            aria-describedby="key-feedback"
            v-model="$v.form.access_key.$model"
            :state="gui.validateState('access_key')"
            @input="gui.delayTouch($v.form.access_key)"
            @change="setKey"
          />
          <b-form-invalid-feedback id="key-feedback">
            <span v-if="!$v.form.access_key.required">Field is Required.</span>
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
    </b-row>
    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-between border-top pt-10">
      <div class="mr-2" />
      <div>
        <b-button :disabled="pageBusy" variant="dark" type="submit" class="font-weight-bold text-uppercase px-9 py-4 rounded-0">
          Save
        </b-button>
      </div>
    </div>
    <!--end: Wizard Actions -->
  </b-form>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

import { validationMixin } from 'vuelidate';
import { maxLength, required, requiredIf } from 'vuelidate/lib/validators';

import KTWizard from '@/assets/js/components/wizard';
import Gui from '@/assets/js/logic/template';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { ADD_TENANT, SET_BUSY } from '@/core/store/user/session.module';
import { DATA_USER, SET_ALIAS, SET_DATA, SET_GATEWAY, SET_CLIENT, SET_KEY, CRUD_FREELANCE } from '@/core/store/user/index.module';
import { LS } from '@/core/store/tenant/payment.module';

export default {
  mixins: [validationMixin],
  name: 'IndividualBusiness',
  computed: {
    ...mapGetters('session', ['pageBusy'])
  },
  data: function () {
    return {
      gui: new Gui(this),
      form: { access_key: null, alias: null, client_id: null, provider_id: null },
      providers: []
    };
  },
  validations: {
    form: {
      alias: { required, maxLength: maxLength(20) },
      provider_id: {},
      client_id: {
        required: requiredIf(function () {
          return this.form.provider_id === 'PF' || this.form.provider_id === 'PP';
        })
      },
      access_key: {}
    }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Profile' }, { title: 'Individual Business' }]);

    // Initialize form wizard
    const wizard = new KTWizard('profile-screen');
    wizard.goTo(5);

    this.providers = await this[LS]({ target: 'provider', format: this.getProviders }).catch(this.gui.toast);
    await this[DATA_USER]('tenant').then(this.updateReady).catch(this.gui.toast);

    this.$nextTick().then(() => {
      this[SET_BUSY](false);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    ...mapActions('payment', [LS]),
    ...mapActions('user', [DATA_USER, CRUD_FREELANCE]),
    ...mapMutations('session', [ADD_TENANT, SET_BUSY]),
    ...mapMutations('user', [SET_ALIAS, SET_CLIENT, SET_DATA, SET_GATEWAY, SET_KEY]),
    getProviders: function (payload) {
      let list = [{ text: '-- Select Provider --', value: null }];
      for (const item of payload) {
        list.push({ text: item.NAME, value: item.PROVIDER_ID });
      }
      return list;
    },
    updateReady: function ({ payload }) {
      if (payload === false) {
        return;
      }
      const { ACCESS_KEY, ALIAS, CLIENT_ID, PROVIDER_ID } = payload;
      this.form.alias = ALIAS;
      this.form.provider_id = PROVIDER_ID;
      this.form.client_id = CLIENT_ID;
      this.form.access_key = ACCESS_KEY;
    },
    save: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this[SET_BUSY](true);

      await this[CRUD_FREELANCE]()
        .then(({ payload: { fresh, report } }) => {
          this.$v.form.$reset();
          this[SET_DATA]({});
          if (fresh) this.$nextTick().then(this.fresh);
          this.gui.statusReport(report);
        })
        .catch(this.gui.toast);

      this[SET_BUSY](false);
    },
    fresh: function () {
      this.$emit('tenantSwitch', true);
    }
  }
};
</script>
