<template>
  <b-form class="form" @reset.stop.prevent="cancel" @submit.stop.prevent="save">
    <h4 class="mb-10 font-weight-bold text-dark">{{ !currentUser.password ? 'Change your' : 'Create' }} Account Password</h4>
    <b-row>
      <b-col xl="6">
        <b-form-group v-if="!resetRequested && !currentUser.password" label="Current Password" label-for="old-passwd-input">
          <b-form-input
            id="old-passwd-input"
            type="password"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="Verify Indentity"
            v-model="form.passwd0"
            @change="setOldPassword"
          />
          <a @click.prevent="forgot" class="text-sm font-weight-bold">Forgot password ?</a>
        </b-form-group>
        <b-form-group label="New Password" label-for="passwd-input">
          <b-form-input
            id="passwd-input"
            type="password"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="Create Password"
            v-model="$v.form.passwd1.$model"
            :state="gui.validateState('passwd1')"
            aria-describedby="passwd-1-feedback"
            @input="
              (v) => {
                setPasswd1(v, $v.form.passwd1);
              }
            "
            @change="setNewPassword"
          />
          <b-form-invalid-feedback id="passwd-1-feedback">
            <span v-if="!$v.form.passwd1.required">Password is Required.</span>
            <span v-if="!$v.form.passwd1.minLength">Use at minimum 8 characters.</span>
            <span v-if="!$v.form.passwd1.strength">Strength doesn't meet Minimum.</span>
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group>
          <b-form-input
            type="password"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="Verify Password"
            v-model="$v.form.passwd2.$model"
            :state="gui.validateState('passwd2')"
            aria-describedby="passwd-2-feedback"
            @input="
              (v) => {
                setPasswd2(v, $v.form.passwd2);
              }
            "
          />
          <b-form-invalid-feedback id="passwd-2-feedback">
            <span v-if="!$v.form.passwd2.required">Password is Required.</span>
            <span v-if="!$v.form.passwd2.retype">Passwords need to Match.</span>
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <b-col xl="6">
        <div class="form-group">
          <label class="underline">New Password</label>
          <ul class="strength-guard">
            <li ref="1pStrength0">Upper Case</li>
            <li ref="1pStrength1">Lower Case</li>
            <li ref="1pStrength2">Numeric</li>
            <li ref="1pStrength3">Symbols</li>
            <li ref="1pStrength4">8 Characters</li>
          </ul>
        </div>
        <div class="form-group">
          <label class="underline">Password Retype</label>
          <ul class="strength-guard">
            <li ref="2pStrength0">Upper Case</li>
            <li ref="2pStrength1">Lower Case</li>
            <li ref="2pStrength2">Numeric</li>
            <li ref="2pStrength3">Symbols</li>
            <li ref="2pStrength4">8 Characters</li>
          </ul>
        </div>
      </b-col>
    </b-row>
    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-between border-top pt-10">
      <div class="mr-2" />
      <div>
        <b-button :disabled="pageBusy" variant="dark" type="submit" class="font-weight-bold text-uppercase px-9 py-4 rounded-0">
          Save
        </b-button>
      </div>
    </div>
    <!--end: Wizard Actions -->
    <!--begin::Status Report Modal-->
    <b-modal ref="status-modal" class="rounded-0" hide-footer>
      <b-card :title="status.title" img-src="img/logo/Illustrato.jpg" img-alt="Illustrato" img-top tag="article">
        <b-card-text>
          {{ status.message }}
        </b-card-text>
      </b-card>
    </b-modal>
    <!--end::Status Report Modal-->
  </b-form>
</template>
<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required, minLength } from 'vuelidate/lib/validators';
const { passwordStrength } = require('check-password-strength');

import Gui from '@/assets/js/logic/template';
import Passwd from '@/assets/js/logic/passwd';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';

import { PASSWORD, SET_DATA, SET_OLDPASSWD, SET_NEWPASSWD } from '@/core/store/user/index.module';
import { FORGOT_LOGIN, SET_BUSY, SET_PASSWD } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'Password',
  computed: {
    ...mapGetters('session', ['pageBusy', 'currentUser', 'resetRequested'])
  },
  data: function () {
    return {
      gui: new Gui(this),
      logic: new Passwd(this),
      status: { message: '', title: '' },
      form: {
        passwd0: null,
        passwd1: null,
        passwd2: null
      }
    };
  },
  validations: {
    form: {
      passwd1: {
        required,
        minLength: minLength(8),
        strength: function (value) {
          if (!required(value)) return true;
          if (value.length < 8) return true;
          return passwordStrength(value).id > 1;
        }
      },
      passwd2: {
        required,
        retype: function (value) {
          if (!required(value)) return true;
          return value === this.$v.form.passwd1.$model;
        }
      }
    }
  },
  mounted: function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Profile' }, { title: 'Password Update' }]);

    // Initialize form wizard
    const wizard = new KTWizard('profile-screen');
    wizard.goTo(4);

    this.$nextTick().then(() => {
      this[SET_DATA]({});
      this[SET_BUSY](false);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    ...mapActions('session', [FORGOT_LOGIN]),
    ...mapActions('user', [PASSWORD]),
    ...mapMutations('session', [SET_BUSY, SET_PASSWD]),
    ...mapMutations('user', [SET_DATA, SET_OLDPASSWD, SET_NEWPASSWD]),
    setPasswd1: function (value, $v) {
      this.logic.strength(1, value);
      this.gui.delayTouch($v);
    },
    setPasswd2: function (value, $v) {
      this.logic.strength(2, value);
      this.gui.delayTouch($v);
    },
    forgot: async function () {
      // send reset request
      await this[FORGOT_LOGIN](this.form)
        .then(({ payload }) => {
          this.showStatus('Process Completed!', payload);
        })
        .catch(this.gui.toast);
    },
    showStatus: function (title, text) {
      this.status.title = title;
      this.status.message = text;
      this.$refs['status-modal'].show();
    },
    save: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this[SET_BUSY](true);

      await this[PASSWORD]()
        .then(({ payload }) => {
          this[SET_PASSWD](false);
          // set spinner to submit button
          this.gui.statusReport(payload);
          this.form = {
            passwd0: null,
            passwd1: null,
            passwd2: null
          };
          this[SET_DATA]({});
          this.logic.reset();
          this.$router.push({ name: 'PersonalDetails' });
        })
        .catch(this.gui.toast);

      this[SET_BUSY](false);
    }
  }
};
</script>
<style scoped>
.strength-guard li {
  color: #888;
}
.strength-guard li.bold {
  color: #000;
}
.strength-guard {
  list-style: none;
  line-height: 14px;
  font-size: 12px;
  font-weight: 100;
}
.underline {
  border-bottom: 1px dashed #444;
}
.bold {
  font-weight: 700 !important;
}
</style>
