<template>
  <b-form class="form" @reset.stop.prevent="cancel" @submit.stop.prevent="save">
    <h4 class="mb-10 font-weight-bold text-dark">Capture your Personal Data</h4>
    <b-row>
      <b-col xl="6">
        <b-form-group
          id="firstname-input-group"
          label-class="required"
          label="First Name"
          label-for="firstname-input"
          :description="restrictedField('Your Name as it appears in your ID Document')"
        >
          <b-form-input
            class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
            id="firstname-input"
            v-model="$v.form.firstname.$model"
            :state="gui.validateState('firstname')"
            aria-describedby="firstname-feedback"
            :disabled="currentUser.employee"
            placeholder="Kary"
            @input="gui.delayTouch($v.form.firstname)"
            @change="setFirstName"
          />

          <b-form-invalid-feedback id="firstname-feedback">
            <span v-if="!$v.form.firstname.required">First Name is required.</span>
            <span v-if="!$v.form.firstname.minLength">First Names are at least 2 characters.</span>
            <span v-if="!$v.form.firstname.maxLength">First Names are at max 20 characters.</span>
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <b-col xl="6">
        <b-form-group
          id="lastname-input-group"
          label-class="required"
          label="Last Name"
          label-for="lastname-input"
          :description="restrictedField('Your Family Name')"
        >
          <b-form-input
            class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
            id="lastname-input"
            v-model="$v.form.lastname.$model"
            :state="gui.validateState('lastname')"
            aria-describedby="lastname-feedback"
            :disabled="currentUser.employee"
            placeholder="Mullis"
            @input="gui.delayTouch($v.form.lastname)"
            @change="setLastName"
          />

          <b-form-invalid-feedback id="lastname-feedback">
            <span v-if="!$v.form.lastname.required">Last Name is required.</span>
            <span v-if="!$v.form.lastname.minLength">Last Names are at least 2 characters.</span>
            <span v-if="!$v.form.lastname.maxLength">Last Names are at max 20 characters.</span>
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="6">
        <b-form-group
          label="ID Number"
          label-for="idnumber-input"
          :description="restrictedField('Your ID Number as it appears in your ID document.')"
        >
          <b-form-input
            id="idnumber-input"
            type="text"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="ID Number"
            aria-describedby="idnumber-feedback"
            :disabled="currentUser.employee"
            v-model="$v.form.idnumber.$model"
            @input="gui.delayTouch($v.form.idnumber)"
            :state="gui.validateState('idnumber')"
            @change="setIdNumber"
            @blur="$v.form.idnumber.$touch()"
          />
          <b-form-invalid-feedback id="idnumber-feedback">
            <span v-if="!$v.form.idnumber.mandatory">ID Number is required.</span>
            <span v-if="!$v.form.idnumber.rsaId">Invalid ID Number.</span>
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <b-col xl="6">
        <b-form-group
          id="nationality-input-group"
          label-class="required"
          label="Nationality"
          label-for="nationality-select"
          :description="restrictedField('Country of Origin')"
        >
          <b-form-select
            v-model="$v.form.nationality.$model"
            :state="gui.validateState('nationality')"
            id="nationality-select"
            :disabled="currentUser.employee"
            class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
            :options="countries"
            aria-describedby="nationality-feedback"
          />

          <b-form-invalid-feedback id="nationality-feedback">
            <span v-if="!$v.form.nationality.required">Nationality is required.</span>
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="6">
        <b-form-group label="Title" label-for="title-input" description="Please specify your Title.">
          <b-form-select
            id="title-input"
            class="form-control form-control-solid form-control-lg rounded-0"
            :options="credentials"
            :plain="true"
            v-model="$v.form.title.$model"
            @change="setTitle"
          />
        </b-form-group>
      </b-col>
      <b-col xl="6">
        <b-form-group label="Date of Birth" label-for="dob-input" :description="restrictedField('The Day in which you were born.')">
          <b-form-datepicker
            id="dob-input"
            class="form-control form-control-solid form-control-lg rounded-0"
            placeholder="Date of Birth"
            :max="getDate(8)"
            :min="getDate(120)"
            :show-decade-nav="true"
            :disabled="currentUser.employee"
            v-model="$v.form.dob.$model"
            :state="gui.validateState('dob')"
            @input="setDateOfBirth"
          />
          <b-form-invalid-feedback :state="$v.form.dob.harmony"> Inconsistent with ID Number. </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
    </b-row>
    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-between border-top pt-10">
      <div class="mr-2" />
      <div>
        <b-button :disabled="pageBusy" variant="dark" type="submit" class="font-weight-bold text-uppercase px-9 py-4 rounded-0">
          Save
        </b-button>
      </div>
    </div>
    <!--end: Wizard Actions -->
  </b-form>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';

const validSouthAfricanId = require('valid-south-african-id');

import KTWizard from '@/assets/js/components/wizard';
import Gui from '@/assets/js/logic/template';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { NATIONS } from '@/core/store/generic.module';
import {
  DATA_USER,
  SET_DATA,
  SET_FNAME,
  SET_LNAME,
  SET_IDNO,
  SET_NATION,
  SET_TITLE,
  SET_DOB,
  TITLES,
  UPDATE_USER
} from '@/core/store/user/index.module';
import { SET_BUSY, SET_UFNAME, SET_ULNAME } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'Personal',
  computed: {
    ...mapGetters('session', ['currentUser', 'pageBusy'])
  },
  data: function () {
    return {
      gui: new Gui(this),
      credentials: [],
      countries: [],
      form: { firstname: null, lastname: null, nationality: null, idnumber: null, dob: null, title: null }
    };
  },
  validations: {
    form: {
      firstname: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(20)
      },
      lastname: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(20)
      },
      nationality: {
        required
      },
      idnumber: {
        mandatory: function (value) {
          if (this.form.nationality !== 'ZA') return true;
          if (!required(value)) return true;
          return true;
        },
        rsaId: function (value) {
          if (this.form.nationality !== 'ZA') return true;
          if (!required(value)) return true;
          return validSouthAfricanId(value);
        }
      },
      dob: {
        harmony: function (value) {
          if (this.form.nationality !== 'ZA') return true;
          if (!required(value)) return true;
          const reg = /([0-9]{4})-([0-9]{2})-([0-9]{2})/;
          const obj = reg.exec(value);
          const dob = `${obj[1].substr(2)}${obj[2]}${obj[3]}`;
          return this.form.idnumber.substr(0, 6) === dob;
        }
      },
      title: {}
    }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Profile' }, { title: 'Personal Details' }]);

    // Initialize form wizard
    const wizard = new KTWizard('profile-screen');
    wizard.goTo(1);

    this.credentials = await this[TITLES]().then(this.getTitles).catch(this.gui.toast);
    this.countries = await this[NATIONS]('array').catch(this.gui.toast);

    // Page Load event
    await this[DATA_USER]().then(this.updateReady).catch(this.gui.toast);

    this.$nextTick().then(() => {
      this[SET_DATA]({});
      this[SET_BUSY](false);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    ...mapActions('generic', [NATIONS]),
    ...mapActions('user', [DATA_USER, TITLES, UPDATE_USER]),
    ...mapMutations('session', [SET_BUSY, SET_UFNAME, SET_ULNAME]),
    ...mapMutations('user', [SET_DATA, SET_FNAME, SET_LNAME, SET_IDNO, SET_NATION, SET_TITLE, SET_DOB]),
    getDate: function (difference) {
      const date = new Date();
      const [month, day, year] = [date.getMonth(), date.getDate(), date.getFullYear() - difference];
      return new Date(year, month, day);
    },
    updateFName: function (value) {
      this[SET_FNAME](value);
      this[SET_UFNAME](value);
    },
    updateLName: function (value) {
      this[SET_LNAME](value);
      this[SET_ULNAME](value);
    },
    getTitles: async function ({ payload }) {
      let list = [{ text: 'Select Title', value: null }];
      for (const item of payload) {
        list.push({ text: item, value: item });
      }
      return list;
    },
    restrictedField: function (info) {
      return this.currentUser.employee ? 'Changing this Field is restricted to your Employer' : info;
    },
    updateReady: function ({ payload: { firstname, lastname, nationality, idnumber, dob, title } }) {
      this.form.firstname = firstname;
      this.form.lastname = lastname;
      this.form.nationality = nationality;
      this.form.idnumber = idnumber;
      this.form.dob = dob;
      this.form.title = title;
    },
    save: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this[SET_BUSY](true);

      await this[UPDATE_USER]()
        .then(({ payload }) => {
          // set spinner to submit button
          this.gui.statusReport(payload);
          this.$v.form.$reset();
          this[SET_DATA]({});
        })
        .catch(this.gui.toast);

      this[SET_BUSY](false);
    }
  }
};
</script>
