﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: 'Vermin Vibes Redux Regular';
  src: url('vermin_vibes_redux.eot?') format('eot'), url('vermin_vibes_redux.woff') format('woff'),
    url('vermin_vibes_redux.ttf') format('truetype'), url('vermin_vibes_redux.svg#Vermin-Vibes-Redux') format('svg');
  font-weight: normal;
  font-style: normal;
}
