<template>
  <div>
    <b-modal
      v-model="active"
      :no-close-on-backdrop="true"
      size="lg"
      header-bg-variant="white"
      header-border-variant="white"
      header-class="icon-3x py-5 rounded-0 border-bottom-0 "
      header-close-variant="dark"
      content-class="rounded-0"
      body-bg-variant="white"
      body-class="py-0"
      footer-bg-variant="secondary"
      footer-class="pb-2 pt-1"
      @shown="visibile"
      @hidden="cleanUp"
    >
      <b-container fluid>
        <b-overlay :show="busy" variant="white" spinner-type="grow" rounded="sm">
          <b-row class="mb-1 text-center">
            <b-col cols="12"
              ><h1>{{ selectedEmp === false ? 'New Employee' : `${form.firstname} ${form.lastname} Details` }}</h1>
              <div class="text-gray-400 fw-bold fs-5">
                If you need more info, please checkout the
                <a href="/#/tnc" target="_blank" class="fw-bolder link-primary">Terms of Service</a>.
              </div>
            </b-col>
          </b-row>
          <b-row class="mt-0">
            <b-col md="6" class="pb-0">
              <b-form-group
                id="firstname-input-group"
                label-class="required"
                label="First Name"
                label-for="firstname-input"
                description="Name of Employee as it appears in the ID document"
              >
                <b-form-input
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  id="firstname-input"
                  v-model="$v.form.firstname.$model"
                  :state="gui.validateState('firstname')"
                  aria-describedby="firstname-feedback"
                  placeholder="Personal Name"
                  @input="gui.delayTouch($v.form.firstname)"
                  @change="setFName($v.form.firstname.$model)"
                ></b-form-input>

                <b-form-invalid-feedback id="firstname-feedback">
                  <span v-if="!$v.form.firstname.required">First Name is required.</span>
                  <span v-if="!$v.form.firstname.minLength">First Names are at least 2 characters.</span>
                  <span v-if="!$v.form.firstname.maxLength">First Names are at max 20 characters.</span>
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col md="6" class="pb-0">
              <b-form-group
                id="lastname-input-group"
                label-class="required"
                label="Last Name"
                label-for="lastname-input"
                description="Family Name of Employee"
              >
                <b-form-input
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  id="lastname-input"
                  v-model="$v.form.lastname.$model"
                  :state="gui.validateState('lastname')"
                  aria-describedby="lastname-feedback"
                  placeholder="Family Name"
                  @input="gui.delayTouch($v.form.lastname)"
                  @change="setLName($v.form.lastname.$model)"
                ></b-form-input>

                <b-form-invalid-feedback id="lastname-feedback">
                  <span v-if="!$v.form.lastname.required">Last Name is required.</span>
                  <span v-if="!$v.form.lastname.minLength">Last Names are at least 2 characters.</span>
                  <span v-if="!$v.form.lastname.maxLength">Last Names are at max 20 characters.</span>
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="mt-0">
            <b-col md="6" class="pb-0">
              <b-form-group
                id="nationality-input-group"
                label-class="required"
                label="Nationality"
                label-for="nationality-select"
                description="Country of Origin"
              >
                <b-form-select
                  v-model="$v.form.nationality.$model"
                  :state="gui.validateState('nationality')"
                  id="nationality-select"
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  :options="countries"
                  aria-describedby="nationality-feedback"
                  @change="setNation($v.form.nationality.$model)"
                />

                <b-form-invalid-feedback id="nationality-feedback">
                  <span v-if="!$v.form.nationality.required">Nationality is required.</span>
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col md="6" class="pb-0">
              <b-form-group label="ID Number" label-for="idnumber-input" description="Employee's ID Number">
                <b-form-input
                  id="idnumber-input"
                  type="text"
                  class="form-control form-control-solid form-control-lg rounded-0"
                  placeholder="ID Number"
                  aria-describedby="idnumber-feedback"
                  v-model="$v.form.idnumber.$model"
                  @input="gui.delayTouch($v.form.idnumber)"
                  :state="gui.validateState('idnumber')"
                  @change="setIdNumber"
                  @blur="$v.form.idnumber.$touch()"
                />
                <b-form-invalid-feedback id="idnumber-feedback">
                  <span v-if="!$v.form.idnumber.mandatory">ID Number is required.</span>
                  <span v-if="!$v.form.idnumber.rsaId">Invalid ID Number.</span>
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="mt-0">
            <b-col md="6" class="pb-0">
              <b-form-group
                id="email-input-group"
                label-class="required"
                label="Personal Email"
                label-for="email-input"
                description="Will be used to send the Verification Email"
              >
                <b-form-input
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  id="email-input"
                  v-model="$v.form.email.$model"
                  :state="gui.validateState('email')"
                  aria-describedby="email-feedback"
                  placeholder="Emaill Address"
                  @input="gui.delayTouch($v.form.email)"
                  @change="setEmail($v.form.email.$model)"
                ></b-form-input>

                <b-form-invalid-feedback id="email-feedback">
                  <span v-if="!$v.form.email.required">Email account is Required.</span>
                  <span v-if="!$v.form.email.email">Provided a valid Email Address.</span>
                  <span v-if="!$v.form.email.unique">Email Address matched in Database.</span>
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                id="email-input-group"
                label="Work Email"
                label-for="workEmail-input"
                description="Employee's Work Email Address"
              >
                <b-form-input
                  class="form-control bg-secondary h-auto py-3 px-4 rounded-0"
                  id="workEmail-input"
                  v-model="$v.form.workEmail.$model"
                  :state="gui.validateState('workEmail')"
                  aria-describedby="email-feedback"
                  placeholder="Email Address"
                  @input="gui.delayTouch($v.form.workEmail)"
                  @change="setWorkEmail($v.form.workEmail.$model)"
                ></b-form-input>

                <b-form-invalid-feedback id="workEmail-feedback">
                  <span v-if="!$v.form.workEmail.email">Provided a valid Email Address.</span>
                  <span v-if="!$v.form.workEmail.unique">Email Address matched in Database.</span>
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group label="Work Telephone" label-for="telephone-input" description="Employee's Work Telephone Number.">
                <b-button v-if="!phone.in" block squared variant="secondary" @click="phone.in = true">{{ phone.number }}</b-button>
                <VuePhoneNumberInput
                  ref="telInput"
                  v-if="phone.in"
                  id="telephone-input"
                  class="form-control bg-secondary h-auto py-0 px-0 rounded-0"
                  :clearable="true"
                  :border-radius="0"
                  v-model="phone.number"
                  @update="setPhone"
                  @phone-number-blur="unPhone"
                />
                <b-form-invalid-feedback :state="gui.validateState('telephone')"> Phone Format Invalid </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col md="6" class="pb-0">
              <div class="form-group">
                <label>Photograph</label>
                <div>
                  <div id="emp_photograph" class="image-input image-input-outline">
                    <div class="image-input-wrapper" :style="{ backgroundImage: `url(${getPic})` }" />
                    <label
                      class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                      data-action="change"
                      data-toggle="tooltip"
                      data-original-title="Change Photograph"
                      title="Change Photograph"
                    >
                      <i class="fa fa-pen icon-sm text-muted"></i
                      ><input type="file" name="branch_photograph" accept="image/*" @change="img.set" /><input type="hidden" />
                    </label>
                    <span
                      :data-action="pic.ext === null ? 'cancel' : 'remove'"
                      data-toggle="tooltip"
                      title="Remove Photograph"
                      class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                      @click="rmPhoto"
                      ><i class="ki ki-bold-close icon-xs text-muted"></i
                    ></span>
                  </div>
                  <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                </div>
              </div>
            </b-col>
          </b-row>
          <b-row class="mt-0">
            <b-col md="6" class="pb-0">
              <b-form-group label="Employee's Branch" label-for="emp-branch-input" description="The employee is working on which Branch?">
                <b-form-select
                  id="emp-branch-input"
                  class="form-control form-control-solid form-control-lg rounded-0"
                  size="sm"
                  v-model="$v.form.branch.$model"
                  :plain="true"
                  :value="null"
                  @change="setBranch"
                >
                  <b-form-select-option :value="null">Please select Branch</b-form-select-option>
                  <b-form-select-option v-for="(branch, i) in getBranches" :key="i" :value="branch.branch"
                    >{{ branch.addressline1 }}, {{ branch.city }}</b-form-select-option
                  >
                </b-form-select>
              </b-form-group>
            </b-col>
            <b-col md="6" class="pb-0">
              <b-form-group label="Date of Birth" label-for="dob-input" description="Please specify Employee's Date of Birth.">
                <b-form-datepicker
                  id="dob-input"
                  class="form-control form-control-solid form-control-lg rounded-0"
                  placeholder="Date of Birth"
                  v-model="$v.form.dob.$model"
                  :max="getDate(8)"
                  :min="getDate(120)"
                  :show-decade-nav="true"
                  :state="gui.validateState('dob')"
                  @input="setDOB"
                />
                <b-form-invalid-feedback :state="$v.form.dob.harmony"> Inconsistent with ID Number. </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
          </b-row>
        </b-overlay>
      </b-container>
      <template #modal-footer>
        <div class="w-100 text-center">
          <b-button :disabled="busy" variant="secondary" @click="active = false" squared> Cancel </b-button>
          <b-button :disabled="busy" variant="dark" squared @click="submit">{{
            selectedEmp === false ? 'Submit Form' : 'Save Info'
          }}</b-button>
        </div>
      </template>
    </b-modal>
    <b-modal
      v-model="cropper.active"
      title="Select Photograph"
      :no-close-on-backdrop="true"
      size="lg"
      header-bg-variant="secondary"
      header-class="py-0"
      body-class="p-0"
      footer-bg-variant="secondary"
      footer-class="p-0"
    >
      <template #modal-header>
        <b-container fluid>
          <b-row>
            <b-col cols="4" md="5">
              <b-button disabled block class="text-left cursor-default">Photograph</b-button>
            </b-col>
            <b-col cols="4" md="2">
              <b-button variant="danger" squared block v-b-tooltip title="Reset" @click.prevent="img.reset"
                ><i aria-hidden="true" class="fa fa-arrows-alt"></i
              ></b-button>
            </b-col>
            <b-col cols="2" md="4"> </b-col>
            <b-col cols="2" md="1">
              <b-button block v-b-tooltip title="Cancel" @click.prevent="cropper.active = false"
                ><i aria-hidden="true" class="fa fa-times"></i
              ></b-button>
            </b-col>
          </b-row>
        </b-container>
      </template>
      <vue-cropper
        ref="cropper"
        :view-mode="2"
        :aspect-ratio="1"
        :src="cropper.src"
        :min-container-width="320"
        :min-canvas-width="320"
        :min-crop-box-width="240"
        alt="Source Image"
      />
      <template #modal-footer>
        <b-container fluid>
          <b-row>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Move Left" @click.prevent="img.move(-10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-left"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Down" @click.prevent="img.move(0, 10)"
                  ><i aria-hidden="true" class="fa fa-caret-down"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Up" @click.prevent="img.move(0, -10)"
                  ><i aria-hidden="true" class="fa fa-caret-up"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Right" @click.prevent="img.move(10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-right"></i
                ></b-button>
              </b-button-group>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipX" block v-b-tooltip title="Flip Horizontally" @click.prevent="img.flipX"
                ><i aria-hidden="true" class="fa fa-arrows-alt-h"></i
              ></b-button>
            </b-col>
            <b-col cols="8" md="2">
              <b-button variant="success" block v-b-tooltip title="Crop Image" @click.prevent="mkPhoto"
                ><i aria-hidden="true" class="fa fa-crop"></i
              ></b-button>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipY" block v-b-tooltip title="Flip Vertically" @click.prevent="img.flipY"
                ><i aria-hidden="true" class="fa fa-arrows-alt-v"></i
              ></b-button>
            </b-col>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Rotate 90 Degrees Left" @click.prevent="img.rotate(-90)"
                  ><i aria-hidden="true" class="fa fa-reply"></i
                ></b-button>
                <b-button v-b-tooltip title="Zoom Out" @click.prevent="img.zoom(-0.2)"
                  ><i aria-hidden="true" class="fa fa-search-minus"></i
                ></b-button>
                <b-button v-b-tooltip title="Zoom In" @click.prevent="img.zoom(0.2)"
                  ><i aria-hidden="true" class="fa fa-search-plus"></i
                ></b-button>
                <b-button v-b-tooltip title="Rotate 90 Degrees Right" @click.prevent="img.rotate(90)"
                  ><i aria-hidden="true" class="fa fa-share"></i
                ></b-button>
              </b-button-group>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';

import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength, email, requiredIf } from 'vuelidate/lib/validators';

import VuePhoneNumberInput from 'vue-phone-number-input';
import 'vue-phone-number-input/dist/vue-phone-number-input.css';

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

const validSouthAfricanId = require('valid-south-african-id');

import Crop from '@/assets/js/logic/crop';
import Gui from '@/assets/js/logic/template';

import { NATIONS } from '@/core/store/generic.module';
import { CHECK } from '@/core/store/user/index.module';
import {
  CRUD_EMP,
  SELECT_EMP,
  CRUD_PHOTO,
  SET_BRANCH,
  SET_DATA,
  SET_FNAME,
  SET_LNAME,
  SET_NATION,
  SET_IDNO,
  SET_DOB,
  SET_EMAIL,
  SET_TEL,
  SET_WORK_EMAIL
} from '@/core/store/org/staff.module';
import { SET_STAFF } from '@/core/store/org/index.module';

export default {
  mixins: [validationMixin],
  name: 'Employee',
  components: { VueCropper, VuePhoneNumberInput },
  computed: {
    ...mapGetters('org', ['getBranches']),
    ...mapGetters('staff', ['selectedEmp']),
    getPic: function () {
      let image = 'img/user/blank.png';
      switch (this.selectedEmp || 0) {
        case 0:
          break;
        default:
          image = this.pic.ext === null ? image : `${process.env.VUE_APP_FILES}/img/avatar/${this.selectedEmp}.${this.pic.ext}`;
          break;
      }
      return this.pic.base64 || image;
    }
  },
  data: function () {
    return {
      active: false,
      busy: false,
      gui: new Gui(this),
      img: new Crop(this),
      pic: { base64: null, ext: null },
      cropper: { active: false, src: null, type: null, landscape: true },
      form: {
        firstname: null,
        lastname: null,
        nationality: null,
        idnumber: null,
        email: null,
        workEmail: null,
        telephone: null,
        branch: null,
        dob: null
      },
      phone: {
        in: false,
        number: 'Telephone Number',
        valid: true
      },
      countries: [],
      branches: []
    };
  },
  validations: {
    form: {
      firstname: { required, minLength: minLength(2), maxLength: maxLength(20) },
      lastname: { required, minLength: minLength(2), maxLength: maxLength(20) },
      nationality: { required },
      idnumber: {
        required: requiredIf(function () {
          return this.form.nationality === 'ZA';
        }),
        rsaId: function (value) {
          if (this.form.nationality !== 'ZA') return true;
          if (!required(value)) return true;
          return validSouthAfricanId(value);
        }
      },
      email: {
        required,
        email,
        unique: async function (value) {
          if (!required(value)) return true;
          if (!email(value)) return true;
          const { payload } = await this[CHECK]({ target: 'email', text: `${value}:${this.selectedEmp}` }).catch(this.gui.toast);
          return payload === false;
        }
      },
      workEmail: {
        email,
        unique: async function (value) {
          if (!required(value)) return true;
          if (!email(value)) return true;
          const { payload } = await this[CHECK]({ target: 'email', text: `${value}:${this.selectedEmp}` }).catch(this.gui.toast);
          return payload === false;
        }
      },
      telephone: {},
      branch: {},
      dob: {
        harmony: function (value) {
          if (this.form.nationality !== 'ZA' || typeof this.form.idnumber !== 'string') return true;
          if (!required(value)) return true;
          const reg = /([0-9]{4})-([0-9]{2})-([0-9]{2})/;
          const obj = reg.exec(value);
          const dob = `${obj[1].substr(2)}${obj[2]}${obj[3]}`;
          return this.form.idnumber.substr(0, 6) === dob;
        }
      }
    }
  },
  mounted: async function () {
    this.countries = await this[NATIONS]('array').catch(this.gui.toast);
    this.countries.push({ text: '-- Select Country --', value: null });
  },
  methods: {
    ...mapActions('generic', [NATIONS]),
    ...mapActions('staff', [CRUD_EMP, CRUD_PHOTO]),
    ...mapActions('user', [CHECK]),
    ...mapMutations('staff', [
      SET_BRANCH,
      SET_DATA,
      SET_DOB,
      SET_EMAIL,
      SELECT_EMP,
      SET_FNAME,
      SET_LNAME,
      SET_NATION,
      SET_IDNO,
      SET_TEL,
      SET_WORK_EMAIL
    ]),
    ...mapMutations('org', [SET_STAFF]),
    show: function (active = true, employee = null) {
      this.active = active;
      if (!employee) {
        return;
      }
      this.updateReady(employee);
    },
    setPhone: function (value) {
      if (value.isValid) {
        this.form.telephone = value.formatInternational;
        this.phone.number = value.formatInternational;
        this[SET_TEL](value.formatInternational);
      } else {
        this.phone.number = 'Telephone Number';
        this.form.telephone = null;
        this[SET_TEL](null);
      }
      this.phone.valid = value.isValid;
    },
    unPhone: function () {
      this.phone.valid = this.$refs.telInput.results.isValid;
      if (this.$refs.telInput.results.isValid) {
        this.phone.in = false;
      }
    },
    submit: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      this.busy = true;

      await this[CRUD_EMP]({ picture: this.pic })
        .then(({ payload }) => {
          this.show(false);
          if (payload === false) return;
          this[SET_STAFF](payload);
          if (this.selectedEmp === false) this.report();
        })
        .catch(this.gui.toast);

      this.busy = false;
    },
    getDate: function (difference) {
      const date = new Date();
      const [month, day, year] = [date.getMonth(), date.getDate(), date.getFullYear() - difference];
      return new Date(year, month, day);
    },
    mkPhoto: async function () {
      this.img.crop({ width: 360, height: 360 });
      if (this.selectedEmp === false) {
        return;
      }
      this.busy = true;
      await this[CRUD_PHOTO]({ picture: this.pic })
        .then(({ payload }) => {
          this[SET_STAFF](payload);
        })
        .catch(this.gui.toast);
      this.busy = false;
    },
    rmPhoto: async function () {
      if (this.selectedEmp === false) {
        this.img.rm();
        return;
      }
      this.busy = true;
      await this[CRUD_PHOTO]({ picture: this.pic })
        .then(({ payload }) => {
          this.img.rm();
          this[SET_STAFF](payload);
        })
        .catch(this.gui.toast);
      this.busy = false;
    },
    updateReady: function ({ firstname, lastname, nationality, idnumber, dob, email, workEmail, telephone, empBranch, avatar }) {
      this.form.firstname = firstname;
      this.form.lastname = lastname;
      this.form.nationality = nationality;
      this.form.idnumber = idnumber;
      this.form.dob = dob;
      this.form.email = email;
      this.form.workEmail = workEmail;
      this.form.telephone = telephone;
      this.form.branch = empBranch;
      this.pic.ext = avatar;
    },
    report: function () {
      const message =
        `A verification Email has beem sent to mailbox "${this.form.email}".<br/>` +
        'Inform this employee by other means to expect such email.<br/><br/>' +
        "If this employee can't find this email by their inbox, tell them to check for it in the spam/junk mail.<br/>" +
        "Gmail might have this email catalogued by the 'Promotions' tab.";
      this.$emit('report', 'Employee Created!', message);
    },
    cleanUp: function () {
      this.img.rm();
      this.$v.form.$reset();
      this.form = { firstname: null, lastname: null, nationality: null, idnumber: null, dob: null, email: null, branch: null };
      this[SET_DATA]({});
      this[SELECT_EMP](null);
    },
    visibile: function () {}
  }
};
</script>
<style scoped>
.image-input .image-input-wrapper {
  width: 240px !important;
  height: 240px !important;
}
</style>
