<template>
  <div>
    <b-modal
      v-model="active"
      :no-close-on-backdrop="true"
      content-class="rounded-0"
      header-bg-variant="white"
      header-border-variant="white"
      header-class="icon-3x py-5 rounded-0 border-bottom-0 "
      header-close-variant="dark"
      body-bg-variant="white"
      body-text-variant="dark"
      body-class="py-0"
      footer-bg-variant="secondary"
      footer-text-variant="white"
      footer-class="pb-2 pt-1"
      size="lg"
      @hidden="cleanUp"
    >
      <b-container fluid>
        <b-row class="mb-1 text-center">
          <b-col cols="12"
            ><h1>Sign Up Organization</h1>
            <div v-if="errors.length === 0" class="text-gray-400 fw-bold fs-5">
              If you need more info, please checkout the
              <a href="/#/tnc" target="_blank" class="fw-bolder link-primary">Terms of Service</a>.
            </div>
            <div class="text-danger fw-bold fs-5">
              {{ errors[0] }}
            </div>
          </b-col>
        </b-row>

        <b-row class="mt-0">
          <b-col md="6" class="pb-0">
            <b-form-group
              label="Business Name"
              label-class="required"
              label-for="name-input"
              description="Is there a name your customers know you by?"
            >
              <b-form-input
                id="name-input"
                type="text"
                class="form-control form-control-solid form-control-lg rounded-0"
                placeholder="Trademark"
                aria-describedby="name-feedback"
                v-model="$v.form.name.$model"
                :state="gui.validateState('name')"
                @input="gui.delayTouch($v.form.name)"
                @change="setName"
              />
              <b-form-invalid-feedback id="alias-feedback">
                <span v-if="$v.form.name.$dirty && !$v.form.name.required">Field is Required.</span>
                <span v-if="$v.form.name.$dirty && !$v.form.name.minLength">Use at least 2 characters.</span>
                <span v-if="$v.form.name.$dirty && !$v.form.name.maxLength">Use at max 45 characters.</span>
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col md="6" class="pb-0">
            <b-form-group label="Business Type" label-class="required" label-for="type-select" description="What type of business are you?">
              <b-form-select
                id="type-select"
                class="form-control form-control-solid form-control-lg rounded-0"
                aria-describedby="type-feedback"
                v-model="$v.form.structure.$model"
                :options="structures"
                :state="gui.validateState('structure')"
                @change="setStruct"
              />
              <b-form-invalid-feedback id="type-feedback" :state="gui.validateState('structure')">
                Field is Required.
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="mt-0">
          <b-col cols="6">
            <b-form-group
              label="Registration/Business Number"
              label-for="regno-input"
              description="Please enter the Business Registration Number."
              ><b-form-input
                id="regno-input"
                type="text"
                placeholder="Supplied by Registra of Companies"
                class="form-control form-control-solid form-control-lg rounded-0"
                v-model="$v.form.regno.$model"
                :state="gui.validateState('regno')"
                aria-describedby="regno-feedback"
                @input="gui.delayTouch($v.form.regno)"
                @change="setRegNo"
              />
              <b-form-invalid-feedback id="regno-feedback">
                <span v-if="!$v.form.regno.required">Please supply Registration/Business Number.</span>
                <span v-if="!$v.form.regno.minLength">Registration No is at least 2 characters.</span>
                <span v-if="!$v.form.regno.maxLength">Registration No is at max 21 characters.</span>
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col cols="6">
            <b-form-group label="Registra Commission" label-for="registra-input" description="Please enter the Company Registration Number."
              ><b-form-input
                id="registra-input"
                type="text"
                placeholder="Click Twice to see current List"
                class="form-control form-control-solid form-control-lg rounded-0"
                v-model="$v.form.registra.$model"
                list="registra-list"
                :state="gui.validateState('registra')"
                aria-describedby="regno-feedback"
                @input="gui.delayTouch($v.form.registra)"
                @change="setRegistra"
              />
              <datalist id="registra-list">
                <option v-for="(commission, i) in commissions" :key="i">{{ commission }}</option>
              </datalist>
              <b-form-invalid-feedback id="regno-feedback">
                <span v-if="!$v.form.registra.required">Please supply Commission where you registered your Business.</span>
                <span v-if="!$v.form.registra.minLength">Registra Name is at least 2 characters.</span>
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="mt-0">
          <b-col cols="6">
            <b-form-group label="Website" label-for="web-input" description="Please enter the Business Website."
              ><b-form-input
                id="web-input"
                type="url"
                placeholder="www.domain-name.tld"
                class="form-control form-control-solid form-control-lg rounded-0"
                v-model="$v.form.website.$model"
                :state="gui.validateState('website')"
                aria-describedby="web-feedback"
                @input="gui.delayTouch($v.form.website)"
                @change="setWeb"
              />
              <b-form-invalid-feedback id="web-feedback">
                <span v-if="!$v.form.website.url">Invalid Web URL.</span>
                <span v-if="!$v.form.website.maxLength">Web URL is at max 35 characters.</span>
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group label="Slogan" label-for="motto-input" description="Please enter the Business Motto."
              ><b-form-textarea
                id="motto-input"
                type="text"
                placeholder="What expression is your business known for"
                class="form-control form-control-solid form-control-lg rounded-0"
                v-model="$v.form.motto.$model"
                :state="gui.validateState('motto')"
                aria-describedby="motto-feedback"
                @input="gui.delayTouch($v.form.motto)"
                @change="setMotto"
              />
              <b-form-invalid-feedback id="motto-feedback">
                <span v-if="!$v.form.motto.minLength">Motto is at least 5 characters.</span>
                <span v-if="!$v.form.motto.maxLength">Motto is at max 95 characters.</span>
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>

          <b-col md="6"
            ><div class="form-group">
              <label>Main Logo</label>
              <div>
                <div id="company_logo" class="image-input image-input-outline">
                  <div class="image-input-wrapper position-relative">
                    <img
                      class="position-absolute"
                      :class="{ 'w-100 v-center': cropper.landscape, 'h-100 h-center': !cropper.landscape }"
                      :src="getPic"
                    />
                  </div>
                  <label
                    class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                    data-action="change"
                    data-toggle="tooltip"
                    data-original-title="Select Logo"
                    title="Select Logo"
                  >
                    <i class="fa fa-pen icon-sm text-muted"></i><input type="file" accept="image/*" @change="img.set" />
                  </label>
                  <span
                    :data-action="pic.base64 ? 'remove' : 'cancel'"
                    data-toggle="tooltip"
                    title="Remove Logo"
                    class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                    @click="img.rm"
                    ><i class="ki ki-bold-close icon-xs text-muted"></i
                  ></span>
                </div>
                <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>

      <template #modal-footer>
        <div class="w-100 text-center">
          <b-overlay :show="busy" variant="success" spinner-type="grow" rounded="sm">
            <b-button variant="secondary" @click="active = false" squared> Cancel </b-button>
            <b-button :disabled="busy" variant="dark" @click="submit" squared>Submit Form</b-button>
          </b-overlay>
        </div>
      </template>
    </b-modal>

    <b-modal
      v-model="cropper.active"
      title="Select Logo"
      :no-close-on-backdrop="true"
      header-bg-variant="secondary"
      header-text-variant="dark"
      body-bg-variant="light"
      body-text-variant="dark"
      footer-bg-variant="secondary"
      footer-text-variant="dark"
      size="lg"
      header-class="py-0"
      body-class="p-0"
      footer-class="p-0"
    >
      <template #modal-header>
        <b-container fluid>
          <b-row>
            <b-col cols="4" md="5">
              <b-button disabled block class="text-left cursor-default">Logo</b-button>
            </b-col>
            <b-col cols="4" md="2">
              <b-button variant="danger" squared block v-b-tooltip title="Reset" @click.prevent="img.reset"
                ><i aria-hidden="true" class="fa fa-arrows-alt"></i
              ></b-button>
            </b-col>
            <b-col cols="2" md="4"> </b-col>
            <b-col cols="2" md="1">
              <b-button block v-b-tooltip title="Cancel" @click.prevent="cropper.active = false"
                ><i aria-hidden="true" class="fa fa-times"></i
              ></b-button>
            </b-col>
          </b-row>
        </b-container>
      </template>
      <section class="cropper-area">
        <div class="img-cropper">
          <vue-cropper
            ref="cropper"
            :view-mode="1"
            :src="cropper.src"
            :auto-crop-area="1"
            :min-container-width="320"
            :min-canvas-width="320"
            :min-crop-box-width="240"
            alt="Source Image"
          />
        </div>
      </section>

      <template #modal-footer>
        <b-container fluid>
          <b-row>
            <b-col cols="12">
              <b-form-input
                ref="imgDesc"
                class="form-control bg-white h-auto py-3 px-4 rounded-0"
                placeholder="Please Write Logo Description Here, if there is one"
                @change="describeLogo"
              />
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Move Left" @click.prevent="img.move(-10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-left"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Down" @click.prevent="img.move(0, 10)"
                  ><i aria-hidden="true" class="fa fa-caret-down"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Up" @click.prevent="img.move(0, -10)"
                  ><i aria-hidden="true" class="fa fa-caret-up"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Right" @click.prevent="img.move(10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-right"></i
                ></b-button>
              </b-button-group>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipX" block v-b-tooltip title="Flip Horizontally" @click.prevent="img.flipX"
                ><i aria-hidden="true" class="fa fa-arrows-alt-h"></i
              ></b-button>
            </b-col>
            <b-col cols="8" md="2">
              <b-button variant="success" block v-b-tooltip title="Crop Image" @click.prevent="img.crop"
                ><i aria-hidden="true" class="fa fa-crop"></i
              ></b-button>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipY" block v-b-tooltip title="Flip Vertically" @click.prevent="img.flipY"
                ><i aria-hidden="true" class="fa fa-arrows-alt-v"></i
              ></b-button>
            </b-col>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Rotate 90 Degrees Left" @click.prevent="img.rotate(-90)"
                  ><i aria-hidden="true" class="fa fa-reply"></i
                ></b-button>
                <b-button v-b-tooltip title="Zoom Out" @click.prevent="img.zoom(-0.2)"
                  ><i aria-hidden="true" class="fa fa-search-minus"></i
                ></b-button>
                <b-button v-b-tooltip title="Zoom In" @click.prevent="img.zoom(0.2)"
                  ><i aria-hidden="true" class="fa fa-search-plus"></i
                ></b-button>
                <b-button v-b-tooltip title="Rotate 90 Degrees Right" @click.prevent="img.rotate(90)"
                  ><i aria-hidden="true" class="fa fa-share"></i
                ></b-button>
              </b-button-group>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength, url, requiredIf } from 'vuelidate/lib/validators';
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

import { isNavigationFailure, NavigationFailureType } from '@/router';

import Gui from '@/assets/js/logic/template';
import Crop from '@/assets/js/logic/crop';

import {
  CRUD_ORG,
  LS_ORG,
  SET_DATA,
  SET_MOTTO,
  SET_NAME,
  SET_REGISTRA,
  SET_REGNO,
  SET_STRUCTURE,
  SET_WEB
} from '@/core/store/org/index.module';

import { VERIFY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'NewOrg',
  components: {
    VueCropper
  },
  computed: {
    ...mapGetters('session', ['currentUser']),
    getPic: function () {
      return this.pic.base64 || 'img/user/logo.png';
    }
  },
  data: function () {
    return {
      active: false,
      busy: false,
      origin: null,
      gui: new Gui(this),
      img: new Crop(this),
      form: { name: null, structure: null, regno: null, registra: null, website: null, motto: null },
      pic: { base64: null, ext: null, width: 0, height: 0, description: null },
      cropper: { active: false, src: null, type: null, dimensions: { width: 0, height: 0 } },
      structures: [],
      commissions: [],
      errors: []
    };
  },
  validations: {
    form: {
      name: { required, minLength: minLength(2), maxLength: maxLength(45) },
      structure: { required },
      regno: {
        required: requiredIf(function () {
          return required(this.form.registra);
        }),
        minLength: minLength(2),
        maxLength: maxLength(21)
      },
      registra: {
        required: requiredIf(function () {
          return required(this.form.regno);
        }),
        minLength: minLength(2)
      },
      website: { url, maxLength: maxLength(35) },
      motto: { minLength: minLength(5), maxLength: maxLength(95) }
    }
  },
  mounted: async function () {
    this.structures = await this[LS_ORG]({ target: `structures`, format: this.getStructures }).catch(this.gui.toast);
    this.commissions = await this[LS_ORG]({ target: 'registra', format: this.getCommissions }).catch(this.gui.toast);
  },
  methods: {
    ...mapActions('org', [CRUD_ORG, LS_ORG]),
    ...mapMutations('org', [SET_DATA, SET_MOTTO, SET_NAME, SET_REGISTRA, SET_REGNO, SET_STRUCTURE, SET_WEB]),
    show: function (active = true, origin = 'dash') {
      this.active = active;
      this.origin = origin;
    },
    getStructures: function (list) {
      let collection = [{ text: '-- Select Business Structure --', value: null }];
      for (const item of list) {
        collection.push({ text: item.name.split('::')[0], value: item.id });
      }
      return collection;
    },
    getCommissions: function (list) {
      let collection = [];
      for (const item of list) {
        collection.push(item.name);
      }
      return collection;
    },
    describeLogo: function ($v) {
      this.pic.description = $v;
    },
    submit: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.busy = true;
      this.errors = [];

      await this[CRUD_ORG]({ picture: this.pic })
        .then(() => {
          this.$router.push({ name: 'admin' }).catch((err) => {
            if (isNavigationFailure(err, NavigationFailureType.duplicated)) {
              Promise.all([this.$store.dispatch(`session/${VERIFY}`)]).catch(this.gui.toast);
            }
          });
          this.show(false, null);
          this.$nextTick().then(() => {
            this.$emit('tenantSwitch', true, 'admin');
          });
        })
        .catch(({ errors }) => {
          this.errors = errors;
          this.gui.toast(errors);
        });
      this.busy = false;
    },

    cleanUp: function () {
      this.img.rm();
      this.$v.form.$reset();
      this.errors = [];
      this.form = { name: null, structure: null, regno: null, registra: null, website: null, motto: null };
      this[SET_DATA]({});
    }
  }
};
</script>

<style scoped>
.modal h1 {
  font-size: 1.75rem;
  font-weight: 600;
}
.fw-bold {
  font-weight: 500 !important;
}
.fs-5 {
  font-size: 1.15rem !important;
}
.text-gray-400 {
  color: #b5b5c3 !important;
}
.text-danger {
  color: #a00 !important;
}
.svg-icon.svg-icon-1 svg {
  height: 1.75rem !important;
  width: 1.75rem !important;
}
.btn {
  font-weight: 500;
  line-height: 1.5;
  color: #181c32;
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
}
.image-input .image-input-wrapper {
  width: 240px !important;
  height: 240px !important;
  background-image: repeating-linear-gradient(#fff, #000, #fff);
}
.required::after {
  content: '*';
  position: relative;
  font-size: inherit;
  color: #f1416c;
  padding-left: 0.25rem;
  font-weight: 700;
}
.required::after {
  font-size: 24px;
  line-height: 14px;
}
</style>
