<template>
  <b-modal
    v-model="switching"
    :no-close-on-backdrop="false"
    content-class="rounded-0"
    header-class="icon-3x pt-5 rounded-0 border-bottom-0 "
    header-border-variant="white"
    :scrollable="true"
    body-class="py-0 mb-1 mh-320"
    :hide-footer="true"
    size="lg"
    @shown="visibile"
    @hidden="busy = true"
  >
    <b-overlay :show="busy" spinner-type="grow" rounded="sm">
      <div class="w-100">
        <b-container fluid>
          <b-row class="mb-1 text-center">
            <b-col cols="12">
              <h1>{{ currentTenant === false ? 'Selection' : 'Switch' }}</h1>
              <div v-if="errors.length === 0" class="text-gray-400 fw-bold fs-5">
                If you need more info, please checkout the
                <a href="/#/tnc" target="_blank" class="fw-bolder link-primary">Terms of Service</a>.
              </div>
              <div v-for="(error, i) in errors" :key="i" class="text-danger fw-bold fs-5">
                {{ error }}
              </div>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <div class="card border-0 card-stretch gutter-b mb-0 rounded-0">
        <div class="table-responsive">
          <table class="table table-borderless table-vertical-center">
            <tbody>
              <template v-for="(item, i) in list">
                <tr v-bind:key="i" class="custom">
                  <td class="pl-0 py-0 border-top-0">
                    <div class="symbol symbol-50 symbol-light mr-1">
                      <span class="symbol-label">
                        <img
                          :src="item.tenant.face === null ? 'img/user/logo.png' : `${path}/${item.tenant.face}`"
                          class="h-100 align-self-center"
                          alt=""
                        />
                      </span>
                    </div>
                  </td>
                  <td class="pl-0">
                    <span class="text-dark-75 font-weight-bolder mb-1 font-size-lg">
                      {{ item.tenant.trademark }}
                    </span>
                    <div>
                      <span class="font-weight-bolder">Type:</span>
                      <a
                        class="text-muted font-weight-bold text-hover-primary"
                        v-if="item.website !== null"
                        :href="item.website"
                        target="_blank"
                      >
                        {{ bType[item.tenant.type] }} ({{ item.tenant.type === 'U' ? 'You' : rank[item.rank] }})
                      </a>
                    </div>
                  </td>
                  <td class="text-right">
                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                      {{ subscriptions(item.modules) }}
                    </span>
                    <span class="text-muted font-weight-bold">{{ tenantModules(item.modules) }}</span>
                  </td>
                  <td class="text-right">
                    <span v-if="currentTenant.tenant_id === item.tenant.tenant_id" class="label label-lg label-light-primary label-inline">
                      current
                    </span>
                  </td>
                  <td class="text-right pl-0">
                    <a
                      v-if="currentTenant.tenant_id !== item.tenant.tenant_id"
                      class="btn btn-icon btn-light btn-sm"
                      @click="proceed(item.tenant.tenant_id)"
                    >
                      <span class="svg-icon svg-icon-md svg-icon-primary">
                        <!--begin::Svg Icon-->
                        <inline-svg :title="`Switch to ${item.tenant.trademark}`" src="img/svg/icon/communication/Forward.svg" />
                        <!--end::Svg Icon-->
                      </span>
                    </a>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <!--end::Table-->
      </div>
    </b-overlay>
  </b-modal>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import { isNavigationFailure, NavigationFailureType } from '@/router';

import Gui from '@/assets/js/logic/template';
import { bool } from '@/assets/js/logic/hack';

import { ADD_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module.js';
import { SET_BRANCHES, SET_STAFF } from '@/core/store/org/index.module';
import { TENANTS } from '@/core/store/user/index.module';
import { LS_MODULE } from '@/core/store/tenant/app.module';
import { CACHE_TENANT, SET_TENANTS } from '@/core/store/user/session.module.js';

export default {
  name: 'TenantSwitch',
  computed: {
    ...mapGetters('session', ['currentTenant']),
    path: function () {
      return process.env.VUE_APP_FILES;
    },
    bType: function () {
      return { U: 'Individual', O: 'Organization' };
    },
    rank: function () {
      return { A: 'Administrating', E: 'Staff Member' };
    }
  },
  data: function () {
    return {
      gui: new Gui(this),
      switching: false,
      busy: true,
      errors: [],
      list: []
    };
  },
  methods: {
    ...mapActions('app', [LS_MODULE]),
    ...mapActions('user', [TENANTS]),
    ...mapMutations('session', [CACHE_TENANT, SET_TENANTS]),
    ...mapMutations('org', [SET_BRANCHES, SET_STAFF]),
    show: function (active = true, origin = 'dash') {
      this.switching = active;
      this.origin = origin;
    },
    subscriptions: function (list) {
      let count = 0;
      for (const { active, days } of list) {
        if (bool(active) && days <= 30) {
          count++;
        }
      }
      return `${count} Active Subscription${count === 1 ? '' : 's'}`;
    },
    tenantModules: function (list) {
      let items = [];
      for (const { mod_id } of list) {
        if (!items.includes(mod_id)) {
          items.push(mod_id);
        }
      }
      return `${items.length} Module${items.length === 1 ? '' : 's'}`;
    },
    proceed: async function (id) {
      if (this.currentTenant.tenant_id == id) {
        return;
      }
      this.$store.dispatch(ADD_BODY_CLASSNAME, 'page-loading');

      this[CACHE_TENANT](id);
      this.switching = false;
      await this.$router.push({ name: 'admin' }).catch((err) => {
        if (isNavigationFailure(err, NavigationFailureType.duplicated)) {
          this.$router.push({ name: 'monitor' });
          return;
        }
        window.alert(err);
      });
      await this[LS_MODULE]('active').catch(this.gui.toast);
      await this[LS_MODULE]('idling').catch(this.gui.toast);
    },
    visibile: async function () {
      this.errors = [];

      await this[TENANTS]()
        .then(({ payload }) => {
          this.list = payload;
          this[SET_TENANTS](
            payload.map((arr) => {
              return arr.tenant.tenant_id;
            })
          );
        })
        .catch(({ status, errors }) => {
          switch (status) {
            case 403:
              break;
            default:
              this.errors = errors;
              break;
          }
        });
      this.$nextTick().then(() => {
        this.busy = false;
      });
    }
  }
};
</script>

<style>
.mh-320 {
  max-height: 320px !important;
}
.modal h1 {
  font-size: 1.75rem;
  font-weight: 600;
}
.fw-bold {
  font-weight: 500 !important;
}
.fs-5 {
  font-size: 1.15rem !important;
}
.text-gray-400 {
  color: #b5b5c3 !important;
}
.text-danger {
  color: #a00 !important;
}
.svg-icon.svg-icon-1 svg {
  height: 1.75rem !important;
  width: 1.75rem !important;
}

.table-borderless .custom td {
  border-top: 1px dotted #444;
}
</style>
