<template>
  <div class="form">
    <!--begin: Wizard Step 5-->
    <b-container fluid class="px-0">
      <b-row>
        <b-col md="6">
          <div class="font-weight-bolder text-black-100 mb-3">Identity:</div>
          <div class="line-height-md pt-0">
            <dl class="row mb-0">
              <dt class="col-sm-5 py-0">Name</dt>
              <dd
                class="col-sm-7 py-0 mb-5 mb-sm-1 text-truncate"
                :class="{ 'text-muted': currentTenant.trademark === null }"
                v-b-popover.hover.top="currentTenant.trademark || null"
              >
                : {{ currentTenant.trademark || '&lt;none&gt;' }}
              </dd>

              <dt class="col-sm-5 py-0">Structure</dt>
              <dd class="col-sm-7 py-0 mb-5 mb-sm-1" :class="{ 'text-muted': org.structure === null }">
                : {{ org.structure || '&lt;none&gt;' }}
              </dd>

              <dt class="col-sm-5 py-0">Doing Business As</dt>
              <dd class="col-sm-7 py-0 mb-5 mb-sm-1" :class="{ 'text-muted': org.dba === null }">: {{ org.dba || '&lt;none&gt;' }}</dd>

              <dt class="col-sm-5 py-0">Registration Number</dt>
              <dd class="col-sm-7 py-0 mb-5 mb-sm-1" :class="{ 'text-muted': org.regno === null }">: {{ org.regno || '&lt;none&gt;' }}</dd>

              <dt class="col-sm-5 py-0">Registrar</dt>
              <dd
                class="col-sm-7 py-0 mb-5 mb-sm-1 text-truncate"
                v-b-popover.hover.top="org.registra || null"
                :class="{ 'text-muted': org.registra === null }"
              >
                : {{ org.registra || '&lt;none&gt;' }}
              </dd>

              <dt class="col-sm-5 py-0">Website</dt>
              <dd class="col-sm-7 py-0 mb-5 mb-sm-1 text-truncate" :class="{ 'text-muted': org.website === null }">
                : {{ org.website || '&lt;none&gt;' }}
              </dd>

              <dt class="col-sm-5 py-0">Motto</dt>
              <dd
                class="col-sm-7 py-0 mb-5 mb-sm-1 text-truncate"
                :class="{ 'text-muted': org.motto === null }"
                v-b-popover.hover.top="org.motto || null"
              >
                : {{ org.motto || '&lt;none&gt;' }}
              </dd>

              <dt class="col-sm-5 py-0">Description</dt>
              <dd
                class="col-sm-7 py-0 mb-5 mb-sm-1 text-truncate"
                :class="{ 'text-muted': org.description === null }"
                v-b-popover.hover.top="org.description || null"
              >
                : {{ org.description || '&lt;none&gt;' }}
              </dd>
            </dl>
          </div>
        </b-col>
        <b-col md="6">
          <div class="font-weight-bolder text-black-100 mb-3">Headquarters:</div>
          <div v-if="getHQ === false" class="line-height-md">
            {{
              getBranches.length > 0
                ? 'Set one of your branches to be your business Headquarters'
                : 'Your business currently has no branches'
            }}
          </div>
          <div v-if="getHQ !== false" class="line-height-md row">
            <div class="col-sm-7">
              {{ getHQ.staff }} Staff Member{{ getHQ.staff === 1 ? '' : 's' }}
              <br />
              {{ getHQ.telephone }}
              <br v-if="!!getHQ.telephone" />
              <br />
              {{ getHQ.addressline1 }}
              <br />
              {{ getHQ.addressline2 }}
              <br v-if="!!getHQ.addressline2" />
              {{ getHQ.city }} , {{ countries[getHQ.country] }}
            </div>
            <div class="col-sm-5">
              <div class="image-input image-input-outline">
                <div class="image-input-wrapper" :style="{ backgroundImage: `url(${getHQPhoto})` }" />
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-row v-if="currentRank.name === 'Administrator'" class="border-bottom mb-5 mb-5 pb-5">
        <b-col md="6" class="text-lg-right">
          <b-button squared variant="outline-secondary" @click="$router.push({ name: 'orgupdate' })">
            <b-icon icon="text-indent-left" /> Update <span class="d-inline-block d-sm-none">Organization Info</span>
          </b-button>
        </b-col>
        <b-col md="6" class="text-lg-right">
          <b-button squared variant="outline-secondary" @click="$router.push({ name: 'admin' })">
            <b-icon icon="text-indent-left" /> Update <span class="d-inline-block d-sm-none">Headquarters Info</span>
          </b-button>
        </b-col>
      </b-row>

      <b-row>
        <b-col md="6">
          <div class="font-weight-bolder text-black-100 mb-3">Payment Gateway:</div>
          <div class="line-height-md pt-0">
            <dl class="row">
              <dt class="col-sm-3 py-0">Provider</dt>
              <dd class="col-sm-9 py-0 mb-5 mb-sm-1" :class="{ 'text-muted': org.gatewayname === null }">
                : {{ org.gatewayname || '&lt;none&gt;' }}
              </dd>

              <dt class="col-sm-3 py-0">Client ID</dt>
              <dd class="col-sm-9 py-0 mb-5 mb-sm-1" :class="{ 'text-muted': org.client_id === null }">
                : {{ org.client_id || '&lt;none&gt;' }}
              </dd>

              <dt class="col-sm-3 py-0">Access Key</dt>
              <dd class="col-sm-9 py-0 mb-5 mb-sm-1" :class="{ 'text-muted': org.access_key === null }">
                : {{ org.access_key || '&lt;none&gt;' }}
              </dd>
            </dl>
          </div>
        </b-col>
        <b-col md="6">
          <div class="font-weight-bolder text-black-100 mb-3">Balance Sheet:</div>
          <div class="line-height-md pt-0">
            <dl class="row">
              <dt class="col-sm-3 py-0">Branches</dt>
              <dd class="col-sm-9 mb-5 mb-sm-1">: {{ getBranches.length }}</dd>

              <dt class="col-sm-3 py-0">Employees</dt>
              <dd class="col-sm-9 mb-5 mb-sm-1">: {{ getStaff.length }}</dd>
            </dl>
          </div>
        </b-col>
      </b-row>
      <b-row v-if="currentRank.name === 'Administrator'" class="border-bottom mb-5 mb-5 pb-5">
        <b-col md="6" class="text-lg-right">
          <b-button squared variant="outline-secondary" @click="$router.push({ name: 'paygate' })">
            <b-icon icon="text-indent-left" /> Update <span class="d-inline-block d-sm-none">Payment Gateway Info</span>
          </b-button>
        </b-col>
        <b-col md="6" class="text-lg-right"> </b-col>
      </b-row>
    </b-container>
    <!--end: Wizard Step 5-->
    <!--begin: Wizard Actions -->
    <div v-if="currentRank.name === 'Administrator'" class="d-flex justify-content-between">
      <div class="mr-2"></div>
      <div>
        <button class="btn btn-danger font-weight-bold text-uppercase px-9 py-4 rounded-0" @click="form.active = true">
          Delete Business
        </button>
      </div>
    </div>
    <!--end: Wizard Actions -->
    <b-modal v-model="form.active" :title="`Deleting ${currentTenant.trademark}`" content-class="rounded-0">
      <b-container fluid>
        <b-row class="mb-1 text-center">
          <b-col cols="12">This action will <b>delete</b> this business and all files associated with it, off the Phiscal Network. </b-col>
        </b-row>
        <b-row class="mb-1 text-center">
          <b-col cols="12">It's worth noting that this action <b>cannot</b> be undone. </b-col>
        </b-row>
        <b-row class="mb-1 text-center">
          <b-col cols="12"
            >Please type the name of business <i>("{{ org.name }}")</i> in textfield below, and then click the <b>"Proceed"</b> button to
            confirm intent.
          </b-col>
        </b-row>
      </b-container>

      <template #modal-footer>
        <b-container fluid>
          <b-row class="mb-1 text-center">
            <b-col cols="7"
              ><b-form-input
                ref="imgDesc"
                class="form-control bg-light h-auto py-3 px-4 rounded-0"
                :placeholder="org.name"
                :state="gui.validateState('confirm')"
                aria-describedby="confirmText-feedback"
                @change="intentPrompt"
              />
              <b-form-invalid-feedback id="confirmText-feedback">
                <span v-if="!$v.form.confirm.required">Confirmation is Required.</span>
                <span v-if="!$v.form.confirm.match">Please check your spelling.</span>
                <span v-if="!$v.form.confirm.backend">{{ form.error }}</span>
              </b-form-invalid-feedback>
            </b-col>
            <b-col cols="5">
              <b-button-group>
                <b-button variant="danger" squared size="lg" class="float-right" @click="delOrg"> Proceed </b-button>
                <b-button variant="secondary" squared size="lg" class="float-right" @click="form.active = false"> Cancel </b-button>
              </b-button-group>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';

import Gui from '@/assets/js/logic/template';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { ADD_BODY_CLASSNAME, REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { NATIONS } from '@/core/store/generic.module';
import { DATA_ORG, RM_ORG } from '@/core/store/org/index.module';
import { SELECT_LOGO } from '@/core/store/org/logo.module';
import { SET_BUSY, VERIFY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'Details',
  computed: {
    ...mapGetters('session', ['currentTenant', 'currentRank']),
    ...mapGetters('org', ['getBranches', 'getHQ', 'getStaff', 'getLogos']),
    getHQPhoto: function () {
      if (this.getHQ === false || !this.getHQ.photo) {
        return 'img/user/logo.png';
      }
      return `${process.env.VUE_APP_FILES}/img/branch/${this.currentTenant.org_id}/${this.getHQ.branch}.${this.getHQ.photo}`;
    }
  },
  data: function () {
    return {
      gui: new Gui(this),
      types: {},
      org: { name: null, structure: null, regno: null, dba: null, registra: null, website: null, motto: null, description: null },
      countries: [],
      form: { active: false, confirm: null, error: null }
    };
  },
  validations: {
    form: {
      confirm: {
        required,
        match: function ($v) {
          if (!required($v)) return true;
          return this.org.name.toLowerCase() === $v.toLowerCase();
        },
        backend: function ($v) {
          if (!required($v)) return true;
          return this.form.error === null;
        }
      }
    }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Enterprise Details' }]);
    this[SELECT_LOGO](null);

    this.countries = await this[NATIONS]().catch(this.gui.toast);

    await this[DATA_ORG]()
      .then((payload) => {
        if (payload === false) {
          return;
        }
        this.setInfo(payload);
      })
      .catch(this.gui.toast);

    this.$nextTick().then(() => {
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
      this[SET_BUSY](false);
    });
  },
  methods: {
    ...mapActions('generic', [NATIONS]),
    ...mapActions('org', [DATA_ORG, RM_ORG]),
    ...mapMutations('logo', [SELECT_LOGO]),
    ...mapMutations('session', [SET_BUSY]),
    delOrg: async function () {
      this.$v.form.$touch();
      if (this.$v.$anyError) {
        return;
      }

      this.$store.dispatch(ADD_BODY_CLASSNAME, 'page-loading');
      await Promise.all([this.$store.dispatch(`org/${RM_ORG}`, this.form.confirm), this.$store.dispatch(`session/${VERIFY}`)])
        .then(() => {
          this.form.active = false;
          this.$router.push({ name: 'admin' }).catch(this.gui.toast);
        })
        .catch(({ status, errors }) => {
          switch (status) {
            case 403:
              this.form.error = errors[0];
              break;
            default:
              this.form.active = false;
              this.gui.toast(errors);
              break;
          }
          this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
        });
    },
    intentPrompt: function ($v) {
      this.form.error = null;
      this.form.confirm = $v;
    },
    setInfo: function ({ name, description, dba, motto, registra, website, structure, regno, gatewayname, client_id, access_key }) {
      this.org.name = name;
      this.org.structure = structure;
      this.org.description = description;
      this.org.dba = dba;
      this.org.motto = motto;
      this.org.website = website;
      this.org.registra = registra;
      this.org.regno = regno;
      this.org.gatewayname = gatewayname;
      this.org.client_id = client_id;
      this.org.access_key = access_key;
    }
  }
};
</script>
