<template>
  <form class="form" id="kt_form">
    <!--begin: Wizard Step 5-->
    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
      <div class="border-bottom mb-5 pb-5">
        <div class="font-weight-bolder text-black-100 mb-3">Selected Image:</div>
        <div class="line-height-md pt-0">
          <dl class="row">
            <dt class="col-5 py-0">Logo</dt>
            <dd class="col-7 py-0">: {{ logo.id || 'N/A' }}</dd>

            <dt class="col-5 py-0">Description</dt>
            <dd class="col-7 py-0 text-truncate">: {{ logo.description || 'None' }}</dd>

            <dt class="col-5 py-0">File Format</dt>
            <dd class="text-uppercase col-7 py-0">: {{ logo.ext || '???' }}</dd>

            <dt class="col-5 py-0">Size</dt>
            <dd class="col-7 py-0">: {{ kB(logo.size || 0) }}</dd>

            <dt class="col-5 py-0">Width</dt>
            <dd class="col-7 py-0">: {{ logo.width || 0 }} pixels</dd>

            <dt class="col-5 py-0">Height</dt>
            <dd class="col-7 py-0">: {{ logo.height || 0 }} pixels</dd>

            <dt v-if="currentRank.name === 'Administrator'" class="col-5 py-0">Main Logo</dt>
            <dd v-if="currentRank.name === 'Administrator'" class="col-7 py-0">
              <b-form-checkbox
                ref="cbxMain"
                :checked="logo.main"
                switch
                @change="mainSwitch"
                class="cursor-pointer"
                title="'Switch to Main Logo'"
              />
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <!--end: Wizard Step 5-->
  </form>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

import Gui from '@/assets/js/logic/template';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';

import { DATA_ORG, SET_LOGOS, TRADEMARK } from '@/core/store/org/index.module';
import { SELECT_LOGO } from '@/core/store/org/logo.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  name: 'Logo',
  computed: {
    ...mapGetters('org', ['getLogos']),
    ...mapGetters('logo', ['selectedLogo']),
    ...mapGetters('session', ['currentRank']),
    logo: function () {
      return this.select(this.selectedLogo) || {};
    }
  },
  data: function () {
    return {
      gui: new Gui(this),
      errors: []
    };
  },
  mounted: async function () {
    const { id } = this.$route.params;
    this.landing(id);

    await this[DATA_ORG]().catch(this.gui.toast);

    this.$nextTick().then(() => {
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  created: function () {
    this.$watch(
      () => this.$route.params,
      ({ id }) => {
        this.landing(id);
      }
    );
  },
  methods: {
    ...mapActions('org', [DATA_ORG, TRADEMARK]),
    ...mapMutations('org', [SET_LOGOS]),
    ...mapMutations('logo', [SELECT_LOGO]),
    ...mapMutations('session', [SET_BUSY]),
    mainSwitch: async function ($v) {
      this[SET_BUSY](true);
      await this[TRADEMARK]({ id: this.logo.id, affirm: $v })
        .then(({ payload }) => {
          this[SET_LOGOS](payload);
        })
        .catch(this.gui.toast);
      this[SET_BUSY](false);
    },
    landing: function (id) {
      this[SELECT_LOGO](parseInt(id));
      this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Enterprise Details' }, { title: `Logo ${id}` }]);
    },
    select: function (id) {
      for (const item of this.getLogos) {
        if (item.id === id) return item;
      }
    },
    kB: function (bytes) {
      let kb = bytes / 1000.0;
      return `${Math.round(kb * 100) / 100} kB`;
    }
  }
};
</script>
