<template>
  <form class="form" @submit.stop.prevent="submit">
    <!--begin: Form-->
    <b-container fluid>
      <b-row>
        <b-col sm="6">
          <b-form-group
            label="Payment Gateway Provider"
            label-class="required"
            label-for="select-provider"
            description="What provider processes payments to your business?"
          >
            <b-form-select
              id="select-provider"
              class="form-control form-control-solid form-control-lg rounded-0"
              aria-describedby="type-feedback"
              v-model="$v.form.provider_id.$model"
              :options="providers"
              :state="gui.validateState('provider_id')"
              @change="setGateway"
            />
            <b-form-invalid-feedback id="type-feedback" :state="gui.validateState('provider_id')">
              Field is Required.
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            label="Client ID"
            :label-class="{ required: form.provider_id === 'PF' || form.provider_id === 'PP' }"
            label-for="client-input"
            description="Referred to as a 'Merchant' ID by some Providers."
          >
            <b-form-input
              id="client-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Provider Supplied"
              aria-describedby="client-feedback"
              v-model="$v.form.client_id.$model"
              :state="gui.validateState('client_id')"
              @input="gui.delayTouch($v.form.client_id)"
              @change="setClient"
            />
            <b-form-invalid-feedback id="client-feedback">
              <span v-if="!$v.form.client_id.required">Field is Required.</span>
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            label="Access Key"
            label-class="required"
            label-for="key-input"
            description="Referred to as an Access 'Token' by some Providers."
          >
            <b-form-input
              id="key-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="API Key"
              aria-describedby="key-feedback"
              v-model="$v.form.access_key.$model"
              :state="gui.validateState('access_key')"
              @input="gui.delayTouch($v.form.access_key)"
              @change="setKey"
            />
            <b-form-invalid-feedback id="key-feedback">
              <span v-if="!$v.form.access_key.required">Field is Required.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="6">
          <b-card title="Payment Gateway Provider" sub-title="Supplementary Information" class="rounded-0">
            <b-card-text>
              Processing payments from customers to your business requires a third party <b>provider</b> specializing in this field. Consult
              your provider documentation for the required fields.
            </b-card-text>

            <b-card-text
              >If you don't see your Provider from the list, it means its integration isn't yet supported by the Phiscal Network. Use one of
              the links below to setup a Payment Gateway for your business.</b-card-text
            >
            <b-card-text> For simplicity reasons, we personally recommend <b>PayFast</b>. </b-card-text>

            <b-link href="https://www.payfast.co.za" target="_blank" class="card-link">PayFast</b-link>
            <b-link href="https://www.paypal.com" target="_blank" class="card-link">PayPal</b-link>
            <b-link href="https://stripe.com" target="_blank" class="card-link">Stripe</b-link>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <!--end: Form-->

    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-between pb-md-5 pb-sm-0">
      <div class="mr-2"></div>
      <div>
        <button :disabled="pageBusy" type="submit" class="btn btn-dark font-weight-bold text-uppercase px-9 py-4 rounded-0">
          Save Info
        </button>
      </div>
    </div>
    <!--end: Wizard Actions -->
  </form>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required, requiredIf } from 'vuelidate/lib/validators';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';

import Gui from '@/assets/js/logic/template';
import { ADD_GATEWAY, LS, SET_GATEWAY, SET_CLIENT, SET_KEY } from '@/core/store/tenant/payment.module';
import { DATA_ORG, SET_LOGOS } from '@/core/store/org/index.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'PayGate',
  computed: {
    ...mapGetters('session', ['pageBusy'])
  },
  data: function () {
    return { gui: new Gui(this), form: { provider_id: null, client_id: null, access_key: null }, providers: [] };
  },
  validations: {
    form: {
      provider_id: { required },
      client_id: {
        required: requiredIf(function () {
          return this.form.provider_id === 'PF' || this.form.provider_id === 'PP';
        })
      },
      access_key: { required }
    }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Enterprise Details' }, { title: 'Payment Gateway' }]);
    this.providers = await this[LS]({ target: 'provider', format: this.getProviders }).catch(this.gui.toast);

    await this[DATA_ORG]()
      .then((payload) => {
        if (payload === false) {
          return;
        }
        this.setInfo(payload);
      })
      .catch(this.gui.toast);

    this.$nextTick().then(() => {
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
      this[SET_BUSY](false);
    });
  },
  methods: {
    ...mapActions('payment', [ADD_GATEWAY, LS]),
    ...mapActions('org', [DATA_ORG]),
    ...mapMutations('payment', [SET_GATEWAY, SET_CLIENT, SET_KEY]),
    ...mapMutations('org', [SET_LOGOS]),
    ...mapMutations('session', [SET_BUSY]),
    getProviders: function (payload) {
      let list = [{ text: '-- Select Provider --', value: null }];
      for (const item of payload) {
        list.push({ text: item.NAME, value: item.PROVIDER_ID });
      }
      return list;
    },
    setInfo: function ({ provider_id, client_id, access_key }) {
      this.form.provider_id = provider_id;
      this.form.client_id = client_id;
      this.form.access_key = access_key;
    },
    submit: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this[SET_BUSY](true);

      await this[ADD_GATEWAY]()
        .then(() => {
          this.$router.push({ name: 'organization' });
        })
        .catch(this.gui.toast);

      this[SET_BUSY](false);
    }
  }
};
</script>
