<template>
  <form class="form" @submit.stop.prevent="submit">
    <!--begin: Form-->
    <b-container fluid>
      <b-row>
        <b-col sm="6">
          <b-form-group
            label="Business Name"
            label-class="required"
            label-for="name-input"
            description="Is there a name your customers know you by?"
          >
            <b-form-input
              id="name-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Trademark"
              aria-describedby="name-feedback"
              v-model="$v.form.name.$model"
              :state="gui.validateState('name')"
              @input="gui.delayTouch($v.form.name)"
              @change="setName"
            />
            <b-form-invalid-feedback id="alias-feedback">
              <span v-if="$v.form.name.$dirty && !$v.form.name.required">Field is Required.</span>
              <span v-if="$v.form.name.$dirty && !$v.form.name.minLength">Use at least 2 characters.</span>
              <span v-if="$v.form.name.$dirty && !$v.form.name.maxLength">Use at max 45 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="6">
          <b-form-group label="Business Type" label-class="required" label-for="type-select" description="What type of business are you?">
            <b-form-select
              id="type-select"
              class="form-control form-control-solid form-control-lg rounded-0"
              aria-describedby="type-feedback"
              v-model="$v.form.struct_id.$model"
              :options="structures"
              :state="gui.validateState('struct_id')"
              @change="setStruct"
            />
            <b-form-invalid-feedback id="type-feedback" :state="gui.validateState('struct_id')">
              Field is Required.
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="6">
          <b-form-group
            label="Registration/Business Number"
            label-for="regno-input"
            description="Please enter the Business Registration Number."
            ><b-form-input
              id="regno-input"
              type="text"
              placeholder="Supplied by Registra of Companies"
              class="form-control form-control-solid form-control-lg rounded-0"
              v-model="$v.form.regno.$model"
              :state="gui.validateState('regno')"
              aria-describedby="regno-feedback"
              @change="setRegNo"
            />
            <b-form-invalid-feedback id="regno-feedback">
              <span v-if="!$v.form.regno.required">Please supply Registration/Business Number.</span>
              <span v-if="!$v.form.regno.minLength">Registration No is at least 2 characters.</span>
              <span v-if="!$v.form.regno.maxLength">Registration No is at max 21 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="6">
          <b-form-group label="Registra Commission" label-for="registra-input" description="Please enter the Company Registration Number."
            ><b-form-input
              id="registra-input"
              type="text"
              placeholder="Click Twice to see current List"
              class="form-control form-control-solid form-control-lg rounded-0"
              v-model="$v.form.registra.$model"
              list="registra-list"
              :state="gui.validateState('registra')"
              aria-describedby="regno-feedback"
              @change="setRegistra"
            />
            <datalist id="registra-list">
              <option v-for="(commission, i) in commissions" :key="i">{{ commission }}</option>
            </datalist>
            <b-form-invalid-feedback id="regno-feedback">
              <span v-if="!$v.form.registra.required">Please supply Commission where you registered your Business.</span>
              <span v-if="!$v.form.registra.minLength">Registra Name is at least 2 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="6">
          <b-form-group label="Website" label-for="web-input" description="Please enter the Business Website."
            ><b-form-input
              id="web-input"
              type="url"
              placeholder="www.domain-name.tld"
              class="form-control form-control-solid form-control-lg rounded-0"
              v-model="$v.form.website.$model"
              :state="gui.validateState('website')"
              aria-describedby="web-feedback"
              @change="setWeb"
            />
            <b-form-invalid-feedback id="web-feedback">
              <span v-if="!$v.form.website.url">Invalid Web URL.</span>
              <span v-if="!$v.form.website.maxLength">Web URL is at max 35 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="6">
          <b-form-group label="Doing Business As" label-for="dba-input" description="Please enter the DBA."
            ><b-form-input
              id="dba-input"
              type="text"
              placeholder="Public Image"
              class="form-control form-control-solid form-control-lg rounded-0"
              v-model="$v.form.dba.$model"
              :state="gui.validateState('dba')"
              aria-describedby="dba-feedback"
              @change="setDba"
            />
            <b-form-invalid-feedback id="dba-feedback">
              <span v-if="!$v.form.dba.mimLength">DBA is at least 5 characters.</span>
              <span v-if="!$v.form.dba.maxLength">DBA is at max 65 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="6">
          <b-form-group label="Description" label-for="desc-input" description="Please give more details about business."
            ><b-form-textarea
              id="desc-input"
              type="text"
              placeholder="More Info..."
              class="form-control form-control-solid form-control-lg rounded-0"
              v-model="$v.form.description.$model"
              :state="gui.validateState('description')"
              aria-describedby="desc-feedback"
              @change="setDesc"
            />
            <b-form-invalid-feedback id="desc-feedback">
              <span v-if="!$v.form.description.minLength">Description is at least 5 characters.</span>
              <span v-if="!$v.form.description.maxLength">Description is at max 255 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="6">
          <b-form-group label="Slogan" label-for="motto-input" description="Please enter the Business Motto."
            ><b-form-textarea
              id="motto-input"
              type="text"
              placeholder="What expression is your business known for"
              class="form-control form-control-solid form-control-lg rounded-0"
              v-model="$v.form.motto.$model"
              :state="gui.validateState('motto')"
              aria-describedby="motto-feedback"
              @change="setMotto"
            />
            <b-form-invalid-feedback id="motto-feedback">
              <span v-if="!$v.form.motto.minLength">Motto is at least 5 characters.</span>
              <span v-if="!$v.form.motto.maxLength">Motto is at max 95 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-container>
    <!--end: Form-->

    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-between pb-md-5 pb-sm-0">
      <div class="mr-2"></div>
      <div>
        <button :disabled="pageBusy" type="submit" class="btn btn-dark font-weight-bold text-uppercase px-9 py-4 rounded-0">
          Save Info
        </button>
      </div>
    </div>
    <!--end: Wizard Actions -->
  </form>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength, url, requiredIf } from 'vuelidate/lib/validators';

import Gui from '@/assets/js/logic/template';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';

import { SET_TENANT } from '@/core/store/user/session.module';
import {
  CRUD_ORG,
  DATA_ORG,
  LS_ORG,
  SET_DATA,
  SET_DBA,
  SET_DESC,
  SET_LOGOS,
  SET_NAME,
  SET_STRUCTURE,
  SET_REGNO,
  SET_REGISTRA,
  SET_WEB,
  SET_MOTTO
} from '@/core/store/org/index.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'Update',
  computed: {
    ...mapGetters('session', ['pageBusy'])
  },
  data: function () {
    return {
      gui: new Gui(this),
      commissions: [],
      form: { name: null, struct_id: null, regno: null, dba: null, registra: null, website: null, motto: null, description: null },
      structures: []
    };
  },
  validations: {
    form: {
      name: { required, minLength: minLength(2), maxLength: maxLength(45) },
      struct_id: { required },
      regno: {
        required: requiredIf(function () {
          return required(this.form.registra);
        }),
        minLength: minLength(2),
        maxLength: maxLength(21)
      },
      registra: {
        required: requiredIf(function () {
          return required(this.form.regno);
        }),
        minLength: minLength(2)
      },
      website: { url, maxLength: maxLength(35) },
      dba: { minLength: minLength(5), maxLength: maxLength(65) },
      motto: { minLength: minLength(5), maxLength: maxLength(95) },
      description: { minLength: minLength(5), maxLength: maxLength(255) }
    }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Enterprise Details' }, { title: 'Updating' }]);
    this.structures = await this[LS_ORG]({ target: `structures`, format: this.getStructures }).catch(this.gui.toast);
    this.commissions = await this[LS_ORG]({ target: 'registra', format: this.getCommissions }).catch(this.gui.toast);

    await this[DATA_ORG]()
      .then((payload) => {
        if (payload === false) {
          return;
        }
        this.setInfo(payload);
      })
      .catch(this.gui.toast);

    this.$nextTick().then(() => {
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
      this[SET_BUSY](false);
    });
  },
  methods: {
    ...mapActions('org', [CRUD_ORG, DATA_ORG, LS_ORG]),
    ...mapMutations('org', [SET_DATA, SET_DBA, SET_DESC, SET_NAME, SET_LOGOS, SET_STRUCTURE, SET_REGNO, SET_REGISTRA, SET_WEB, SET_MOTTO]),
    ...mapMutations('session', [SET_TENANT, SET_BUSY]),
    getCommissions: function (list) {
      let collection = [];
      for (const item of list) {
        collection.push(item.name);
      }
      return collection;
    },
    getStructures: function (list) {
      let collection = [{ text: '-- Select Business Structure --', value: null }];
      for (const item of list) {
        collection.push({ text: item.name.split('::')[0], value: item.id });
      }
      return collection;
    },
    setInfo: function ({ name, description, dba, motto, registra, website, struct_id, regno }) {
      this.form.name = name;
      this.form.struct_id = struct_id;
      this.form.description = description;
      this.form.dba = dba;
      this.form.motto = motto;
      this.form.website = website;
      this.form.registra = registra;
      this.form.regno = regno;
    },
    submit: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this[SET_BUSY](true);

      await this[CRUD_ORG]()
        .then((result) => {
          this[SET_TENANT](result);
          this.$router.push({ name: 'organization' });
        })
        .catch(this.gui.toast);

      this[SET_BUSY](false);
    }
  }
};
</script>
