<template>
  <b-overlay :show="pageBusy" spinner-type="grow" rounded="sm">
    <div class="card card-custom">
      <div class="card-body p-0">
        <!--begin: Wizard-->
        <div class="wizard wizard-1">
          <!--begin: Wizard Nav-->
          <div class="wizard-nav">
            <div class="horizontal-scrollable">
              <div class="y text-center bg-secondary">
                <div v-for="(logo, i) in getLogos" :key="i" class="x-xs-4 position-relative">
                  <b-img
                    class="logo"
                    :class="{ selected: parseInt(logo.id) === selectedLogo }"
                    fluid
                    :src="`${path}/logo/${currentTenant.org_id}/${logo.file}`"
                    :alt="`Logo ${logo.id}`"
                  />
                  <div class="middle" :class="{ selected: parseInt(logo.id) === selectedLogo }">
                    <b-button :disabled="parseInt(logo.id) === selectedLogo" variant="white" squared @click="logoPick(logo)">{{
                      parseInt(logo.id) === selectedLogo ? 'selected' : 'Details'
                    }}</b-button>
                  </div>
                  <div v-if="logo.main" class="position-absolute bottom-0 w-100">
                    <div class="text-uppercase bg-success opacity-90">Main</div>
                  </div>
                  <span
                    v-if="currentRank.name === 'Administrator'"
                    data-action="remove"
                    data-toggle="tooltip"
                    title="Delete Logo"
                    class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                    @click="rmLogo(logo.id, logo.ext)"
                    ><i class="ki ki-bold-close icon-xs text-danger"
                  /></span>
                </div>
                <div v-if="currentRank.name === 'Administrator'" class="x-xs-4">
                  <div class="grow position-relative">
                    <b-img
                      fluid
                      v-b-tooltip.hover
                      variant="primary"
                      class="cursor-pointer position-absolute"
                      src="img/misc/logo_upload.png"
                      alt="Your Business Logo"
                      title="Add Logo"
                      @click="$refs.logo.click()"
                    />
                  </div>
                  <input
                    class="position-absolute top-0 left-0 h-100 w-100"
                    type="file"
                    ref="logo"
                    accept="image/*"
                    style="z-index: -1"
                    @change="img.set"
                  />
                </div>
              </div>
            </div>
          </div>
          <!--end: Wizard Nav-->

          <!--begin: Wizard Body-->
          <div class="row justify-content-center p-8">
            <div class="col-xl-12">
              <!--begin: Wizard Form-->
              <router-view />
              <!--end: Wizard Form-->
            </div>
          </div>
          <!--end: Wizard Body-->
        </div>
        <!--end: Wizard-->
      </div>

      <b-modal
        v-model="cropper.active"
        title="Select Logo"
        :no-close-on-backdrop="true"
        header-bg-variant="secondary"
        header-text-variant="dark"
        body-bg-variant="light"
        body-text-variant="dark"
        footer-bg-variant="secondary"
        footer-text-variant="dark"
        size="lg"
        header-class="py-0"
        body-class="p-0"
        footer-class="p-0"
        @shown="$refs.imgDesc.focus()"
      >
        <template #modal-header>
          <b-container fluid>
            <b-row>
              <b-col cols="4" md="5">
                <b-button disabled block class="text-left cursor-default">Logo</b-button>
              </b-col>
              <b-col cols="4" md="2">
                <b-button variant="danger" squared block v-b-tooltip title="Reset" @click.prevent="img.reset"
                  ><i aria-hidden="true" class="fa fa-arrows-alt"></i
                ></b-button>
              </b-col>
              <b-col cols="2" md="4"> </b-col>
              <b-col cols="2" md="1">
                <b-button block v-b-tooltip title="Cancel" @click.prevent="cropper.active = false"
                  ><i aria-hidden="true" class="fa fa-times"></i
                ></b-button>
              </b-col>
            </b-row>
          </b-container>
        </template>
        <section class="cropper-area">
          <div class="img-cropper">
            <vue-cropper
              ref="cropper"
              :view-mode="1"
              :src="cropper.src"
              :auto-crop-area="1"
              :min-container-width="320"
              :min-canvas-width="320"
              :min-crop-box-width="240"
              alt="Source Image"
            />
          </div>
        </section>

        <template #modal-footer>
          <b-container fluid>
            <b-row>
              <b-col cols="12">
                <b-form-input
                  ref="imgDesc"
                  class="form-control bg-white h-auto py-3 px-4 rounded-0"
                  placeholder="Please Write Logo Description Here, if there is one"
                  @change="describeLogo"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" md="4" class="text-center">
                <b-button-group>
                  <b-button v-b-tooltip title="Move Left" @click.prevent="img.move(-10, 0)"
                    ><i aria-hidden="true" class="fa fa-caret-left"></i
                  ></b-button>
                  <b-button v-b-tooltip title="Move Down" @click.prevent="img.move(0, 10)"
                    ><i aria-hidden="true" class="fa fa-caret-down"></i
                  ></b-button>
                  <b-button v-b-tooltip title="Move Up" @click.prevent="img.move(0, -10)"
                    ><i aria-hidden="true" class="fa fa-caret-up"></i
                  ></b-button>
                  <b-button v-b-tooltip title="Move Right" @click.prevent="img.move(10, 0)"
                    ><i aria-hidden="true" class="fa fa-caret-right"></i
                  ></b-button>
                </b-button-group>
              </b-col>
              <b-col cols="2" md="1">
                <b-button ref="flipX" block v-b-tooltip title="Flip Horizontally" @click.prevent="img.flipX"
                  ><i aria-hidden="true" class="fa fa-arrows-alt-h"></i
                ></b-button>
              </b-col>
              <b-col cols="8" md="2">
                <b-button variant="success" block v-b-tooltip title="Crop Image" @click.prevent="mkLogo"
                  ><i aria-hidden="true" class="fa fa-crop"></i
                ></b-button>
              </b-col>
              <b-col cols="2" md="1">
                <b-button ref="flipY" block v-b-tooltip title="Flip Vertically" @click.prevent="img.flipY"
                  ><i aria-hidden="true" class="fa fa-arrows-alt-v"></i
                ></b-button>
              </b-col>
              <b-col cols="12" md="4" class="text-center">
                <b-button-group>
                  <b-button v-b-tooltip title="Rotate 90 Degrees Left" @click.prevent="img.rotate(-90)"
                    ><i aria-hidden="true" class="fa fa-reply"></i
                  ></b-button>
                  <b-button v-b-tooltip title="Zoom Out" @click.prevent="img.zoom(-0.2)"
                    ><i aria-hidden="true" class="fa fa-search-minus"></i
                  ></b-button>
                  <b-button v-b-tooltip title="Zoom In" @click.prevent="img.zoom(0.2)"
                    ><i aria-hidden="true" class="fa fa-search-plus"></i
                  ></b-button>
                  <b-button v-b-tooltip title="Rotate 90 Degrees Right" @click.prevent="img.rotate(90)"
                    ><i aria-hidden="true" class="fa fa-share"></i
                  ></b-button>
                </b-button-group>
              </b-col>
            </b-row>
          </b-container>
        </template>
      </b-modal>
    </div>
  </b-overlay>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

import Crop from '@/assets/js/logic/crop';
import Gui from '@/assets/js/logic/template';

import { SET_LOGOS } from '@/core/store/org/index.module';
import { CRUD_LOGO, SELECT_LOGO } from '@/core/store/org/logo.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  name: 'Tenant',
  components: {
    VueCropper
  },
  computed: {
    ...mapGetters('session', ['currentTenant', 'currentRank', 'pageBusy']),
    ...mapGetters('org', ['getLogos']),
    ...mapGetters('logo', ['selectedLogo'])
  },
  data: function () {
    return {
      gui: new Gui(this),
      img: new Crop(this),
      pic: { base64: null, ext: null, width: 0, height: 0, description: null },
      cropper: { active: false, src: null, type: null, dimensions: { width: 0, height: 0 } },
      path: `${process.env.VUE_APP_FILES}/img`
    };
  },
  mounted: async function () {
    if (this.currentTenant === false) {
      this.$router.push({ name: 'admin' });
    }
  },
  methods: {
    ...mapActions('logo', [CRUD_LOGO]),
    ...mapMutations('logo', [SELECT_LOGO]),
    ...mapMutations('org', [SET_LOGOS]),
    ...mapMutations('session', [SET_BUSY]),
    describeLogo: function ($v) {
      this.pic.description = $v;
    },
    mkLogo: async function () {
      this.img.crop();
      this[SET_BUSY](true);
      await this[CRUD_LOGO]({ id: 0, payload: this.pic })
        .then(({ payload }) => {
          this[SET_LOGOS](payload);
        })
        .catch(this.gui.toast);
      this[SET_BUSY](false);
    },
    logoPick: function ({ id }) {
      this[SELECT_LOGO](id);
      this.$router.push(`/org/logo/${id}`).catch((ex) => {
        this.gui.toast([ex.toString()], 'Route');
      });
    },
    rmLogo: async function (id, ext) {
      const sure = await this.gui.rmTarget('Do you wanna proceed?', `Deleting Logo ${id}`);
      if (!sure) return;

      this[SET_BUSY](true);
      await this[CRUD_LOGO]({ id: id, payload: { base64: null, ext: ext } })
        .then(({ payload }) => {
          if (this.selectedLogo === id) this.$router.push({ name: 'organization' });
          this.img.rm();
          this[SET_LOGOS](payload);
        })
        .catch(this.gui.toast);
      this[SET_BUSY](false);
    }
  }
};
</script>
<style scoped>
dd {
  color: #000 !important;
}

/*GROW*/
.grow {
  width: 240px;
  height: 240px;
  display: inherit;
  vertical-align: middle;
  backface-visibility: hidden;
  overflow: hidden;
}

.grow img {
  height: 120px;
  width: 120px;
  top: 20%;
  transform: translateY(-20%);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.4;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.grow img:hover {
  width: 240px;
  height: 240px;
  top: 0;
  transform: translateY(0);
  left: 0;
  transform: translateX(0);
  opacity: 1;
}

.horizontal-scrollable > .y {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable > .y > .x-xs-4 {
  display: inline-block;
  float: none;
}
.horizontal-scrollable > .y > .x-xs-4:hover > img.logo,
.horizontal-scrollable > .y > .x-xs-4 > img.selected {
  opacity: 0.3;
}
.horizontal-scrollable > .y > .x-xs-4 > img.selected {
  border: 5px solid #fff;
}
.horizontal-scrollable > .y > .x-xs-4:hover > .middle {
  opacity: 1;
}
.horizontal-scrollable > .y > .x-xs-4:hover > .btn-icon {
  opacity: 1;
}
/* Decorations */

.x-xs-4 {
  color: white;
  font-size: 24px;
  padding: 0 5px;
}
.x-xs-4 > img.logo {
  max-height: 240px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.x-xs-4 > .btn-icon {
  opacity: 0;
  position: absolute;
  top: 16px;
  right: 24px;
}
.x-xs-4:first-child {
  padding-left: 0;
}
.x-xs-4:last-child {
  padding-right: 0;
}
.x-xs-4 > .middle {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.x-xs-4 > .middle:not(.selected) {
  opacity: 0;
}

@media screen and (min-width: 576px) {
  .image-input.image-input-outline {
    margin-top: -32px;
  }
}
</style>
