<template>
  <b-overlay :show="pageBusy" spinner-type="grow" rounded="sm">
    <div class="card card-custom">
      <div class="card-body p-0">
        <!--begin: Wizard-->
        <div class="wizard wizard-2" id="profile-screen" data-wizard-clickable="false">
          <!--begin: Wizard Nav -->
          <div class="wizard-nav border-right py-8 px-8 py-lg-20 px-lg-10">
            <div class="wizard-steps">
              <div v-for="({ title, desc, icon, route }, i) in pages" :key="i" class="wizard-step rounded-0" data-wizard-type="step">
                <router-link :to="route">
                  <div class="wizard-wrapper">
                    <div class="wizard-icon">
                      <span class="svg-icon svg-icon-2x">
                        <inline-svg :src="icon" :title="desc" />
                      </span>
                    </div>
                    <div class="wizard-label">
                      <h3 class="wizard-title">{{ title }}</h3>
                      <div class="wizard-desc">{{ desc }}</div>
                    </div>
                  </div>
                </router-link>
              </div>
            </div>
          </div>
          <!--end: Wizard Nav -->

          <!--begin: Wizard Body -->
          <div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
            <!--begin: Wizard Form-->
            <div class="row">
              <div class="offset-xxl-2 col-xxl-8">
                <transition name="fade-in-up">
                  <router-view @tenantSwitch="tenantSwitch" />
                </transition>
              </div>
            </div>
            <!--end: Wizard Form-->
          </div>
          <!--end: Wizard Body -->
        </div>
        <!--end: Wizard-->
      </div>
    </div>
  </b-overlay>
</template>

<style lang="scss">
@import '@/assets/sass/pages/wizard/wizard-2.scss';
</style>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Profile',
  computed: {
    ...mapGetters('session', ['pageBusy'])
  },
  data: function () {
    return {
      pages: [
        { title: 'Personal Details', desc: 'Update Your Personal Info', icon: 'img/svg/icon/general/User.svg', route: '/profile/personal' },
        { title: 'Physical Address', desc: 'Address Lines, City, State', icon: 'img/svg/icon/map/Marker2.svg', route: '/profile/address' },
        {
          title: 'Account Info',
          desc: 'Setup Your Account Details',
          icon: 'img/svg/icon/general/Settings-1.svg',
          route: '/profile/account'
        },
        { title: 'Change Password', desc: 'Keep Intruders Out', icon: 'img/svg/icon/general/Lock.svg', route: '/profile/password' },
        {
          title: 'Freelance Agent',
          desc: 'Manage Trade Info',
          icon: 'img/svg/icon/communication/Address-book2.svg',
          route: '/profile/business'
        }
      ]
    };
  },
  methods: {
    tenantSwitch: function (active = true) {
      this.$emit('tenantSwitch', active);
    }
  }
};
</script>
