<!-- Wizard demo pages -->
<template>
  <b-overlay :show="pageBusy" spinner-type="grow" rounded="sm">
    <div class="card card-custom card-transparent">
      <div class="card-body p-0">
        <!--begin: Wizard-->
        <div class="wizard wizard-4" id="welcome-screen" data-wizard-clickable="false">
          <!--begin: Wizard Nav-->
          <div class="wizard-nav">
            <div class="wizard-steps">
              <div v-for="({ title, desc }, i) in pages" :key="i" class="wizard-step rounded-0" data-wizard-type="step">
                <div class="wizard-wrapper">
                  <div class="wizard-number rounded-0">{{ i + 1 }}</div>
                  <div class="wizard-label">
                    <div class="wizard-title">{{ title }}</div>
                    <div class="wizard-desc">{{ desc }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end: Wizard Nav -->
          <!--begin: Wizard Body-->
          <div class="card card-custom card-shadowless rounded-top-0">
            <div class="card-body p-0">
              <div class="row justify-content-center py-8 px-8 py-lg-0 px-lg-10">
                <div class="col-xl-12">
                  <!--begin: Wizard Form-->
                  <transition name="fade-in-up">
                    <router-view />
                  </transition>
                  <!--end: Wizard Form-->
                </div>
              </div>
            </div>
          </div>
          <!--end: Wizard Body-->
        </div>
        <!--end: Wizard-->
      </div>
    </div>
  </b-overlay>
</template>

<style lang="scss">
@import '@/assets/sass/pages/wizard/wizard-4.scss';
</style>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Wizard',
  computed: {
    ...mapGetters('session', ['currentTenant', 'pageBusy'])
  },
  data: function () {
    return {
      pages: [
        { title: 'Business Info', desc: 'Describe your Business Structure' },
        { title: 'Physical Address', desc: this.currentTenant === false ? 'Help Customers Reach You' : 'Setup Your Headquarters' },
        { title: 'Payment Gateway', desc: 'Means to pay your Business' },
        { title: 'Completed', desc: 'Review Registration' }
      ]
    };
  }
};
</script>
