<template>
  <!--begin::Entry-->
  <div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
      <!--begin::Section-->
      <div class="text-center">
        <h1 class="h2 font-weight-bolder text-dark mb-6 mt-6 mt-md-0">How would you like to use System?</h1>
        <div class="h4 text-dark-50 font-weight-normal mb-0">This is where <b>Buyers</b> meet <b>Sellers</b>.</div>
        <div class="h4 text-dark-50 font-weight-normal mb-6">Which one are you?</div>
      </div>
      <!--end::Section-->
      <!--begin::Row-->
      <div class="row">
        <div class="col-lg-6">
          <!--begin::Callout-->
          <div class="card card-custom mb-2 bg-diagonal bg-diagonal-light-dark rounded-0">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between p-4 row">
                <!--begin::Content-->
                <div class="d-flex flex-column mr-5">
                  <a class="h4 text-dark text-hover-secondary mb-5">Customer</a>
                  <p class="text-dark-75">Not much is required from you at this point.</p>
                  <p class="text-dark-75">
                    You'll now be forwared to <b>{{ selectedModule.name }}</b>. <br />
                    You can always come back to update your profile and other settings.
                  </p>
                </div>
                <!--end::Content-->
                <!--begin::Button-->
                <div class="ml-6 flex-shrink-0">
                  <b-button variant="dark" squared class="font-weight-bolder text-uppercase font-size-lg py-3 px-6" @click="shoppingSpree"
                    >Go Shopping</b-button
                  >
                </div>
                <!--end::Button-->
              </div>
            </div>
          </div>
          <!--end::Callout-->
        </div>
        <div class="col-lg-6">
          <!--begin::Callout-->
          <div class="card card-custom mb-2 bg-diagonal bg-diagonal-light-secondary rounded-0">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between p-4 row">
                <!--begin::Content-->
                <div class="d-flex flex-column mr-5">
                  <a class="h4 text-dark text-hover-secondary mb-5">Business</a>
                  <p class="text-dark-50">Register your business with System.</p>
                  <p class="text-dark-50">
                    This involves collecting essential information about your business, allowing it to deal with customers.
                  </p>
                </div>
                <!--end::Content-->
                <!--begin::Button-->
                <div class="ml-6 flex-shrink-0">
                  <router-link
                    to="/registration/structure"
                    data-toggle="modal"
                    data-target="#kt_chat_modal"
                    class="btn font-weight-bolder border-dark text-uppercase font-size-lg btn-secondary py-3 px-6 rounded-0"
                    >Register</router-link
                  >
                </div>
                <!--end::Button-->
              </div>
            </div>
          </div>
          <!--end::Callout-->
        </div>
      </div>
      <!--end::Row-->
      <!--begin::Section-->
      <div class="text-center">
        <div class="row">
          <div class="col-12 mt-5">
            <b-img src="img/bg/motion-in-gotham-skyline.jpeg" fluid alt="Logo" />
          </div>
        </div>
      </div>
      <!--end::Section-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Entry-->
</template>
<script>
import { mapActions, mapGetters } from 'vuex';

import Gui from '@/assets/js/logic/template';
import { getCache, getItem } from '@/core/service/storage';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { OVERRIDE_PAGE_LAYOUT_CONFIG } from '@/core/store/template/config.module';
import { ADD_BODY_CLASSNAME, REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { DATA_MODULE } from '@/core/store/tenant/app.module';

export default {
  name: 'RoleSelect',
  computed: {
    ...mapGetters('app', ['selectedModule'])
  },
  data: function () {
    return {
      gui: new Gui(this)
    };
  },
  mounted: async function () {
    if (!getCache('module')) {
      this.$router.push({ name: 'modules' });
    }
    this.$store.dispatch(OVERRIDE_PAGE_LAYOUT_CONFIG, { subheader: { quickactions: false } });
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Welcome Screen', route: 'wizard-1' }, { title: 'Use Cases' }]);

    await this[DATA_MODULE](getCache('module')).catch(this.gui.toast);

    this.$nextTick().then(() => {
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    ...mapActions('app', [DATA_MODULE]),
    shoppingSpree: function (e) {
      e.preventDefault();
      this.$store.dispatch(ADD_BODY_CLASSNAME, 'page-loading');
      window.location.replace(`${this.selectedModule.webclient}/#/redirect/home/${getItem('JWT')}`);
    }
  }
};
</script>
