<template>
  <div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <span class="card-icon">
          <i class="flaticon2-group text-dark"></i>
        </span>
        <h3 class="card-label">Please select Business Structure</h3>
      </div>
    </div>
    <div class="card-body">
      <div class="row justify-content-center my-20">
        <!--begin: Pricing-->
        <div class="col-md-4 col-xxl-3">
          <div class="pt-30 pt-md-25 pb-15 px-5 text-center">
            <!--begin::Icon-->
            <div class="d-flex flex-center position-relative mb-25">
              <span class="svg svg-fill-dark opacity-10 position-absolute">
                <svg width="175" height="200">
                  <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                </svg>
              </span>
              <span class="svg-icon svg-icon-5x svg-icon-dark">
                <inline-svg src="img/svg/icon/general/User.svg" title="Find Stuff" />
              </span>
            </div>
            <!--end::Icon-->
            <!--begin::Content-->
            <span class="font-size-h1 d-block d-block font-weight-boldest text-dark-75 py-2">Individual</span>
            <h4 class="font-size-h6 d-block d-block font-weight-bold mb-7 text-dark-50">Freelance Agent</h4>
            <p class="mb-15 d-flex flex-column">
              <span>The Services I provide as an individual...</span>
              <span>are the business</span>
            </p>
            <b-button variant="dark" class="text-uppercase font-weight-bolder px-15 py-3" squared @click="proceed('solo')"
              >Proceed</b-button
            >
            <!--end::Content-->
          </div>
        </div>
        <!--end: Pricing-->
        <!--begin: Pricing-->
        <div class="col-md-4 col-xxl-3 border-x-0 border-x-md border-y border-y-md-0">
          <div class="pt-30 pt-md-25 pb-15 px-5 text-center">
            <!--begin::Icon-->
            <div class="d-flex flex-center position-relative mb-25">
              <span class="svg svg-fill-dark opacity-10 position-absolute">
                <svg width="175" height="200">
                  <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                </svg>
              </span>
              <span class="svg-icon svg-icon-5x svg-icon-dark">
                <inline-svg src="img/svg/icon/communication/Group.svg" title="Find Stuff" />
              </span>
            </div>
            <!--end::Icon-->
            <!--begin::Content-->
            <span class="font-size-h1 d-block font-weight-boldest text-dark-75 py-2">Sole Trader / Partnership</span>
            <h4 class="font-size-h6 d-block font-weight-bold mb-7 text-dark-50">Small to Medium Business Structure</h4>
            <ul class="mb-15 d-flex flex-column text-left mx-5">
              <li>I run my business alone</li>
              <li>I'm in partnership with other folks</li>
            </ul>

            <b-button variant="dark" class="text-uppercase font-weight-bolder px-15 py-3" squared @click="proceed('mnp')">Proceed</b-button>
            <!--end::Content-->
          </div>
        </div>
        <!--end: Pricing-->
        <!--begin: Pricing-->
        <div class="col-md-4 col-xxl-3">
          <div class="pt-30 pt-md-25 pb-15 px-5 text-center">
            <!--begin::Icon-->
            <div class="d-flex flex-center position-relative mb-25">
              <span class="svg svg-fill-dark opacity-10 position-absolute">
                <svg width="175" height="200">
                  <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                </svg>
              </span>
              <span class="svg-icon svg-icon-5x svg-icon-dark">
                <inline-svg src="img/svg/icon/home/Building.svg" title="Find Stuff" />
              </span>
            </div>
            <!--end::Icon-->
            <!--begin::Content-->
            <span class="font-size-h1 d-block font-weight-boldest text-dark-75 py-2">Company / Other...</span>
            <h4 class="font-size-h6 d-block font-weight-bold mb-7 text-dark-50">Business Enterprise</h4>
            <ul class="mb-15 d-flex flex-column text-left mx-5">
              <li>Limited Liability Company</li>
              <li>Corporation</li>
              <li>etc...</li>
            </ul>
            <b-button variant="dark" class="text-uppercase font-weight-bolder px-15 py-3" squared @click="proceed('ltd')">Proceed</b-button>
            <!--end::Content-->
          </div>
        </div>
        <!--end: Pricing-->
      </div>
    </div>
  </div>
</template>
<script>
import { cacheItem, getCache, rmCache } from '@/core/service/storage';
import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { OVERRIDE_PAGE_LAYOUT_CONFIG } from '@/core/store/template/config.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';

export default {
  name: 'Index',
  mounted: function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Welcome Screen' }, { title: 'Business Structure' }]);
    if (!!getCache('tenant')) {
      rmCache('tenant');
    }
    if (!getCache('module')) {
      this.$router.push({ name: 'modules' });
    }
    this.$store.dispatch(OVERRIDE_PAGE_LAYOUT_CONFIG, { subheader: { quickactions: false } });

    this.$nextTick().then(() => {
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    proceed: function (selection) {
      switch (selection) {
        case 'solo':
          this.$router.push({ name: 'regfreelance' });
          break;
        case 'mnp':
        case 'ltd':
          this.$router.push({ name: 'regformal', params: { struct: selection } });
          break;
        default:
          this.$bvToast.toast(`invalid selection "${selection}"`, {
            title: `Request Error`,
            variant: 'danger',
            solid: true,
            noAutoHide: true
          });
          return;
      }
      cacheItem('struct', selection);
    }
  }
};
</script>
