<template>
  <div class="form mt-0 mt-lg-10">
    <!--begin: Wizard Step 4-->
    <div class="pb-0">
      <b-row>
        <b-col xl="6">
          <div class="border-bottom mb-5 pb-5">
            <div class="font-weight-bolder text-black-100 mb-3">Business Info:</div>
            <div class="line-height-md pt-0">
              <dl v-for="(item, i) in info" :key="i" class="row mb-0">
                <dt class="col-sm-3 py-0">{{ item.field }}</dt>
                <dd class="col-sm-9 py-0 mb-3 mb-md-0 text-truncate">: {{ item.value }}</dd>
              </dl>
            </div>
          </div>
          <div class="border-bottom mb-5 pb-5">
            <div class="font-weight-bolder text-black-100 mb-3">Physical Address:</div>
            <div class="line-height-md pt-0">
              <dl v-for="(item, i) in address" :key="i" class="row mb-0">
                <dt class="col-sm-3 py-0">{{ item.field }}</dt>
                <dd class="col-sm-9 py-0 mb-3 mb-md-0 text-truncate">: {{ item.value }}</dd>
              </dl>
            </div>
          </div>
          <div class="mb-5">
            <div class="font-weight-bolder text-black-100 mb-3">Payment Gateway:</div>
            <div class="line-height-md pt-0">
              <dl v-for="(item, i) in gateway" :key="i" class="row mb-0">
                <dt class="col-sm-3 py-0">{{ item.field }}</dt>
                <dd class="col-sm-9 py-0 mb-3 mb-md-0 text-truncate">: {{ item.value }}</dd>
              </dl>
            </div>
          </div>
        </b-col>
        <b-col xl="6">
          <b-card no-body class="overflow-hidden rounded-0">
            <b-row no-gutters>
              <b-col md="6">
                <b-card-img :src="modulePrint" alt="Image" class="rounded-0" />
              </b-col>
              <b-col md="6">
                <b-card-body :title="module.name" :sub-title="module.description">
                  <b-card-text>
                    Registration is now Complete. Clicking the Finalize button below advances to this <b>Module</b>.
                  </b-card-text>
                </b-card-body>
              </b-col>
            </b-row>
          </b-card>
          <p class="mt-5">
            This is also your opportunity to verify the integrity of the registration information, before proceeding to
            <u>{{ module.name }}</u
            >.
          </p>
          <p v-if="currentUser.password">
            Please come back to <b>Phiscal</b> to protect your user account with a
            <router-link :to="{ name: 'AccountPassword' }" target="_blank"><b>strong password</b></router-link
            >.
          </p>
        </b-col>
      </b-row>
    </div>
    <!--end: Wizard Step 4-->
    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-end border-top py-5">
      <b-button :disabled="pageBusy" variant="dark" class="font-weight-bold text-uppercase px-9 py-4" squared @click="finalize"
        >Finalize</b-button
      >
    </div>
    <!--end: Wizard Actions -->
  </div>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

import KTWizard from '@/assets/js/components/wizard';
import Gui from '@/assets/js/logic/template';

import { getCache, getItem } from '@/core/service/storage';

import { NATIONS } from '@/core/store/generic.module';

import { OVERRIDE_PAGE_LAYOUT_CONFIG } from '@/core/store/template/config.module';
import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';

import { DATA_MODULE } from '@/core/store/tenant/app.module';
import { LS_ORG, DATA_ORG } from '@/core/store/org/index.module';
import { DATA_USER } from '@/core/store/user/index.module';
import { PAYMENT_DETAILS } from '@/core/store/tenant/payment.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  name: 'Complete',
  computed: {
    ...mapGetters('session', ['currentTenant', 'currentUser', 'pageBusy']),
    modulePrint: function () {
      return this.module.logo === null
        ? 'img/logo/logo.png'
        : `${process.env.VUE_APP_FILES}/img/brand/module/${this.module.name}.${this.module.logo}`;
    }
  },
  data: function () {
    return {
      gui: new Gui(this),
      info: [],
      address: [],
      gateway: [],
      module: { name: null, description: null, webclient: null, logo: null },
      countries: [],
      structures: []
    };
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    if (!getCache('struct')) {
      this.$router.push({ name: 'structure' });
    }
    this.$store.dispatch(OVERRIDE_PAGE_LAYOUT_CONFIG, { subheader: { quickactions: false } });
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Welcome Screen' }, { title: 'Registration Complete' }]);

    this.countries = await this[NATIONS]().catch(this.gui.toast);
    await this[PAYMENT_DETAILS]().then(this.paymentInfo).catch(this.gui.toast);
    await this[DATA_MODULE](getCache('module')).then(this.moduleInfo).catch(this.gui.toast);

    switch (getCache('struct')) {
      case 'solo':
        this.info.push({ field: 'Business Type', value: 'Individual' });
        await this.$store.dispatch(`user/${DATA_USER}`).then(this.individualBusiness).catch(this.gui.toast);
        break;
      case 'ltd':
      case 'mnp':
        await this[DATA_ORG]().then(this.caolition).catch(this.gui.toast);
        break;
    }

    this.$nextTick().then(() => {
      const wizard = new KTWizard('welcome-screen');
      wizard.goTo(4);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
      this[SET_BUSY](false);
    });
  },
  methods: {
    ...mapActions('generic', [NATIONS]),
    ...mapActions('org', [LS_ORG, DATA_ORG]),
    ...mapActions('payment', [PAYMENT_DETAILS]),
    ...mapActions('app', [DATA_MODULE]),
    ...mapMutations('session', [SET_BUSY]),
    paymentInfo: function ({ payload: { provider, client_id, access_key } }) {
      this.gateway.push({ field: 'Provider', value: provider || 'None' });
      this.gateway.push({ field: 'Client ID', value: client_id || 'None' });
      this.gateway.push({ field: 'Access Key', value: access_key || 'None' });
    },
    moduleInfo: function (res) {
      this.module = res;
    },
    individualBusiness: function ({ payload: { alias, addressline1, addressline2, city, country } }) {
      this.info.push({ field: 'Business Name', value: alias || 'None' });
      this.address.push({ field: 'Address Line 1', value: addressline1 || 'None' });
      this.address.push({ field: 'Address Line 2', value: addressline2 || 'None' });
      this.address.push({ field: 'City', value: city || 'None' });
      this.address.push({ field: 'Country', value: this.countries[country] || 'None' });
    },
    caolition: function ({ name, structure, website, motto, branches }) {
      this.info.push({ field: 'Business Name', value: name || 'None' });
      this.info.push({ field: 'Business Type', value: structure });
      this.info.push({ field: 'Website', value: website || 'None' });
      this.info.push({ field: 'Motto', value: motto || 'None' });
      let hq = Object.values(branches)[0];
      this.address.push({ field: 'Address Line 1', value: hq.addressline1 || 'None' });
      this.address.push({ field: 'Address Line 2', value: hq.addressline2 || 'None' });
      this.address.push({ field: 'City', value: hq.city || 'None' });
      this.address.push({ field: 'Region', value: hq.region || 'None' });
      this.address.push({ field: 'Country', value: this.countries[hq.country] || 'None' });
    },
    finalize: function (e) {
      e.preventDefault();
      window.location.assign(`${this.module.webclient}/#/redirect/registration/${getItem('JWT')}`);
    }
  }
};
</script>
<style>
.card-title {
  margin-bottom: 1.25rem !important;
}
</style>
