<template>
  <b-form class="form mt-0 mt-lg-10" @submit.stop.prevent="next">
    <!--begin: Wizard Step 1-->
    <div class="pb-0">
      <b-row>
        <b-col xl="6">
          <b-form-group
            label="Business Name"
            label-class="required"
            label-for="name-input"
            description="Is there a name your customers know you by?"
          >
            <b-form-input
              id="name-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Trademark"
              aria-describedby="name-feedback"
              v-model="$v.form.name.$model"
              :state="gui.validateState('name')"
              @input="gui.delayTouch($v.form.name)"
              @change="setName"
            />
            <b-form-invalid-feedback id="alias-feedback">
              <span v-if="$v.form.name.$dirty && !$v.form.name.required">Field is Required.</span>
              <span v-if="$v.form.name.$dirty && !$v.form.name.minLength">Use at least 2 characters.</span>
              <span v-if="$v.form.name.$dirty && !$v.form.name.maxLength">Use at max 45 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col xl="6">
          <b-form-group label="Business Type" label-class="required" label-for="type-select" description="What type of business are you?">
            <b-form-select
              id="type-select"
              class="form-control form-control-solid form-control-lg rounded-0"
              aria-describedby="type-feedback"
              v-model="$v.form.struct_id.$model"
              :options="structures"
              :state="gui.validateState('struct_id')"
              @change="setStruct"
            />
            <b-form-invalid-feedback id="type-feedback" :state="gui.validateState('struct_id')">
              Field is Required.
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row v-if="getCache('struct') === 'ltd'" class="mt-0">
        <b-col xl="6">
          <b-form-group
            label="Registration/Business Number"
            :label-class="{ required: form.registra !== null && form.registra.trim().length > 0 }"
            label-for="regno-input"
            description="Please enter the Business Registration Number."
            ><b-form-input
              id="regno-input"
              type="text"
              placeholder="Supplied by Registra of Companies"
              class="form-control form-control-solid form-control-lg rounded-0"
              v-model="$v.form.regno.$model"
              :state="gui.validateState('regno')"
              aria-describedby="regno-feedback"
              @input="gui.delayTouch($v.form.regno)"
              @change="setRegNo"
            />
            <b-form-invalid-feedback id="regno-feedback">
              <span v-if="!$v.form.regno.required">Please supply Registration/Business Number.</span>
              <span v-if="!$v.form.regno.minLength">Registration No is at least 2 characters.</span>
              <span v-if="!$v.form.regno.maxLength">Registration No is at max 21 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col xl="6">
          <b-form-group label="Registra Commission" label-for="registra-input" description="Please enter the Company Registration Number."
            ><b-form-input
              id="registra-input"
              type="text"
              placeholder="Click Twice to see current List"
              class="form-control form-control-solid form-control-lg rounded-0"
              v-model="$v.form.registra.$model"
              list="registra-list"
              :state="gui.validateState('registra')"
              aria-describedby="regno-feedback"
              @input="gui.delayTouch($v.form.registra)"
              @change="setRegistra"
            />
            <datalist id="registra-list">
              <option v-for="(commission, i) in commissions" :key="i">{{ commission }}</option>
            </datalist>
            <b-form-invalid-feedback id="regno-feedback">
              <span v-if="!$v.form.registra.required">Please supply Commission where you registered your Business.</span>
              <span v-if="!$v.form.registra.minLength">Registra Name is at least 2 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row class="mt-0">
        <b-col xl="6">
          <b-form-group label="Website" label-for="web-input" description="Please enter the Business Website."
            ><b-form-input
              id="web-input"
              type="url"
              placeholder="www.domain-name.tld"
              class="form-control form-control-solid form-control-lg rounded-0"
              v-model="$v.form.website.$model"
              :state="gui.validateState('website')"
              aria-describedby="web-feedback"
              @input="gui.delayTouch($v.form.website)"
              @change="setWeb"
            />
            <b-form-invalid-feedback id="web-feedback">
              <span v-if="!$v.form.website.url">Invalid Web URL.</span>
              <span v-if="!$v.form.website.maxLength">Web URL is at max 35 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group label="Slogan" label-for="motto-input" description="Please enter the Business Motto."
            ><b-form-textarea
              id="motto-input"
              type="text"
              placeholder="What expression is your business known for"
              class="form-control form-control-solid form-control-lg rounded-0"
              v-model="$v.form.motto.$model"
              :state="gui.validateState('motto')"
              aria-describedby="motto-feedback"
              @input="gui.delayTouch($v.form.motto)"
              @change="setMotto"
            />
            <b-form-invalid-feedback id="motto-feedback">
              <span v-if="!$v.form.motto.minLength">Motto is at least 5 characters.</span>
              <span v-if="!$v.form.motto.maxLength">Motto is at max 95 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col xl="6">
          <div class="form-group">
            <label>Main Logo</label>
            <div>
              <div id="company_logo" class="image-input image-input-outline">
                <div class="image-input-wrapper position-relative">
                  <img
                    class="position-absolute"
                    :class="{ 'w-100 v-center': cropper.landscape, 'h-100 h-center': !cropper.landscape }"
                    :src="getPic"
                  />
                </div>
                <label
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="change"
                  data-toggle="tooltip"
                  data-original-title="Select Logo"
                  title="Select Logo"
                >
                  <i class="fa fa-pen icon-sm text-muted"></i><input type="file" name="org_logo" accept="image/*" @change="img.set" /><input
                    type="hidden"
                    name="logo_select"
                  />
                </label>
                <span
                  :data-action="pic.ext ? 'remove' : 'cancel'"
                  data-toggle="tooltip"
                  title="Remove Logo"
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  @click="rmLogo"
                  ><i class="ki ki-bold-close icon-xs text-muted"
                /></span>
              </div>
              <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
            </div>
          </div>
        </b-col>
      </b-row>
    </div>
    <!--end: Wizard Step 1-->

    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-end border-top py-5">
      <b-button type="submit" :disabled="pageBusy" variant="success" class="font-weight-bold text-uppercase px-9 py-4" squared
        >Next</b-button
      >
    </div>
    <!--end: Wizard Actions -->
    <b-modal
      v-model="cropper.active"
      title="Select Logo"
      :no-close-on-backdrop="true"
      header-bg-variant="secondary"
      header-text-variant="dark"
      body-bg-variant="light"
      body-text-variant="dark"
      footer-bg-variant="secondary"
      footer-text-variant="dark"
      size="lg"
      header-class="py-0"
      body-class="p-0"
      footer-class="p-0"
    >
      <template #modal-header>
        <b-container fluid>
          <b-row>
            <b-col cols="4" md="5">
              <b-button disabled block class="text-left cursor-default">Logo</b-button>
            </b-col>
            <b-col cols="4" md="2">
              <b-button variant="danger" squared block v-b-tooltip title="Reset" @click.prevent="img.reset"
                ><i aria-hidden="true" class="fa fa-arrows-alt"
              /></b-button>
            </b-col>
            <b-col cols="2" md="4" />
            <b-col cols="2" md="1">
              <b-button block v-b-tooltip title="Cancel" @click.prevent="cropper.active = false"
                ><i aria-hidden="true" class="fa fa-times"
              /></b-button>
            </b-col>
          </b-row>
        </b-container>
      </template>
      <section class="cropper-area">
        <div class="img-cropper">
          <vue-cropper
            ref="cropper"
            :view-mode="1"
            :src="cropper.src"
            :auto-crop-area="1"
            :min-container-width="320"
            :min-canvas-width="320"
            :min-crop-box-width="240"
            alt="Source Image"
          />
        </div>
      </section>

      <template #modal-footer>
        <b-container fluid>
          <b-row>
            <b-col cols="12">
              <b-form-input
                ref="imgDesc"
                class="form-control bg-white h-auto py-3 px-4 rounded-0"
                placeholder="Please Write Logo Description Here, if there is one"
                @change="describeLogo"
              />
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Move Left" @click.prevent="img.move(-10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-left"
                /></b-button>
                <b-button v-b-tooltip title="Move Down" @click.prevent="img.move(0, 10)"
                  ><i aria-hidden="true" class="fa fa-caret-down"
                /></b-button>
                <b-button v-b-tooltip title="Move Up" @click.prevent="img.move(0, -10)"
                  ><i aria-hidden="true" class="fa fa-caret-up"
                /></b-button>
                <b-button v-b-tooltip title="Move Right" @click.prevent="img.move(10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-right"
                /></b-button>
              </b-button-group>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipX" block v-b-tooltip title="Flip Horizontally" @click.prevent="img.flipX"
                ><i aria-hidden="true" class="fa fa-arrows-alt-h"
              /></b-button>
            </b-col>
            <b-col cols="8" md="2">
              <b-button variant="success" block v-b-tooltip title="Crop Image" @click.prevent="cropImg"
                ><i aria-hidden="true" class="fa fa-crop"
              /></b-button>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipY" block v-b-tooltip title="Flip Vertically" @click.prevent="img.flipY"
                ><i aria-hidden="true" class="fa fa-arrows-alt-v"
              /></b-button>
            </b-col>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Rotate 90 Degrees Left" @click.prevent="img.rotate(-90)"
                  ><i aria-hidden="true" class="fa fa-reply"
                /></b-button>
                <b-button v-b-tooltip title="Zoom Out" @click.prevent="img.zoom(-0.2)"
                  ><i aria-hidden="true" class="fa fa-search-minus"
                /></b-button>
                <b-button v-b-tooltip title="Zoom In" @click.prevent="img.zoom(0.2)"
                  ><i aria-hidden="true" class="fa fa-search-plus"
                /></b-button>
                <b-button v-b-tooltip title="Rotate 90 Degrees Right" @click.prevent="img.rotate(90)"
                  ><i aria-hidden="true" class="fa fa-share"
                /></b-button>
              </b-button-group>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-modal>
  </b-form>
</template>
<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength, url, requiredIf } from 'vuelidate/lib/validators';
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

import KTWizard from '@/assets/js/components/wizard';
import { getCache } from '@/core/service/storage';
import Crop from '@/assets/js/logic/crop';
import Gui from '@/assets/js/logic/template';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { OVERRIDE_PAGE_LAYOUT_CONFIG } from '@/core/store/template/config.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';

import { LS_MODULE } from '@/core/store/tenant/app.module';
import {
  DATA_ORG,
  CRUD_ORG,
  LS_ORG,
  SET_DATA,
  SET_LOGOS,
  SET_MOTTO,
  SET_NAME,
  SET_REGISTRA,
  SET_REGNO,
  SET_STRUCTURE,
  SET_WEB
} from '@/core/store/org/index.module';
import { CACHE_TENANT, SET_BUSY, SET_MESSAGE } from '@/core/store/user/session.module';
import { CRUD_LOGO } from '@/core/store/org/logo.module';

export default {
  mixins: [validationMixin],
  name: 'Formal',
  components: {
    VueCropper
  },
  computed: {
    ...mapGetters('session', ['currentUser', 'currentTenant', 'pageBusy']),
    getPic: function () {
      let image = 'img/user/logo.png';
      if (this.currentTenant !== false) {
        image = this.pic.ext === null ? image : `${process.env.VUE_APP_FILES}/${this.currentTenant.face}`;
      }
      return this.pic.base64 || image;
    }
  },
  data: function () {
    return {
      img: new Crop(this),
      gui: new Gui(this),
      form: { name: null, struct_id: null, regno: null, registra: null, website: null, motto: null },
      pic: { base64: null, ext: null, width: 0, height: 0, description: null },
      cropper: { active: false, src: null, type: null, landscape: null, dimensions: { width: 0, height: 0 } },
      structures: [],
      commissions: []
    };
  },
  validations: {
    form: {
      name: { required, minLength: minLength(2), maxLength: maxLength(45) },
      struct_id: { required },
      regno: {
        required: requiredIf(function () {
          return required(this.form.registra);
        }),
        minLength: minLength(2),
        maxLength: maxLength(21)
      },
      registra: {
        required: requiredIf(function () {
          return required(this.form.regno);
        }),
        minLength: minLength(2)
      },
      website: { url, maxLength: maxLength(35) },
      motto: { minLength: minLength(5), maxLength: maxLength(95) }
    }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    this.$store.dispatch(OVERRIDE_PAGE_LAYOUT_CONFIG, { subheader: { quickactions: false } });
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Welcome Screen', route: 'wizard-1' }, { title: 'Business Info' }]);

    // If Business Structure isn't selected, redirect back to selection Page
    if (!getCache('struct')) {
      this.$router.push({ name: 'structure' });
    }

    this.structures = await this[LS_ORG]({ target: `structures:${getCache('struct')}`, format: this.getStructures }).catch(this.gui.toast);
    this.commissions = await this[LS_ORG]({ target: 'registra', format: this.getCommissions }).catch(this.gui.toast);

    if (this.currentTenant !== false) {
      await this[DATA_ORG]().then((payload) => {
        if (payload === false) {
          return;
        }
        this.setInfo(payload);
      });
    }

    this.$nextTick().then(() => {
      const wizard = new KTWizard('welcome-screen');
      wizard.goTo(1);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
      this[SET_BUSY](false);
    });
  },
  methods: {
    ...mapActions('app', [LS_MODULE]),
    ...mapActions('org', [CRUD_ORG, DATA_ORG, LS_ORG]),
    ...mapActions('logo', [CRUD_LOGO]),
    ...mapMutations('org', [SET_DATA, SET_LOGOS, SET_MOTTO, SET_NAME, SET_REGNO, SET_REGISTRA, SET_STRUCTURE, SET_WEB]),
    ...mapMutations('session', [CACHE_TENANT, SET_BUSY, SET_MESSAGE]),
    getStructures: function (list) {
      let collection = [{ text: '-- Select Business Structure --', value: null }];
      for (const item of list) {
        collection.push({ text: item.name.split('::')[0], value: item.id });
      }
      return collection;
    },
    getCommissions: function (list) {
      let collection = [];
      for (const item of list) {
        collection.push(item.name);
      }
      return collection;
    },
    setInfo: function ({ name, motto, registra, website, struct_id, regno, logos }) {
      this.form.name = name;
      this.form.struct_id = struct_id;
      this.form.motto = motto;
      this.form.website = website;
      this.form.registra = registra;
      this.form.regno = regno;
      const { ext } = Object.values(logos)[0];
      this.pic.ext = ext;
    },
    describeLogo: function ($v) {
      this.pic.description = $v;
    },
    rmLogo: async function () {
      if (this.currentTenant === false) {
        this.img.rm();
        return;
      }
      const affirm = await this.gui.rmTarget('Delete Logo?');
      if (!affirm) {
        return;
      }
      let logo = this.currentTenant.logo.split('.');

      this[SET_BUSY](true);
      await this[CRUD_LOGO]({ id: parseInt(logo[0]), payload: { base64: null, ext: logo[1] } })
        .then(({ payload }) => {
          this.img.rm();
          this[SET_LOGOS](payload);
        })
        .catch(this.gui.toast);
      this[SET_BUSY](false);
    },
    next: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        this.gui.toast('Please check some of your form fields', 'Validation Error');
        return;
      }
      this[SET_BUSY](true);

      await this[CRUD_ORG]({ picture: this.pic })
        .then(({ payload }) => {
          if (payload !== false) {
            this[CACHE_TENANT](payload.tenant);
            Promise.all([this.$store.dispatch(`app/${LS_MODULE}`, 'active'), this.$store.dispatch(`app/${LS_MODULE}`, 'idling')]).catch(
              this.gui.toast
            );
          }
          this.$router.push({ name: 'headquarters' });
        })
        .catch((ex) => {
          this[SET_BUSY](false);
          this.gui.toast(ex);
        });
    },
    cropImg: function () {
      const cropped = this.img.crop();
      if (!cropped) {
        const message = {
          visible: true,
          title: 'Image Upload Failed',
          content: 'Feature currently not supported on this version of Google Chrome. Please try Mozilla Firefox.'
        };
        this[SET_MESSAGE](message);
      }
    },
    getCache: getCache
  }
};
</script>
<style scoped>
.image-input .image-input-wrapper {
  width: 240px !important;
  height: 240px !important;
  background-image: repeating-linear-gradient(#fff, #000, #fff);
}
</style>
