<template>
  <b-form class="form mt-0 mt-lg-10" @submit.stop.prevent="next">
    <!--begin: Wizard Step 1-->
    <div class="pb-0">
      <b-row>
        <b-col xl="6">
          <b-form-group
            label="Nick/Business Name"
            label-for="alias-input"
            label-class="required"
            description="Is there a name your customers know you by?"
          >
            <b-form-input
              id="alias-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="What Name do your Customers know you by?"
              aria-describedby="alias-feedback"
              v-model="$v.form.alias.$model"
              :state="gui.validateState('alias')"
              @input="gui.delayTouch($v.form.alias)"
              @change="setAlias"
            />
            <b-form-invalid-feedback id="alias-feedback">
              <span v-if="!$v.form.alias.required">An Alias is required.</span>
              <span v-if="!$v.form.alias.maxLength">Use at max 20 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col xl="6">
          <div class="form-group">
            <label>Photograph</label>
            <div>
              <div class="image-input image-input-outline">
                <div class="image-input-wrapper" :style="{ backgroundImage: `url(${getAvatar})` }" />
                <label
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="change"
                  data-original-title="Change Photograph"
                  title="Change Photograph"
                >
                  <i class="fa fa-pen icon-sm text-muted" /><input type="file" accept="image/*" @change="img.set" /><input type="hidden" />
                </label>
                <span
                  :data-action="pic.ext === null ? 'cancel' : 'remove'"
                  title="Remove Photograph"
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  @click="rmPhoto"
                  ><i class="ki ki-bold-close icon-xs text-muted"
                /></span>
              </div>
              <span class="form-text text-muted">Might be helpful to Customers that only know you by Face.</span>
            </div>
            <b-alert
              :show="alertCountDown"
              dismissible
              fade
              variant="success"
              @dismissed="alertCountDown = 0"
              @dismiss-count-down="
                (arg) => {
                  alertCountDown = arg;
                }
              "
            >
              <p class="px-0"><b>Reload</b> page if your Photograph didn't update</p>
              <b-progress variant="success" :max="10" :value="alertCountDown" height="4px"></b-progress>
            </b-alert>
          </div>
        </b-col>
      </b-row>
    </div>
    <!--end: Wizard Step 1-->

    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-end border-top py-5">
      <b-button type="submit" :disabled="pageBusy" variant="success" class="font-weight-bold text-uppercase px-9 py-4" squared
        >Next</b-button
      >
    </div>
    <!--end: Wizard Actions -->
    <b-modal
      v-model="cropper.active"
      title="Select Photograph"
      :no-close-on-backdrop="true"
      header-bg-variant="secondary"
      header-text-variant="dark"
      body-bg-variant="light"
      body-text-variant="dark"
      footer-bg-variant="secondary"
      footer-text-variant="dark"
      size="lg"
      header-class="py-0"
      body-class="p-0"
      footer-class="p-0"
    >
      <template #modal-header>
        <b-container fluid>
          <b-row>
            <b-col cols="4" md="5">
              <b-button disabled block class="text-left cursor-default">Photograph</b-button>
            </b-col>
            <b-col cols="4" md="2">
              <b-button variant="danger" squared block v-b-tooltip title="Reset" @click.prevent="img.reset"
                ><i aria-hidden="true" class="fa fa-arrows-alt"></i
              ></b-button>
            </b-col>
            <b-col cols="2" md="4"> </b-col>
            <b-col cols="2" md="1">
              <b-button block v-b-tooltip title="Cancel" @click.prevent="cropper.active = false"
                ><i aria-hidden="true" class="fa fa-times"></i
              ></b-button>
            </b-col>
          </b-row>
        </b-container>
      </template>
      <section class="cropper-area">
        <div class="img-cropper">
          <vue-cropper
            ref="cropper"
            :view-mode="1"
            :aspect-ratio="1"
            :src="cropper.src"
            :min-container-width="320"
            :min-canvas-width="320"
            :min-crop-box-width="240"
            alt="Source Image"
          />
        </div>
      </section>

      <template #modal-footer>
        <b-container fluid>
          <b-row>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Move Left" @click.prevent="img.move(-10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-left"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Down" @click.prevent="img.move(0, 10)"
                  ><i aria-hidden="true" class="fa fa-caret-down"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Up" @click.prevent="img.move(0, -10)"
                  ><i aria-hidden="true" class="fa fa-caret-up"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Right" @click.prevent="img.move(10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-right"></i
                ></b-button>
              </b-button-group>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipX" block v-b-tooltip title="Flip Horizontally" @click.prevent="img.flipX"
                ><i aria-hidden="true" class="fa fa-arrows-alt-h"></i
              ></b-button>
            </b-col>
            <b-col cols="8" md="2">
              <b-button variant="success" block v-b-tooltip title="Crop Image" @click.prevent="cropImage"
                ><i aria-hidden="true" class="fa fa-crop"></i
              ></b-button>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipY" block v-b-tooltip title="Flip Vertically" @click.prevent="img.flipY"
                ><i aria-hidden="true" class="fa fa-arrows-alt-v"></i
              ></b-button>
            </b-col>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Rotate 90 Degrees Left" @click.prevent="img.rotate(-90)"
                  ><i aria-hidden="true" class="fa fa-reply"></i
                ></b-button>
                <b-button v-b-tooltip title="Zoom Out" @click.prevent="img.zoom(-0.2)"
                  ><i aria-hidden="true" class="fa fa-search-minus"></i
                ></b-button>
                <b-button v-b-tooltip title="Zoom In" @click.prevent="img.zoom(0.2)"
                  ><i aria-hidden="true" class="fa fa-search-plus"></i
                ></b-button>
                <b-button v-b-tooltip title="Rotate 90 Degrees Right" @click.prevent="img.rotate(90)"
                  ><i aria-hidden="true" class="fa fa-share"></i
                ></b-button>
              </b-button-group>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-modal>
  </b-form>
</template>

<style lang="scss">
@import '@/assets/sass/pages/wizard/wizard-4.scss';
</style>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

import { validationMixin } from 'vuelidate';
import { required, maxLength } from 'vuelidate/lib/validators';

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

import KTWizard from '@/assets/js/components/wizard';

import Crop from '@/assets/js/logic/crop';
import Gui from '@/assets/js/logic/template';

import { getCache } from '@/core/service/storage';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { OVERRIDE_PAGE_LAYOUT_CONFIG } from '@/core/store/template/config.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';

import { LS_MODULE } from '@/core/store/tenant/app.module';
import { SET_AVATAR, SET_BUSY, VERIFY } from '@/core/store/user/session.module';
import { DATA_USER, SET_ALIAS, CRUD_FREELANCE, CRUD_AVATAR, SET_DATA } from '@/core/store/user/index.module';

export default {
  mixins: [validationMixin],
  name: 'Freelance',
  components: {
    VueCropper
  },
  data: function () {
    return {
      img: new Crop(this),
      gui: new Gui(this),
      pic: { base64: null, ext: null },
      cropper: { active: false, src: null, type: null, landscape: true },
      form: { alias: null },
      alertCountDown: 0
    };
  },
  computed: {
    ...mapGetters('session', ['getAvatar', 'pageBusy'])
  },
  validations: {
    form: { alias: { required, maxLength: maxLength(20) } }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    this.$store.dispatch(OVERRIDE_PAGE_LAYOUT_CONFIG, { subheader: { quickactions: false } });
    this.checksAndBalances();

    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Welcome Screen', route: 'wizard-1' }, { title: 'Business Info' }]);

    // Page Load event
    await this[DATA_USER]().then(this.onload).catch(this.gui.toast);

    this.$nextTick().then(() => {
      // Initialize form wizard
      const wizard = new KTWizard('welcome-screen');
      wizard.goTo(1);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
      this[SET_BUSY](false);
    });
  },
  methods: {
    ...mapActions('user', [DATA_USER, CRUD_FREELANCE, CRUD_AVATAR]),
    ...mapMutations('session', [SET_AVATAR, SET_BUSY]),
    ...mapMutations('user', [SET_ALIAS, SET_DATA]),
    checksAndBalances: function () {
      if (!getCache('module')) {
        this.$router.push({ name: 'modules' });
        return;
      }
      if (!getCache('struct')) {
        this.$router.push({ name: 'structure' });
        return;
      }
    },
    onload: function ({ payload: { alias, avatar } }) {
      this.pic.ext = avatar;
      this.form.alias = alias;
      this[SET_DATA]({});
    },
    cropImage: async function () {
      // get image data for post processing, e.g. upload or setting image src
      this.img.crop({ width: 360, height: 360 }, true);

      this[SET_BUSY](true);
      await this[CRUD_AVATAR]({ picture: this.pic })
        .then(() => {
          this[SET_AVATAR](this.pic.ext);
          this.cropper.active = false;
          this.alertCountDown = 10;
        })
        .catch(this.gui.toast);
      this[SET_BUSY](false);
    },
    rmPhoto: async function () {
      this[SET_BUSY](true);
      await this[CRUD_AVATAR]({ picture: this.pic })
        .then(() => {
          this[SET_AVATAR](null);
          this.img.rm();
        })
        .catch(this.gui.toast);
      this[SET_BUSY](false);
    },
    next: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this[SET_BUSY](true);
      await Promise.all([this.$store.dispatch(`user/${CRUD_FREELANCE}`), this.$store.dispatch(`session/${VERIFY}`)])
        .then(() => {
          this[SET_DATA]({});
          Promise.all([this.$store.dispatch(`app/${LS_MODULE}`, 'active'), this.$store.dispatch(`app/${LS_MODULE}`, 'idling')]).catch(
            this.gui.toast
          );
          this.$router.push({ name: 'homeaddress' }).catch(this.gui.toast);
        })
        .catch((ex) => {
          this[SET_BUSY](false);
          this.gui.toast(ex);
        });
    }
  }
};
</script>
