<template>
  <b-form class="form mt-0 mt-lg-10" @submit.stop.prevent="next">
    <!--begin: Wizard Step 3-->
    <div class="pb-0">
      <b-row>
        <b-col xl="6">
          <b-form-group
            label="Payment Gateway Provider"
            label-class="required"
            label-for="select-provider"
            description="What provider processes payments to your business?"
          >
            <b-form-select
              id="select-provider"
              class="form-control form-control-solid form-control-lg rounded-0"
              aria-describedby="type-feedback"
              v-model="$v.form.provider_id.$model"
              :options="providers"
              :state="gui.validateState('provider_id')"
              @change="setGateway"
            />
            <b-form-invalid-feedback id="type-feedback" :state="gui.validateState('provider_id')">
              Field is Required.
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            label="Client ID"
            :label-class="{ required: form.provider_id === 'PF' || form.provider_id === 'PP' }"
            label-for="client-input"
            description="Referred to as a 'Merchant' ID by some Providers."
          >
            <b-form-input
              id="client-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Provider Supplied"
              aria-describedby="client-feedback"
              v-model="$v.form.client_id.$model"
              :state="gui.validateState('client_id')"
              @input="gui.delayTouch($v.form.client_id)"
              @change="setClient"
            />
            <b-form-invalid-feedback id="client-feedback">
              <span v-if="!$v.form.client_id.required">Field is Required.</span>
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            label="Access Key"
            label-class="required"
            label-for="key-input"
            description="Referred to as an Access 'Token' by some Providers."
          >
            <b-form-input
              id="key-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="API Key"
              aria-describedby="key-feedback"
              v-model="$v.form.access_key.$model"
              :state="gui.validateState('access_key')"
              @input="gui.delayTouch($v.form.access_key)"
              @change="setKey"
            />
            <b-form-invalid-feedback id="key-feedback">
              <span v-if="!$v.form.access_key.required">Field is Required.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col xl="6">
          <b-card title="Payment Gateway Provider" sub-title="Supplementary Information" class="rounded-0">
            <b-card-text>
              Processing payments from customers to your business requires a third party <b>provider</b> specializing in this field. Consult
              your provider documentation for the required fields.
            </b-card-text>

            <b-card-text
              >If you don't see your Provider from the list, it means its integration isn't yet supported by the Phiscal Network. Use one of
              the links below to setup a Payment Gateway for your business, or skip this step to wait for future integration.</b-card-text
            >
            <b-card-text> For simplicity reasons, we personally recommend <b>PayFast</b>. </b-card-text>

            <b-link href="https://www.payfast.co.za" target="_blank" class="card-link">PayFast</b-link>
            <b-link href="https://www.paypal.com" target="_blank" class="card-link">PayPal</b-link>
            <b-link href="https://stripe.com" target="_blank" class="card-link">Stripe</b-link>
          </b-card>
        </b-col>
      </b-row>
    </div>
    <!--end: Wizard Step 3-->
    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-end border-top py-5">
      <b-button :disabled="pageBusy" variant="secondary" class="font-weight-bold text-uppercase px-9 py-4" squared @click="skip"
        >Skip</b-button
      >
      <b-button type="submit" :disabled="pageBusy" variant="success" class="font-weight-bold text-uppercase px-9 py-4" squared
        >Next</b-button
      >
    </div>
    <!--end: Wizard Actions -->
  </b-form>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required, requiredIf } from 'vuelidate/lib/validators';

import KTWizard from '@/assets/js/components/wizard';
import Gui from '@/assets/js/logic/template';

import { getCache } from '@/core/service/storage';

import { SET_BREADCRUMB, SET_PARENT } from '@/core/store/template/breadcrumbs.module';
import { OVERRIDE_PAGE_LAYOUT_CONFIG } from '@/core/store/template/config.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { ADD_GATEWAY, LS, SET_GATEWAY, SET_CLIENT, SET_KEY, PAYMENT_DETAILS } from '@/core/store/tenant/payment.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'Gateway',
  computed: {
    ...mapGetters('session', ['pageBusy'])
  },
  data: function () {
    return { gui: new Gui(this), form: { provider_id: null, client_id: null, access_key: null }, providers: [] };
  },
  validations: {
    form: {
      provider_id: { required },
      client_id: {
        required: requiredIf(function () {
          return this.form.provider_id === 'PF' || this.form.provider_id === 'PP';
        })
      },
      access_key: { required }
    }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    this.checksAndBalances();

    this.$store.dispatch(OVERRIDE_PAGE_LAYOUT_CONFIG, { subheader: { quickactions: false } });
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Welcome Screen' }, { title: 'Payment Gateway' }]);

    await this[PAYMENT_DETAILS]().then(this.paymentInfo).catch(this.gui.toast);
    this.providers = await this[LS]({ target: 'provider', format: this.getProviders }).catch(this.gui.toast);

    this.$nextTick().then(() => {
      const wizard = new KTWizard('welcome-screen');
      wizard.goTo(3);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
      this[SET_BUSY](false);
    });
  },
  methods: {
    ...mapActions('payment', [ADD_GATEWAY, LS, PAYMENT_DETAILS]),
    ...mapMutations('payment', [SET_GATEWAY, SET_CLIENT, SET_KEY]),
    ...mapMutations('session', [SET_BUSY]),
    checksAndBalances: function () {
      if (!getCache('module')) {
        this.$router.push({ name: 'modules' });
        return;
      }
      if (!getCache('struct')) {
        this.$router.push({ name: 'structure' });
        return;
      }
      switch (getCache('struct')) {
        case 'solo':
          this.$store.commit(SET_PARENT, 'homeaddress');
          break;
        case 'ltd':
        case 'mnp':
          this.$store.commit(SET_PARENT, 'headquarters');
          break;
      }
    },
    getProviders: function (payload) {
      let list = [{ text: '-- Select Provider --', value: null }];
      for (const item of payload) {
        list.push({ text: item.NAME, value: item.PROVIDER_ID });
      }
      return list;
    },
    paymentInfo: function ({ payload }) {
      if (payload !== false) {
        this.form = payload;
      }
    },
    skip: function (e) {
      e.preventDefault();
      this.$router.push({ name: 'registrationcomplete' });
    },
    next: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        this.gui.toast('Please check some of your form fields', 'Validation Error');
        return;
      }
      this[SET_BUSY](true);
      this[ADD_GATEWAY](this.form)
        .then(() => {
          this.$router.push({ name: 'registrationcomplete' });
        })
        .catch((ex) => {
          this[SET_BUSY](false);
          this.gui.toast(ex);
        });
    }
  }
};
</script>
