<template>
  <form class="form mt-0 mt-lg-10">
    <!--begin: Wizard Step 2-->
    <div class="pb-0">
      <b-row>
        <b-col xl="12">
          <div class="form-group">
            <div id="geoinput" />
            <span class="form-text text-muted">Please enter your Address Here.</span>
          </div>
        </b-col>
      </b-row>
      <b-row class="mt-0">
        <b-col xl="4">
          <b-form-group label="Street Address" label-for="addressline1-input">
            <b-form-input
              id="addressline1-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Address Line 1"
              v-model="$v.form.addressline1.$model"
              :state="gui.validateState('addressline1')"
              readonly
            />
            <b-form-invalid-feedback :state="gui.validateState('addressline1')"> Address Line 1 Required. </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group label="Suburb/Apartment Number" label-for="addressline2-input">
            <b-form-input
              id="addressline2-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Address Line 2"
              v-model="$v.form.addressline2.$model"
              :state="gui.validateState('addressline2')"
              readonly
            />
            <b-form-invalid-feedback :state="gui.validateState('addressline2')"> Address Line 2 Required. </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group label="City" label-for="city-input">
            <b-form-input
              id="city-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="City"
              v-model="$v.form.city.$model"
              :state="gui.validateState('city')"
              readonly
            />
            <b-form-invalid-feedback :state="gui.validateState('city')"> Address City Required. </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col xl="4">
          <b-form-group label="Region" label-for="region-input">
            <b-form-input
              id="region-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Region"
              v-model="$v.form.region.$model"
              :state="gui.validateState('region')"
              readonly
            />
            <b-form-invalid-feedback :state="gui.validateState('region')"> Address Region Required. </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group label="Country" label-for="city-input">
            <b-form-input
              id="country-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Country"
              v-model="countries[$v.form.country.$model]"
              :state="gui.validateState('country')"
              readonly
            />
            <b-form-invalid-feedback :state="gui.validateState('country')"> Address Country Required. </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group label="Telephone Number" label-for="telephone-input" description="Please enter Branch Telephone Number.">
            <b-button v-if="!phone.in" block squared variant="secondary" @click="phone.in = true">{{
              form.telephone || phone.number
            }}</b-button>
            <VuePhoneNumberInput
              ref="telInput"
              :default-country-code="phone.code"
              v-if="phone.in"
              id="telephone-input"
              class="form-control bg-secondary h-auto py-0 px-0 rounded-0"
              :clearable="true"
              :border-radius="0"
              v-model="phone.number"
              @update="setTel"
              @phone-number-blur="unPhone"
            />
            <b-form-invalid-feedback :state="gui.validateState('telephone')"> Phone Format Invalid </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col xl="4">
          <div class="form-group">
            <label>Photograph</label>
            <div>
              <div id="branch_photograph" class="image-input image-input-outline">
                <div class="image-input-wrapper" :style="{ backgroundImage: `url(${getPic})` }" />
                <label
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="change"
                  data-toggle="tooltip"
                  data-original-title="Change Photograph"
                  title="Change Photograph"
                >
                  <i class="fa fa-pen icon-sm text-muted"></i><input type="file" accept="image/*" @change="img.set" />
                </label>
                <span
                  :data-action="pic.ext === null ? 'cancel' : 'remove'"
                  data-toggle="tooltip"
                  title="Remove Photograph"
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  @click="rmPhoto"
                  ><i class="ki ki-bold-close icon-xs text-muted"></i
                ></span>
              </div>
              <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-row class="mt-0">
        <b-col xl="12" class="pb-0"
          ><b-form-group label="Description" label-for="branchdesc-input" description="Please enter the Branch's Description."
            ><b-form-input
              id="branchdesc-input"
              type="text"
              placeholder="Describe Branch"
              class="form-control form-control-solid form-control-lg rounded-0"
              :value="form.description"
              :state="gui.validateState('description')"
              aria-describedby="branchdesc-feedback"
              @change="setDesc"
              @blur="$v.form.description.$touch()"
            />
            <b-form-invalid-feedback id="branchdesc-feedback">
              <span v-if="!$v.form.description.minLength">Description is at least 2 characters.</span>
              <span v-if="!$v.form.description.maxLength">Description is at max 45 characters.</span>
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </div>
    <!--end: Wizard Step 2-->

    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-end border-top py-5">
      <b-button :disabled="pageBusy" variant="success" class="font-weight-bold text-uppercase px-9 py-4" squared @click="next"
        >Next</b-button
      >
    </div>
    <!--end: Wizard Actions -->

    <b-modal
      v-model="cropper.active"
      title="Select Photograph"
      :no-close-on-backdrop="true"
      header-bg-variant="secondary"
      header-text-variant="dark"
      body-bg-variant="light"
      body-text-variant="dark"
      footer-bg-variant="secondary"
      footer-text-variant="dark"
      size="lg"
      header-class="py-0"
      body-class="p-0"
      footer-class="p-0"
    >
      <template #modal-header>
        <b-container fluid>
          <b-row>
            <b-col cols="4" md="5">
              <b-button disabled block class="text-left cursor-default">Photograph</b-button>
            </b-col>
            <b-col cols="4" md="2">
              <b-button variant="danger" squared block v-b-tooltip title="Reset" @click.prevent="img.reset"
                ><i aria-hidden="true" class="fa fa-arrows-alt"></i
              ></b-button>
            </b-col>
            <b-col cols="2" md="4"> </b-col>
            <b-col cols="2" md="1">
              <b-button block v-b-tooltip title="Cancel" @click.prevent="cropper.active = false"
                ><i aria-hidden="true" class="fa fa-times"></i
              ></b-button>
            </b-col>
          </b-row>
        </b-container>
      </template>
      <section class="cropper-area">
        <div class="img-cropper">
          <vue-cropper
            ref="cropper"
            :view-mode="1"
            :aspect-ratio="1"
            :src="cropper.src"
            :auto-crop-area="1"
            :min-container-width="320"
            :min-canvas-width="320"
            :min-crop-box-width="240"
            alt="Source Image"
          />
        </div>
      </section>

      <template #modal-footer>
        <b-container fluid>
          <b-row>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Move Left" @click.prevent="img.move(-10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-left"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Down" @click.prevent="img.move(0, 10)"
                  ><i aria-hidden="true" class="fa fa-caret-down"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Up" @click.prevent="img.move(0, -10)"
                  ><i aria-hidden="true" class="fa fa-caret-up"></i
                ></b-button>
                <b-button v-b-tooltip title="Move Right" @click.prevent="img.move(10, 0)"
                  ><i aria-hidden="true" class="fa fa-caret-right"></i
                ></b-button>
              </b-button-group>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipX" block v-b-tooltip title="Flip Horizontally" @click.prevent="img.flipX"
                ><i aria-hidden="true" class="fa fa-arrows-alt-h"></i
              ></b-button>
            </b-col>
            <b-col cols="8" md="2">
              <b-button variant="success" block v-b-tooltip title="Crop Image" @click.prevent="mkPhoto"
                ><i aria-hidden="true" class="fa fa-crop"></i
              ></b-button>
            </b-col>
            <b-col cols="2" md="1">
              <b-button ref="flipY" block v-b-tooltip title="Flip Vertically" @click.prevent="img.flipY"
                ><i aria-hidden="true" class="fa fa-arrows-alt-v"></i
              ></b-button>
            </b-col>
            <b-col cols="12" md="4" class="text-center">
              <b-button-group>
                <b-button v-b-tooltip title="Rotate 90 Degrees Left" @click.prevent="img.rotate(-90)"
                  ><i aria-hidden="true" class="fa fa-reply"></i
                ></b-button>
                <b-button v-b-tooltip title="Zoom Out" @click.prevent="img.zoom(-0.2)"
                  ><i aria-hidden="true" class="fa fa-search-minus"></i
                ></b-button>
                <b-button v-b-tooltip title="Zoom In" @click.prevent="img.zoom(0.2)"
                  ><i aria-hidden="true" class="fa fa-search-plus"></i
                ></b-button>
                <b-button v-b-tooltip title="Rotate 90 Degrees Right" @click.prevent="img.rotate(90)"
                  ><i aria-hidden="true" class="fa fa-share"></i
                ></b-button>
              </b-button-group>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-modal>
  </form>
</template>
<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';

import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';
import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

import VuePhoneNumberInput from 'vue-phone-number-input';
import 'vue-phone-number-input/dist/vue-phone-number-input.css';

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

import KTWizard from '@/assets/js/components/wizard';
import Geo from '@/assets/js/logic/geo';
import Crop from '@/assets/js/logic/crop';
import Gui from '@/assets/js/logic/template';

import { getCache } from '@/core/service/storage';

import { NATIONS } from '@/core/store/generic.module';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { OVERRIDE_PAGE_LAYOUT_CONFIG } from '@/core/store/template/config.module';
import { ADD_BODY_CLASSNAME, REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';

import { DATA_ORG, SET_BRANCHES } from '@/core/store/org/index.module';
import {
  CRUD_BRANCH,
  BRANCH_PHOTO,
  SELECT_BRANCH,
  SET_ADDR1,
  SET_ADDR2,
  SET_CITY,
  SET_REGION,
  SET_COUNTRY,
  SET_GPS,
  SET_DESC,
  SET_PHONE,
  SET_HQ
} from '@/core/store/org/branch.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'Address',
  components: { VuePhoneNumberInput, VueCropper },
  computed: {
    ...mapGetters('branch', ['selectedBranch']),
    ...mapGetters('session', ['currentTenant', 'pageBusy']),
    getPic: function () {
      let image = 'img/user/logo.png';
      switch (this.selectedBranch || 0) {
        case 0:
          break;
        default:
          image =
            this.pic.ext === null
              ? image
              : `${process.env.VUE_APP_FILES}/img/branch/${this.currentTenant.id}/${this.selectedBranch}.${this.pic.ext}`;
          break;
      }
      return this.pic.base64 || image;
    }
  },
  data: function () {
    return {
      form: {
        description: null,
        telephone: null,
        addressline1: null,
        addressline2: null,
        city: null,
        region: null,
        country: null,
        gps: null
      },
      img: new Crop(this),
      pic: { base64: null, ext: null },
      gui: new Gui(this),
      cropper: { active: false, src: null, type: null, landscape: true },
      phone: {
        in: false,
        number: 'Telephone Number',
        valid: true,
        code: 'ZA'
      },
      geocoder: new MapboxGeocoder({
        accessToken: process.env.VUE_APP_MAPBOX_KEY,
        placeholder: 'Street Address, Suburb, City, Country',
        types: 'address, place',
        proximity: [23.9137106762068, -28.3782721906973]
      }),
      geo: new Geo(this),
      countries: []
    };
  },
  validations: {
    form: {
      description: {
        minLength: minLength(2),
        maxLength: maxLength(45)
      },
      addressline1: { required },
      addressline2: {},
      gps: { required },
      city: {},
      region: {},
      country: { required },
      telephone: {
        phoneValid: function () {
          return this.phone.valid;
        }
      }
    }
  },
  mounted: async function () {
    if (this.currentTenant === false) {
      this.$router.push({ name: 'regformal' });
    }
    if (this.currentTenant.type === 'U') {
      this.$router.push({ name: 'homeaddress' });
    }
    if (!getCache('struct')) {
      this.$router.push({ name: 'structure' });
    }
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Welcome Screen' }, { title: 'Headquarters' }]);
    this.$store.dispatch(OVERRIDE_PAGE_LAYOUT_CONFIG, { subheader: { quickactions: false } });

    // Initialize form wizard
    const wizard = new KTWizard('welcome-screen');
    wizard.goTo(2);

    try {
      this.geocoder.on('result', this.geo.mutate);
      this.geocoder.addTo('#geoinput');
      this.geo.decorate('form-control form-control-solid form-control-lg rounded-0', 'address-input');
    } catch (ex) {
      this.gui.toast(ex, 'Mapbox Geocoder');
    }
    this.countries = await this[NATIONS]().catch(this.gui.toast);
    await this[DATA_ORG]().then(this.setInfo).catch(this.gui.toast);

    this.$nextTick().then(() => {
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
      this[SET_BUSY](false);
    });
  },
  methods: {
    ...mapActions('generic', [NATIONS]),
    ...mapActions('org', [DATA_ORG]),
    ...mapActions('branch', [CRUD_BRANCH, BRANCH_PHOTO]),
    ...mapMutations('org', [SET_BRANCHES]),
    ...mapMutations('branch', [
      SELECT_BRANCH,
      SET_ADDR1,
      SET_ADDR2,
      SET_CITY,
      SET_REGION,
      SET_GPS,
      SET_COUNTRY,
      SET_DESC,
      SET_PHONE,
      SET_HQ
    ]),
    ...mapMutations('session', [SET_BUSY]),
    setInfo: function ({ branches }) {
      branches = Object.values(branches);
      let hq = false;
      for (const item of branches) {
        if (item.main) {
          hq = item;
          break;
        }
      }
      if (hq === false) {
        return;
      }
      const { addressline1, addressline2, branch, city, region, country, gps, description, telephone, photo } = hq;
      this[SELECT_BRANCH](branch);
      this.form.addressline1 = addressline1;
      this.form.addressline2 = addressline2;
      this.form.city = city;
      this.form.region = region;
      this.form.country = country;
      this.form.description = description;
      this.form.gps = gps;
      this.pic.ext = photo;
      this.form.telephone = telephone;
      this.phone.number = 'Telephone Number';

      if (telephone !== null) {
        let tel = '';
        const piece = telephone.split(' ');
        for (let i = 1; i < piece.length; i++) {
          tel += piece[i];
        }
        this.phone.number = tel;
      }
    },
    setTel: function (value) {
      if (value.isValid) {
        this.form.telephone = value.formatInternational;
        this.phone.number = value.formatInternational;
        this[SET_PHONE](value.formatInternational);
      } else {
        this.phone.number = 'Telephone Number';
        this.form.telephone = null;
        this[SET_PHONE](null);
      }
      this.phone.valid = value.isValid;
    },
    unPhone: function () {
      this.phone.valid = this.$refs.telInput.results.isValid;
      if (this.$refs.telInput.results.isValid) {
        this.phone.in = false;
      }
    },
    rmPhoto: async function () {
      if (this.selectedBranch === 0) {
        this.img.rm();
        return;
      }
      const affirm = await this.gui.rmTarget('Delete Photograph?');
      if (!affirm) {
        return;
      }
      this[SET_BUSY](true);
      await this[BRANCH_PHOTO](this.pic)
        .then(({ payload }) => {
          this.img.rm();
          this[SET_BRANCHES](payload);
        })
        .catch(this.gui.toast);
      this[SET_BUSY](false);
    },
    mkPhoto: async function () {
      this.img.crop({ width: 360, height: 360 });
      if (this.selectedBranch === 0) {
        return;
      }
      this[SET_BUSY](true);
      await this[BRANCH_PHOTO](this.pic)
        .then(({ payload }) => {
          this[SET_BRANCHES](payload);
        })
        .catch(this.gui.toast);
      this[SET_BUSY](false);
    },
    next: async function (e) {
      e.preventDefault();
      this.$store.dispatch(ADD_BODY_CLASSNAME, 'page-loading');
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        this.gui.toast('Please check some of your form fields', 'Validation Error');
        return;
      }

      this[SET_BUSY](true);
      this[SET_HQ](1);
      await this[CRUD_BRANCH]({ picture: this.pic })
        .then(({ payload }) => {
          if (payload !== false) {
            this[SET_BRANCHES](payload);
          }
          this.$router.push({ name: 'paymentgateway' });
        })
        .catch(this.gui.toast);
      this[SET_BUSY](false);
    }
  }
};
</script>
<style scoped>
.image-input .image-input-wrapper {
  width: 240px !important;
  height: 240px !important;
}
</style>
