<template>
  <b-form class="form mt-0 mt-lg-10" @submit.stop.prevent="next">
    <!--begin: Wizard Step 2-->
    <div class="pb-0">
      <b-row>
        <b-col xl="12">
          <div class="form-group">
            <div id="geoinput" />
            <span class="form-text text-muted">Please enter your Home Address Here.</span>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col xl="6">
          <b-form-group label="Street Address" label-for="addressline1-input" description="Forward Geocode Result">
            <b-form-input
              id="addressline1-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Address Line 1"
              v-model="$v.form.addressline1.$model"
              :state="gui.validateState('addressline1')"
              readonly
            />
            <b-form-invalid-feedback :state="gui.validateState('addressline1')"> Address Line 1 Required. </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col xl="6">
          <b-form-group label="Suburb/Apartment Number" label-for="addressline2-input" description="Forward Geocode Result">
            <b-form-input
              id="addressline2-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Address Line 2"
              v-model="$v.form.addressline2.$model"
              :state="gui.validateState('addressline2')"
              readonly
            />
            <b-form-invalid-feedback :state="gui.validateState('addressline2')"> Address Line 2 Required. </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col xl="4">
          <b-form-group label="City" label-for="city-input" description="Forward Geocode Result">
            <b-form-input
              id="city-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="City"
              v-model="$v.form.city.$model"
              :state="gui.validateState('city')"
              readonly
            />
            <b-form-invalid-feedback :state="gui.validateState('city')"> Address City Required. </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col xl="4">
          <b-form-group label="Region" label-for="region-input" description="Forward Geocode Result">
            <b-form-input
              id="city-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Region"
              v-model="$v.form.region.$model"
              :state="gui.validateState('region')"
              readonly
            />
            <b-form-invalid-feedback :state="gui.validateState('region')"> Address Region Required. </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col xl="4">
          <b-form-group label="Country" label-for="city-input" description="Forward Geocode Result">
            <b-form-input
              id="country-input"
              type="text"
              class="form-control form-control-solid form-control-lg rounded-0"
              placeholder="Country"
              v-model="countries[$v.form.country.$model]"
              :state="gui.validateState('country')"
              readonly
            />
            <b-form-invalid-feedback :state="gui.validateState('country')"> Address Country Required. </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </div>
    <!--end: Wizard Step 2-->

    <!--begin: Wizard Actions -->
    <div class="d-flex justify-content-end border-top py-5">
      <b-button type="submit" :disabled="pageBusy" variant="success" class="font-weight-bold text-uppercase px-9 py-4" squared>Next</b-button>
    </div>
    <!--end: Wizard Actions -->
  </b-form>
</template>
<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';
import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';
import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

import KTWizard from '@/assets/js/components/wizard';
import Geo from '@/assets/js/logic/geo';
import Gui from '@/assets/js/logic/template';
import { getCache } from '@/core/service/storage';

import { NATIONS } from '@/core/store/generic.module';
import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { OVERRIDE_PAGE_LAYOUT_CONFIG } from '@/core/store/template/config.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import {
  DATA_USER,
  UPDATE_USER,
  SET_ADDR1,
  SET_ADDR2,
  SET_CITY,
  SET_REGION,
  SET_GPS,
  SET_COUNTRY,
  SET_DATA
} from '@/core/store/user/index.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  mixins: [validationMixin],
  name: 'Address',
  computed: {
    ...mapGetters('session', ['currentTenant', 'pageBusy'])
  },
  data: function () {
    return {
      form: { addressline1: null, addressline2: null, city: null, region: null, country: null, gps: null },
      geocoder: new MapboxGeocoder({
        accessToken: process.env.VUE_APP_MAPBOX_KEY,
        placeholder: 'Street Address, Suburb, City, Country',
        types: 'address, place',
        proximity: [23.9137106762068, -28.3782721906973]
      }),
      geo: new Geo(this),
      gui: new Gui(this),
      countries: []
    };
  },
  validations: {
    form: {
      addressline1: { required },
      addressline2: {},
      city: {},
      region: {},
      country: { required }
    }
  },
  beforeMount: function () {
    // show page loading
    this[SET_BUSY](true);
  },
  mounted: async function () {
    if (!getCache('struct')) {
      this.$router.push({ name: 'structure' });
    }
    this.$store.dispatch(OVERRIDE_PAGE_LAYOUT_CONFIG, { subheader: { quickactions: false } });
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Welcome Screen', route: 'wizard-1' }, { title: 'Home Address' }]);

    try {
      this.geocoder.on('result', this.geo.mutate);
      this.geocoder.addTo('#geoinput');
    } catch (ex) {
      this.geo.toast(ex, 'GUI Issues');
    }
    this.geo.decorate('form-control form-control-solid form-control-lg rounded-0', 'address-input');
    this.countries = await this[NATIONS]().catch(this.gui.toast);

    // Page Load event
    await this[DATA_USER]()
      .then(({ payload: { addressline1, addressline2, city, region, country } }) => {
        this.form.addressline1 = addressline1;
        this.form.addressline2 = addressline2;
        this.form.city = city;
        this.form.region = region;
        this.form.country = country;
        this[SET_DATA]({});
      })
      .catch(this.gui.toast);

    this.$nextTick().then(() => {
      if (this.currentTenant === false) {
        this.$router.push({ name: 'regfreelance' });
      }
      if (this.currentTenant.type === 'O') {
        this.$router.push({ name: 'headquarters' });
      }
      const wizard = new KTWizard('welcome-screen');
      wizard.goTo(2);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
      this[SET_BUSY](false);
    });
  },
  methods: {
    ...mapActions('generic', [NATIONS]),
    ...mapActions('user', [DATA_USER, UPDATE_USER]),
    ...mapMutations('session', [SET_BUSY]),
    ...mapMutations('user', [SET_ADDR1, SET_ADDR2, SET_CITY, SET_REGION, SET_GPS, SET_COUNTRY, SET_DATA]),
    next: async function () {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        this.gui.toast('Please check some of your form fields', 'Validation Error');
        return;
      }
      this[SET_BUSY](true);
      await this[UPDATE_USER]()
        .then(() => {
          this[SET_DATA]({});
          this.$router.push({ name: 'paymentgateway' });
        })
        .catch((ex) => {
          this[SET_BUSY](false);
          this.gui.toast(ex);
        });
    }
  }
};
</script>
