<template>
  <div class="d-flex flex-column flex-root">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
      <!--begin::Aside-->
      <div
        class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-15"
        :style="{ backgroundImage: `url(${backgroundImage})` }"
      >
        <!--begin: Aside Container -->
        <div class="d-flex flex-row-fluid flex-column justify-content-between">
          <!--begin: Aside header -->
          <a href="/" class="flex-column-auto">
            <img src="img/logo/logo-letter-4.png" class="h-50" />
          </a>
          <!--end: Aside header -->
          <!--begin: Aside content -->
          <div class="flex-column-fluid d-flex flex-column justify-content-center">
            <h3 class="font-size-h1 mt-10 mb-5 text-white">Welcome to Phiscal!</h3>
            <p class="font-weight-lighter text-white opacity-80">
              Your ultimate solution in getting your business to work for you, not the other way round.
            </p>
          </div>
          <!--end: Aside content -->
          <!--begin: Aside footer for desktop -->
          <div class="d-none flex-column-auto d-lg-flex justify-content-between mt-15">
            <div class="opacity-70 font-weight-bold text-white">&copy; {{ new Date().getFullYear() }} - Phiscal</div>
            <div class="d-flex">
              <router-link to="/tnc" class="text-white">Terms</router-link>
              <router-link to="/contactus" class="text-white ml-10">Contact Us</router-link>
            </div>
          </div>
          <!--end: Aside footer for desktop -->
        </div>
        <!--end: Aside Container -->
      </div>
      <!--end::Aside-->

      <!--begin::Content-->
      <div class="flex-row-fluid d-flex flex-column position-relative p-7 overflow-hidden">
        <div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">
          <router-view @showStatus="showStatus" />
        </div>
      </div>
      <!--end::Content-->

      <!--begin::Status Report Modal-->
      <b-modal ref="status-modal" class="rounded-0" hide-footer>
        <b-card :title="title" img-src="img/logo/Illustrato.jpg" img-alt="Illustrato" img-top tag="article">
          <b-card-text v-html="message" />
          <b-button class="mt-3" variant="dark" block squared @click="forward">Okay Thanks</b-button>
        </b-card>
      </b-modal>
      <!--end::Status Report Modal-->
    </div>
  </div>
</template>

<style lang="scss">
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '@/assets/sass/style.vue';
@import '@/assets/sass/pages/login.scss';
</style>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Auth',
  data: function () {
    return { message: '', title: '' };
  },
  computed: {
    backgroundImage: function () {
      return process.env.BASE_URL + 'img/bg/bg-1.jpg';
    },
    ...mapGetters('session', ['authenticated'])
  },
  methods: {
    showStatus: function (title, text) {
      this.title = title;
      this.message = text;
      this.$refs['status-modal'].show();
    },
    forward: function () {
      this.$refs['status-modal'].hide();
      this.$router.push({ name: this.authenticated ? 'monitor' : 'login' });
    }
  }
};
</script>
<style>
.modal .modal-header .close {
  font-size: 2rem !important;
}
.required::after {
  content: '*';
  position: relative;
  font-size: 24px;
  color: #f1416c;
  padding-left: 0.25rem;
  font-weight: 700;
  line-height: 14px;
}
</style>
