<template>
  <router-view />
</template>

<script>
export default {
  name: 'App'
};
</script>
<style>
html {
  overflow-y: auto !important;
}
button:disabled {
  cursor: default !important;
}
label.required::after {
  content: '*';
  position: relative;
  font-size: inherit;
  color: #f1416c;
  padding-left: 0.25rem;
  font-weight: 700;
}
label.required::after {
  font-size: 24px;
  line-height: 14px;
}
.v-center {
  top: 50%;
  transform: translateY(-50%);
}
.h-center {
  left: 50%;
  transform: translateX(-50%);
}

.modal-footer .btn {
  border-radius: 0;
  margin: 0;
}
</style>
