<template>
  <b-card-group>
    <b-card id="module-card" no-body :img-src="getLogo" header-class="py-0" img-alt="Image" img-top>
      <template #header>
        <b-button variant="dark" class="d-sm-none mb-5 float-right" squared v-b-modal.modal-description>In-Depth Description</b-button>
      </template>

      <b-card-body>
        <b-card-title>{{ selectedModule.name }}</b-card-title>
        <b-card-sub-title class="mb-2">{{ selectedModule.description }}</b-card-sub-title>
        <b-card-text
          >Module Status <b-badge :variant="status.variant" class="rounded-0">{{ status.report }}</b-badge>
        </b-card-text>
      </b-card-body>

      <b-list-group v-if="currentTenant !== false" v-b-popover.hover.top="status.description" flush>
        <b-list-group-item>{{ brief }}</b-list-group-item>
      </b-list-group>

      <b-card-footer
        ><b-button :disabled="!selectedModule.active" :variant="status.btnState" squared class="float-right" @click="status.action">{{
          status.btnText
        }}</b-button></b-card-footer
      >

      <b-card-img src="https://placekitten.com/480/210" alt="Image" bottom></b-card-img>
    </b-card>

    <b-card title="In-Depth Description" sub-title="..." class="d-none d-sm-flex">
      <b-card-text v-html="content" />
    </b-card>

    <b-modal
      id="modal-description"
      scrollable
      header-class="pb-0 icon-3x"
      header-close-variant="dark"
      header-border-variant="white"
      content-class="rounded-0"
      size="lg"
      hide-footer
    >
      <div v-html="content" />
    </b-modal>
  </b-card-group>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
var showdown = require('showdown');

import Gui from '@/assets/js/logic/template';
import { cacheItem } from '@/core/service/storage';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { OVERRIDE_PAGE_LAYOUT_CONFIG } from '@/core/store/template/config.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { LS_MODULE, ELABORATE, DATA_MODULE, SUBSCRIBE, SET_ID } from '@/core/store/tenant/app.module';

export default {
  name: 'Details',
  data: function () {
    return {
      gui: new Gui(this),
      title: null,
      content: null,
      brief: null,
      status: {
        variant: null,
        report: null,
        description: null
      }
    };
  },
  computed: {
    ...mapGetters('session', ['currentTenant']),
    ...mapGetters('app', ['selectedModule', 'getLogo']),
    subscribed: function () {
      return this.currentTenant === false ? false : this.selectedModule.mod_id in this.currentTenant.modules;
    },
    subscription: function () {
      if (!this.selectedModule.active) {
        return 0;
      }
      let state = 1;
      if (this.currentTenant === false) {
        return state;
      }
      const { modules } = this.currentTenant;
      if (Object.values(modules).length === 0) return state;

      const module = modules[this.selectedModule.mod_id];

      if ((module.days <= 30) & module.active) {
        state = 2;
      }
      if ((module.days > 30) & module.active) {
        state = 3;
      }
      if ((module.days <= 30) & (module.active === false)) {
        state = 4;
      }
      return state;
    }
  },
  mounted: async function () {
    const params = this.$route.params;
    this.$store.dispatch(OVERRIDE_PAGE_LAYOUT_CONFIG, { subheader: { quickactions: false } });
    await this[DATA_MODULE](params.id).catch(this.gui.toast);
    await this[ELABORATE](params.id).then(this.moduleInfo).catch(this.gui.toast);
    this.title = this.selectedModule.name;
    this.$nextTick().then(() => {
      this[SET_ID](params.id);
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
      this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Module' }, { title: this.selectedModule.name }]);
      this.brief = this.subscribed
        ? 'This Module is detected to be part of your Subscription List.'
        : 'Your business is currently not subscribed to this Module.';
      this.status = this.stateBag(this.subscription);
    });
  },
  methods: {
    ...mapActions('app', [ELABORATE, DATA_MODULE, LS_MODULE, SUBSCRIBE]),
    ...mapMutations('app', [SET_ID]),
    subscribeAction: async function () {
      if (this.currentTenant === false) {
        cacheItem('module', this.selectedModule.mod_id);
        this.$router.push({ name: 'roleselect' });
        return;
      }
      await this[SUBSCRIBE]({ mod_id: this.selectedModule.mod_id })
        .then(() => {
          this[LS_MODULE]('active').catch(this.gui.toast);
          this[LS_MODULE]('idling').catch(this.gui.toast);
          this.$router.push({ name: 'monitor' });
        })
        .catch(this.gui.toast);
    },
    moduleInfo: function ({ payload }) {
      var md = new showdown.Converter();
      this.content = md.makeHtml(payload);
    },
    stateBag: function (state) {
      const list = [
        {
          variant: 'danger',
          report: 'Not Available',
          description: 'This Module is currently under development by the Phiscal Team',
          btnText: 'subscribe',
          btnState: 'secondary',
          action: function () {}
        },
        {
          variant: 'primary',
          report: 'Active',
          description: 'Module ready for Subscription',
          btnText: this.currentTenant === false ? 'select module' : 'subscribe',
          btnState: 'dark',
          action: this.subscribeAction
        },
        {
          variant: 'success',
          report: 'Subscribed',
          description: null,
          btnText: 'cancel',
          btnState: 'danger',
          action: this.subscribeAction
        },
        {
          variant: 'warning',
          report: 'expired',
          description: 'The Module Subscription 30 day is depleted',
          btnText: 'renew',
          btnState: 'dark',
          action: this.subscribeAction
        },
        {
          variant: 'warning',
          report: 'cancelled',
          description: 'You cancelled this Module before subscription expired',
          btnText: 'resume',
          btnState: 'dark',
          action: this.subscribeAction
        }
      ];
      return list[state];
    }
  }
};
</script>

<style>
.limit.card-text {
  overflow-y: auto;
  max-height: 366px;
}
.card-body h1 {
  font-size: 18px !important;
  font-weight: 700;
  margin-left: -1rem;
  border-bottom: 1px dotted #888 !important;
}
.card-body h2 {
  font-size: 14px !important;
  font-weight: 600;
}
.modal .modal-header .close {
  font-size: 2rem !important;
}
.modal-body li {
  margin-left: 2rem !important;
}
@media (min-width: 575.98px) {
  #module-card {
    max-width: 20rem;
  }
}
</style>
