<template>
  <div class="container-fluid">
    <b-alert v-for="(error, i) in errors" :key="i" show variant="danger" dismissible>{{ error }}</b-alert>
    <div class="row flex-nowrap overflow-auto">
      <div v-for="(item, i) in modules" :key="i" class="card col-12 col-md-4 overlay">
        <div class="overlay-wrapper text-center">
          <img class="card-img-top w-200px" :src="`${path}/${item.NAME}.${item.LOGO}`" />
        </div>
        <div class="overlay-layer bg-dark bg-opacity-10 rounded">
          <b-button variant="dark" squared size="md" @click="explore(item)">Explore</b-button>
        </div>

        <div class="card-body">
          <h3 class="card-title mb-0">{{ item.NAME }}</h3>
          <p class="card-text">{{ item.DESCRIPTION }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.card-block {
  min-height: 300px;
}
img {
  max-width: 100%;
  max-height: 100%;
  padding-top: 10px;
  transition: 1s;
}
h1 {
  color: green;
}
.bg-opacity-10 {
  background-color: rgba(89, 89, 89, 0.2) !important;
}
.overlay:hover .overlay-wrapper img {
  width: 100% !important;
}
</style>

<script>
import { mapActions } from 'vuex';

import Gui from '@/assets/js/logic/template';

import { SET_BREADCRUMB } from '@/core/store/template/breadcrumbs.module';
import { OVERRIDE_PAGE_LAYOUT_CONFIG } from '@/core/store/template/config.module';
import { REMOVE_BODY_CLASSNAME } from '@/core/store/template/htmlclass.module';
import { INDEX } from '@/core/store/tenant/app.module';

export default {
  name: 'Modules',
  data: function () {
    return {
      modules: [],
      gui: new Gui(this),
      errors: []
    };
  },
  computed: {
    path: function () {
      return `${process.env.VUE_APP_FILES}/img/brand/module`;
    }
  },
  mounted: async function () {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: 'Modules' }]);
    this.$store.dispatch(OVERRIDE_PAGE_LAYOUT_CONFIG, { subheader: { quickactions: false } });
    const { payload } = await this[INDEX]().catch(this.gui.toast);
    this.modules = payload;
    this.$nextTick().then(() => {
      this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'page-loading');
    });
  },
  methods: {
    ...mapActions('app', [INDEX]),
    explore: function ({ MOD_ID }) {
      this.$router.push({ name: 'module', params: { id: MOD_ID } });
    }
  }
};
</script>
