<template>
  <div>
    <v-app-bar app color="white" height="100">
      <router-link to="/" style="text-decoration: none">
        <v-avatar class="mr-3" tile size="70">
          <v-img contain max-height="70%" src="img/logo/logo.png"></v-img>
        </v-avatar>
      </router-link>
      <v-snackbar v-model="snack.active" color="deep-purple accent-4">
        <div class="text">
          {{ snack.message }}
        </div>

        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="snack.active = false"> Close </v-btn>
        </template>
      </v-snackbar>

      <v-spacer></v-spacer>

      <v-btn to="/auth" v-if="!authenticated" class="d-none d-sm-inline-flex" text>
        <span class="mr-2">Log In</span>
        <v-icon>mdi-account-circle</v-icon>
      </v-btn>
      <v-btn v-if="authenticated" class="d-none d-sm-inline-flex" to="/dash" text>
        <span class="mr-2">Workspace</span>
        <v-icon>mdi-collage</v-icon>
      </v-btn>
      <v-btn to="/contactus" class="d-none d-sm-inline-flex" text>
        <span class="mr-2">Contact Us</span>
        <v-icon>mdi-message-text</v-icon>
      </v-btn>
      <v-btn v-if="authenticated" class="d-none d-sm-inline-flex" @click="signout" text>
        <span class="mr-2">Log out</span>
        <v-icon>mdi-exit-to-app</v-icon>
      </v-btn>
      <v-btn class="d-sm-none" text @click="drawer = true">
        <v-icon x-large>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" absolute temporary right>
      <v-list-item two-line>
        <v-list-item-avatar tile>
          <img :src="getAvatar" />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ currentUser.fullname }}</v-list-item-title>
          <v-list-item-subtitle>{{ authenticated ? 'Logged In' : 'browsing...' }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list v-if="!authenticated">
        <v-list-item to="/auth" link>
          <v-list-item-icon>
            <v-icon>mdi-login</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Login</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list>
        <v-list-item to="/contactus" link>
          <v-list-item-icon>
            <v-icon>mdi-message-text</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Contact Us</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list v-if="authenticated">
        <v-list-item to="/dash" link>
          <v-list-item-icon>
            <v-icon>mdi-collage</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Workspace</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <div v-if="authenticated" class="pa-2">
        <v-btn color="secondary" block @click="signout" class="rounded-0" tile> Logout </v-btn>
      </div>
    </v-navigation-drawer>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import { LOGOUT } from '@/core/store/user/session.module';
export default {
  name: 'Header',
  data() {
    return {
      snack: {
        message: '',
        active: false
      },
      drawer: false
    };
  },
  computed: {
    ...mapGetters('session', ['currentUser', 'getAvatar', 'authenticated'])
  },
  methods: {
    ...mapActions('session', [LOGOUT]),
    signout() {
      this[LOGOUT]()
        .then(() => this.$router.push({ name: 'login' }))
        .catch((ex) => {
          this.snack.message = ex;
          this.snack.active = true;
        });
    }
  }
};
</script>
