<template>
  <v-app style="overflow-x: hidden">
    <Header />
    <v-main>
      <transition name="slide">
        <router-view />
      </transition>
    </v-main>
    <Footer />
  </v-app>
</template>
<script>
import Header from '@/view/layout/website/Header';
import Footer from '@/view/layout/website/Footer';

export default {
  name: 'Site',

  components: {
    Header,
    Footer
  }
};
</script>
<style>
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
