<template>
  <form class="form">
    <!--begin::Modals-->
    <Branch ref="modalBranch" />
    <!--end::Modals-->
    <div class="px-6 py-0">
      <b-alert :show="getBranches.length === 0" variant="light" class="text-center mb-0 rounded-0">
        <h4 class="alert-heading">List Empty!</h4>
        <p class="mb-0">Use button bellow to add records to list.</p>
      </b-alert>
      <!--begin::Table-->
      <div class="table-responsive">
        <table class="table table-borderless table-vertical-center">
          <tbody>
            <template v-for="(item, i) in getBranches">
              <tr v-bind:key="i" class="custom">
                <td class="pl-0 py-0 border-bottom-0 d-none d-sm-table-cell">
                  <div class="symbol symbol-50 symbol-light mr-1">
                    <span class="symbol-label">
                      <img
                        :src="item.photo === null ? 'img/user/logo.png' : `${path}/${currentTenant.org_id}/${item.branch}.${item.photo}`"
                        class="h-100 align-self-center"
                        alt=""
                      />
                    </span>
                  </div>
                </td>
                <td class="pl-0 py-0">
                  <a class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">
                    {{ item.addressline1 }}
                  </a>
                  <div>
                    <span class="">{{ item.city }} {{ ',' }}</span>
                    <a class="text-muted font-weight-bold text-hover-primary">
                      {{ nations[item.country] }}
                    </a>
                  </div>
                </td>
                <td class="text-right py-0 d-none d-md-table-cell">
                  <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> Branch {{ item.branch }} </span>
                  <span class="text-muted font-weight-bold">{{ item.description }}</span>
                </td>
                <td class="text-right py-0 d-none d-lg-table-cell">
                  <span class="text-muted font-weight-500">
                    {{ item.telephone }}
                  </span>
                </td>
                <td class="text-right py-0 d-none d-sm-table-cell">
                  <b-form-checkbox
                    :ref="`hq${item.branch}`"
                    :checked="item.main"
                    switch
                    @change="
                      (e) => {
                        mainSwitch(e, item.branch);
                      }
                    "
                    class="cursor-pointer"
                    title="'Switch to Headquarters'"
                  >
                    Main
                  </b-form-checkbox>
                </td>
                <td class="text-right pr-0 py-0">
                  <a class="btn btn-icon btn-white btn-sm mx-0" @click="update(item)">
                    <span class="svg-icon svg-icon-md svg-icon-primary">
                      <!--begin::Svg Icon-->
                      <inline-svg src="img/svg/icon/communication/Write.svg" title="Update Branch Info" />
                      <!--end::Svg Icon-->
                    </span>
                  </a>
                  <a class="btn btn-icon btn-white btn-sm" @click="remove(item.branch)">
                    <span class="svg-icon svg-icon-md svg-icon-danger">
                      <!--begin::Svg Icon-->
                      <inline-svg src="img/svg/icon/general/Trash.svg" title="Delete Branch" />
                      <!--end::Svg Icon-->
                    </span>
                  </a>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      <!--end::Table-->
    </div>

    <div class="card-footer p-3">
      <div v-if="currentTenant !== false" class="row">
        <div class="col-4">
          <b-button squared variant="outline-secondary" @click="$router.go(-1)">
            <i class="la la-chevron-left"></i>
            Cancel
          </b-button>
        </div>
        <div class="col-8 text-right">
          <b-button squared variant="success" @click="$refs.modalBranch.show(true)">
            <i class="la la-plus"></i>
            Add New
          </b-button>
        </div>
      </div>
    </div>
  </form>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

import Gui from '@/assets/js/logic/template';

import { SET_BRANCHES } from '@/core/store/org/index.module';
import { HEADQUARTERS, DELETE_BRANCH, SELECT_BRANCH } from '@/core/store/org/branch.module';
import { SET_BUSY } from '@/core/store/user/session.module';

import Branch from '@/view/content/modal/Branch.vue';

export default {
  name: 'Branches',
  props: {
    nations: Object,
    loading: Boolean
  },
  computed: {
    ...mapGetters('session', ['currentTenant']),
    ...mapGetters('org', ['getBranches'])
  },
  components: { Branch },
  data: function () {
    return {
      path: `${process.env.VUE_APP_FILES}/img/branch`,
      gui: new Gui(this)
    };
  },
  methods: {
    ...mapActions('branch', [HEADQUARTERS, DELETE_BRANCH]),
    ...mapMutations('branch', [SELECT_BRANCH]),
    ...mapMutations('org', [SET_BRANCHES]),
    ...mapMutations('session', [SET_BUSY]),
    mainSwitch: async function (e, branch) {
      this[SET_BUSY](true);
      await this[HEADQUARTERS]({ positive: e, hq: branch })
        .then(({ payload }) => {
          this[SET_BRANCHES](payload);
        })
        .catch((ex) => {
          this.gui.toast(ex);
          this.$refs[`hq${branch}`][0].localChecked = !e;
        });
      this[SET_BUSY](false);
    },
    update: function (branch) {
      this[SELECT_BRANCH](branch.branch);
      this.$refs.modalBranch.show(true, branch);
    },
    remove: async function (id) {
      const affirm = await this.gui.rmTarget('This action cannot be reversed. Proceed?', `Deleting Branch ${id}`);
      if (!affirm) {
        return;
      }

      this[SET_BUSY](true);
      await this[DELETE_BRANCH](id)
        .then(({ payload }) => {
          this[SET_BRANCHES](payload);
        })
        .catch(this.gui.toast);
      this[SET_BUSY](false);
    }
  }
};
</script>
<style scoped>
.table-borderless .custom td {
  border-bottom: 1px solid #ddd;
  border-top: 0 !important;
}
.table-borderless .custom:last-child td {
  border-bottom: none !important;
}
</style>
