<template>
  <form class="form">
    <!--begin::Modals-->
    <Employee ref="modalEmp" @report="report" />
    <!--end::Modals-->
    <div class="px-6 py-0">
      <b-alert :show="getStaff.length === 0" variant="light" class="text-center mb-0">
        <h4 class="alert-heading">List Empty!</h4>
        <p class="mb-0">Use button bellow to add records to list.</p>
      </b-alert>

      <!--begin::Table-->
      <div class="table-responsive">
        <table class="table table-borderless table-vertical-center">
          <tbody>
            <template v-for="(item, i) in getStaff">
              <tr v-bind:key="i" class="custom">
                <td class="pl-0 py-0 border-bottom-0 d-none d-sm-table-cell">
                  <div class="symbol symbol-50 symbol-light mr-1">
                    <span class="symbol-label">
                      <img
                        :src="item.avatar === null ? 'img/user/blank.png' : `${path}/${item.user_id}.${item.avatar}`"
                        class="h-100 align-self-center"
                        alt=""
                      />
                    </span>
                  </div>
                </td>
                <td class="pl-0 py-0">
                  <a class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"> {{ item.fullname }}</a>
                  <div>
                    <span class="">Branch:</span>
                    <a class="text-muted font-weight-bold text-hover-primary"> {{ item.branchCity }}, {{ nations[item.branchCountry] }} </a>
                  </div>
                </td>
                <td class="text-right py-0 d-none d-md-table-cell">
                  <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> {{ item.email }} </span>
                  <span class="text-muted font-weight-bold">{{ item.branchAddress }}</span>
                </td>
                <td class="text-right py-0 d-none d-lg-table-cell">
                  <span class="text-muted font-weight-500" v-b-tooltip.hover.top title="Id Number">
                    {{ item.idnumber || 'No ID Number' }}
                  </span>
                </td>
                <td class="text-right py-0 d-none d-sm-table-cell" v-b-tooltip.hover.top :title="item.report">
                  Account <b-badge :variant="account[item.active]">{{ item.state }}</b-badge>
                </td>
                <td class="text-right pr-0 py-0">
                  <a class="btn btn-icon btn-white btn-sm mx-0" @click="update(item)">
                    <span class="svg-icon svg-icon-md svg-icon-primary">
                      <!--begin::Svg Icon-->
                      <inline-svg src="img/svg/icon/communication/Write.svg" title="Update Employee Info" />
                      <!--end::Svg Icon-->
                    </span>
                  </a>
                  <a class="btn btn-icon btn-white btn-sm" @click="remove(item.user_id, `${item.firstname} ${item.lastname}`)">
                    <span class="svg-icon svg-icon-md svg-icon-danger">
                      <!--begin::Svg Icon-->
                      <inline-svg src="img/svg/icon/general/Trash.svg" title="Delete Employee" />
                      <!--end::Svg Icon-->
                    </span>
                  </a>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      <!--end::Table-->
    </div>

    <div class="card-footer p-3">
      <div v-if="currentTenant !== false" class="row">
        <div class="col-4">
          <b-button squared variant="outline-secondary" @click="$router.go(-1)">
            <i class="la la-chevron-left" />
            Cancel
          </b-button>
        </div>
        <div class="col-8 text-right">
          <b-button squared variant="success" @click="$refs.modalEmp.show(true)">
            <i class="la la-plus" />
            Add New
          </b-button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';

import Employee from '@/view/content/modal/Employee.vue';

import { DELETE_EMP, SELECT_EMP } from '@/core/store/org/staff.module';
import { SET_STAFF } from '@/core/store/org/index.module';
import { SET_BUSY } from '@/core/store/user/session.module';

export default {
  name: 'Employees',
  props: {
    nations: Object,
    loading: Boolean
  },
  components: { Employee },
  computed: {
    ...mapGetters('session', ['currentTenant']),
    ...mapGetters('org', ['getStaff'])
  },
  data: function () {
    return {
      path: `${process.env.VUE_APP_FILES}/img/avatar`,
      account: { 0: 'secondary', 1: 'primary', '-1': 'dark', '-2': 'warning', '-3': 'danger' }
    };
  },
  methods: {
    ...mapActions('staff', [DELETE_EMP]),
    ...mapMutations('org', [SET_STAFF]),
    ...mapMutations('staff', [SELECT_EMP]),
    ...mapMutations('session', [SET_BUSY]),
    update: function (employee) {
      this[SELECT_EMP](employee.user_id);
      this.$refs.modalEmp.show(true, employee);
    },
    remove: async function (id, name) {
      const proceed = await this.$bvModal
        .msgBoxConfirm(`Proceed with removing ${name} from Staff?`, {
          title: 'Deleting Staff Member',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          headerClass: 'p-3',
          footerClass: 'p-2',
          hideHeaderClose: true,
          centered: true
        })
        .catch((ex) => {
          this.$bvToast.toast(ex, {
            title: `System Error`,
            variant: 'danger',
            solid: true,
            noAutoHide: true
          });
        });

      if (!proceed) {
        return;
      }
      this[SET_BUSY](true);
      await this[DELETE_EMP](id)
        .then((res) => {
          this[SET_STAFF](res);
        })
        .catch((ex) => {
          for (let i in ex) {
            this.$bvToast.toast(ex[i], {
              title: `System Error`,
              variant: 'danger',
              solid: true,
              noAutoHide: true
            });
          }
        });
      this[SET_BUSY](false);
    },
    report: function (title, text) {
      this.$emit('report', title, text);
    }
  }
};
</script>
<style scoped>
.table-borderless .custom td {
  border-bottom: 1px solid #ddd;
  border-top: 0 !important;
}
.table-borderless .custom:last-child td {
  border-bottom: none !important;
}
</style>
