<template>
  <ul class="menu-nav" />
</template>

<script>
export default {
  name: 'KTMenu',
  methods: {
    hasActiveChildren: function (match) {
      return this.$route['path'].indexOf(match) !== -1;
    }
  }
};
</script>
