<template>
  <div class="subheader py-2 py-lg-4" v-bind:class="subheaderClasses" id="kt_subheader">
    <div
      class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap position-relative"
      v-bind:class="{ 'container-fluid': widthFluid, container: !widthFluid }"
    >
      <div class="d-flex align-items-center flex-wrap mr-1">
        <h5
          v-if="!!pageParent"
          id="btn-back"
          class="font-weight-bold my-2 mr-5 pr-2 cursor-pointer"
          v-b-tooltip.hover="'Back'"
          @click="$router.push({ name: pageParent })"
        >
          <i class="las la-arrow-circle-left icon-3x position-absolute left-0" style="transform: translateY(-50%)" />
        </h5>
        <h5 class="text-dark font-weight-bold my-2 mr-5">
          {{ currentTenant === false ? title : currentTenant.trademark }}
        </h5>
        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 d-none d-md-flex">
          <li class="breadcrumb-item">
            <router-link to="/dash" class="subheader-breadcrumbs-home">
              <i class="flaticon2-shelter text-muted icon-1x" />
            </router-link>
          </li>
          <li v-if="currentTenant !== false" class="breadcrumb-item">
            <span class="text-muted">
              {{ title }}
            </span>
          </li>

          <template v-for="(breadcrumb, i) in breadcrumbs">
            <li v-if="i > 0" class="breadcrumb-item" :key="`${i}-${breadcrumb.id}`">
              <router-link v-if="breadcrumb.route" :key="i" :to="breadcrumb.route" class="text-muted">
                {{ breadcrumb.title }}
              </router-link>
              <span class="text-muted" :key="i" v-if="!breadcrumb.route">
                {{ breadcrumb.title }}
              </span>
            </li>
          </template>
        </ul>
      </div>
      <div v-if="quickactionDisplay" class="d-flex align-items-center">
        <b-button class="cursor-default" size="sm" disabled squared> Actions</b-button>

        <b-dropdown
          size="sm"
          variant="link"
          toggle-class="custom-v-dropdown"
          no-caret
          right
          no-flip
          text="Actions"
          v-b-tooltip.hover="'Quick actions'"
        >
          <template v-slot:button-content>
            <a href="#" class="btn btn-icon" data-toggle="dropdown">
              <span class="svg-icon svg-icon-success svg-icon-2x">
                <!--begin::Svg Icon-->
                <inline-svg src="img/svg/icon/file/File-plus.svg" title="Quick Actions" />
                <!--end::Svg Icon-->
              </span>
            </a>
          </template>
          <!--begin::Navigation-->
          <div class="navi navi-hover min-w-md-250px">
            <b-dropdown-text tag="div" class="navi-header font-weight-bold">
              Business Operations :
              <i class="flaticon2-layers-2" data-toggle="tooltip" data-placement="left" />
            </b-dropdown-text>
            <b-dropdown-text tag="div" class="navi-separator mb-3"></b-dropdown-text>
            <b-dropdown-text tag="div" class="navi-item">
              <a class="navi-link cursor-pointer" @click="$emit('registerOrg', true)">
                <span class="navi-icon">
                  <i class="flaticon2-plus" />
                </span>
                <span class="navi-text">New Organization</span>
              </a>
            </b-dropdown-text>
            <b-dropdown-text v-if="currentUser.tenants.length > 1" tag="div" class="navi-item">
              <a class="navi-link cursor-pointer" @click="$emit('tenantSwitch', true)">
                <span class="navi-icon">
                  <i class="flaticon2-send-1" />
                </span>
                <span class="navi-text">{{ currentTenant === false ? 'Select from List' : 'Switch to Another' }}</span>
              </a>
            </b-dropdown-text>
            <b-dropdown-text v-if="currentTenant !== false && currentTenant.type === 'O'" tag="div" class="navi-item">
              <router-link to="/org" class="navi-link">
                <span class="navi-icon">
                  <i class="flaticon-folder-1" />
                </span>
                <span class="navi-text">Information</span>
              </router-link>
            </b-dropdown-text>
            <b-dropdown-text v-if="false" tag="div" class="navi-item">
              <a href="#" class="navi-link">
                <span class="navi-icon">
                  <i class="flaticon2-telegram-logo" />
                </span>
                <span class="navi-text">Projects</span>
              </a>
            </b-dropdown-text>
            <b-dropdown-text v-if="false" tag="div" class="navi-item">
              <a href="#" class="navi-link">
                <span class="navi-icon">
                  <i class="flaticon2-new-email" />
                </span>
                <span class="navi-text">Messages</span>
                <span class="navi-label">
                  <span class="label label-success label-rounded">5</span>
                </span>
              </a>
            </b-dropdown-text>
            <b-dropdown-text v-if="currentTenant !== false" tag="div" class="navi-separator mt-3" />
            <b-dropdown-text v-if="currentTenant !== false" tag="div" class="navi-footer">
              <router-link :to="{ name: 'modules' }" class="btn btn-light-primary font-weight-bolder btn-sm rounded-0"
                >Subscribe Module</router-link
              >
              <a
                class="btn btn-clean font-weight-bold btn-sm"
                href="/#/tnc"
                target="_blank"
                data-toggle="tooltip"
                data-placement="left"
                v-b-tooltip.hover
                title="Click to learn more..."
                >Learn more</a
              >
            </b-dropdown-text>
          </div>
          <!--end::Navigation-->
        </b-dropdown>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'KTSubheader',
  props: {
    breadcrumbs: Array,
    title: String
  },
  computed: {
    ...mapGetters(['layoutConfig', 'pageParent']),
    ...mapGetters('session', ['currentTenant', 'currentUser', 'currentRank']),

    /**
     * Check if subheader width is fluid
     */
    widthFluid: function () {
      return this.layoutConfig('subheader.width') === 'fluid';
    },

    subheaderClasses: function () {
      const classes = [];
      const style = this.layoutConfig('subheader.style');
      if (style) {
        classes.push(style);

        if (style === 'solid') {
          classes.push('bg-white');
        }

        if (this.layoutConfig('subheader.fixed')) {
          classes.push('border-top');
        }
      }
      return classes.join(' ');
    },

    /*
     * Set the quickactions display
     * @returns {boolean}
     */
    quickactionDisplay: function () {
      return !!this.layoutConfig('subheader.quickactions');
    }
  }
};
</script>

<style lang="scss">
.cursor-default {
  cursor: default !important;
}
.custom-v-dropdown {
  &.dropdown-toggle {
    padding: 0;
    &:hover {
      text-decoration: none;
    }

    &.dropdown-toggle-no-caret {
      &:after {
        content: none;
      }
    }
  }

  &.dropdown-menu {
    margin: 0;
    padding: 0;
    outline: none;
    .b-dropdown-text {
      padding: 0;
    }
  }
}
#btn-back:hover i {
  color: #444 !important;
}
</style>
