<template>
  <!-- begin:: Header Topbar -->
  <div class="topbar">
    <!--begin: Search -->
    <b-dropdown
      v-if="false"
      size="sm"
      id="kt_quick_search_toggle"
      variant="link"
      toggle-class="topbar-item text-decoration-none"
      no-caret
      right
      no-flip
    >
      <template v-slot:button-content>
        <div class="btn btn-icon btn-clean btn-lg btn-dropdown mr-1">
          <span class="svg-icon svg-icon-xl svg-icon-primary">
            <inline-svg src="img/svg/icon/general/Search.svg" title="Find Stuff" />
          </span>
        </div>
      </template>
      <b-dropdown-text tag="div" class="min-w-md-350px">
        <KTSearchDefault />
      </b-dropdown-text>
    </b-dropdown>
    <!--end: Search -->

    <!--begin: Notifications -->
    <b-dropdown
      size="sm"
      variant="link"
      class="rounded-0"
      toggle-class="topbar-item text-decoration-none"
      no-caret
      right
      no-flip
      @hidden="updateFeeds"
    >
      <template v-slot:button-content>
        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 pulse-primary" :class="{ pulse: notifications.unread > 0 }">
          <span class="svg-icon svg-icon-xl svg-icon-primary">
            <inline-svg src="img/svg/icon/general/Notifications1.svg" title="Notifications" />
          </span>
          <span class="pulse-ring"></span>
        </div>
      </template>
      <b-dropdown-text tag="div" class="min-w-md-350px">
        <form>
          <KTDropdownNotification ref="feedsDrop" />
        </form>
      </b-dropdown-text>
    </b-dropdown>
    <!--end: Notifications -->

    <!--begin: Quick Actions -->
    <b-dropdown v-if="false" size="sm" variant="link" toggle-class="topbar-item text-decoration-none" no-caret right no-flip>
      <template v-slot:button-content>
        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
          <span class="svg-icon svg-icon-xl svg-icon-primary">
            <inline-svg src="img/svg/icon/general/Thunder-move.svg" title="Quick Actions" />
          </span>
        </div>
      </template>
      <b-dropdown-text tag="div" class="min-w-md-350px">
        <KTDropdownQuickAction />
      </b-dropdown-text>
    </b-dropdown>
    <!--end: Quick Actions -->

    <!--begin: My Cart -->
    <b-dropdown v-if="false" size="sm" variant="link" toggle-class="topbar-item text-decoration-none" no-caret right no-flip>
      <template v-slot:button-content>
        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
          <span class="svg-icon svg-icon-xl svg-icon-primary">
            <inline-svg src="img/svg/icon/shopping/Cart3.svg" title="Cart" />
          </span>
        </div>
      </template>
      <b-dropdown-text tag="div" class="min-w-md-350px">
        <KTDropdownMyCart />
      </b-dropdown-text>
    </b-dropdown>
    <!--end: My Cart -->

    <!--begin: Quick panel toggle -->
    <KTQuickPanel v-if="false" />
    <!--end: Quick panel toggle -->

    <!--begin: User Bar -->
    <KTQuickUser />
    <!--end: User Bar -->
  </div>
  <!-- end:: Header Topbar -->
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { READ_FEEDS } from '@/core/store/user/session.module';
import KTSearchDefault from '@/view/layout/dash/extra/dropdown/SearchDefault.vue';
import KTDropdownNotification from '@/view/layout/dash/extra/dropdown/DropdownNotification.vue';
import KTDropdownQuickAction from '@/view/layout/dash/extra/dropdown/DropdownQuickAction.vue';
import KTDropdownMyCart from '@/view/layout/dash/extra/dropdown/DropdownMyCart.vue';
import KTQuickUser from '@/view/layout/dash/extra/offcanvas/QuickUser.vue';
import KTQuickPanel from '@/view/layout/dash/extra/offcanvas/QuickPanel.vue';

export default {
  name: 'KTTopbar',
  data: function () {
    return {};
  },
  components: {
    KTSearchDefault,
    KTDropdownNotification,
    KTDropdownQuickAction,
    KTDropdownMyCart,
    KTQuickUser,
    KTQuickPanel
  },
  computed: {
    ...mapGetters('session', ['notifications'])
  },
  methods: {
    ...mapActions('session', [READ_FEEDS]),
    updateFeeds: async function () {
      if (this.notifications.unread === 0) {
        return;
      }
      await this[READ_FEEDS]().catch((ex) => {
        for (let i in ex) {
          this.$bvToast.toast(ex[i], {
            title: `System Error`,
            variant: 'danger',
            solid: true
          });
        }
      });
    }
  }
};
</script>

<style lang="scss">
.topbar {
  .dropdown-toggle {
    padding: 0;
    &:hover {
      text-decoration: none;
    }

    &.dropdown-toggle-no-caret {
      &:after {
        content: none;
      }
    }
  }

  .dropdown-menu {
    margin: 0;
    padding: 0;
    outline: none;
    .b-dropdown-text {
      padding: 0;
    }
  }
}
</style>
